mixin footer
  footer.footer
    .container
      a.footer__logo(href="#!")
        img(src="./images/logo.png", alt="")

      .row.g-30.justify-content-between
        .col-lg-4
          .footer__label.footer__label--name CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ THIẾT BỊ VĂN PHÒNG MINH NAM
          nav.f-social
            a(href="#!")
              img(src="./images/icon-facebook.png", alt="")
            a(href="#!")
              img(src="./images/icon-zalo.png", alt="")
            a(href="#!")
              img(src="./images/icon-youtube.png", alt="")

        .col-lg-2
          .footer__label VỀ MINH NAM
          ul.f-menu
            each item in ['Giới thiệu', 'Sản phẩm', 'Tin tức - Sự kiện', 'Tuyển dụng - Liên hệ']
              li
                a(href="#!")= item

        .col-lg-5
          .footer__label THÔNG TIN LIÊN HỆ
          ul.f-menu
            li
              .row.g-2
                .col-auto
                  i.fas.fa-fw.fa-lg.fa-home.text-primary
                .col Lô VP số 1, Tầng 5 Tòa nhà Luxury Park Views, Đường Phạm Văn Bạch, Phường Yên Hòa, Quận Cầu Giấy, Thành phố Hà Nội
            li
              .row.g-2
                .col-auto
                  i.fas.fa-fw.fa-lg.fa-envelope.text-primary
                .col #[a(href="mailto:minhnam@minhnamhn.com.vn") minhnam@minhnamhn.com.vn]
            li
              .row.g-2
                .col-auto
                  i.fas.fa-fw.fa-lg.fa-phone-square-alt.text-primary
                .col #[span.d-inline-block #[a(href="tel:(+84) 08 3939 5568") (+84) 08 3939 5568]] &nbsp;&nbsp; #[span.d-inline-block #[a(href="tel:(+84) 0243 2272 111") (+84) 0243 2272 111]] &nbsp;&nbsp; #[span.d-inline-block Fax: #[a(href="tel:(+84) 0243 2272 777") (+84) 0243 2272 777]]

      .footer__copyright © Bản quyền thuộc minhnamhn.com.vn
