mixin footer
  footer.footer
    .container
      .footer__inner
        a.footer__logo(href="./index.html")
          img(src="./images/logo.png", alt="")
        .footer__info 2022 FARTON MITEX SDN. BHD . ALL RIGHTS RESERVERD.
