mixin footer
  footer.footer
    .container
      .footer__grid
        .footer__col.text-center
          a.footer__logo(href="./index.html")
            img(src="./images/logo.png", alt="")
          .footer__name Công ty CP Tích Hợp Dịch Vụ Số
          .footer__desc Chuyên hoạt động trong lĩnh vực Marketing Online, được thành lập từ vốn đầu tư nước ngoài, với các chuyên gia và công nghệ đến từ Nhật Bản.
          img.footer__dmca(src="./images/dmca.png", alt="")

        .footer__col
          .footer__heading Dịch vụ
          ul.f-menu
            li
              a(href="#!") Dịch vụ chắp bút
            li
              a(href="#!") Dịch vụ xuất bản
            li
              a(href="#!") Dịch vụ quốc tế
            li
              a(href="#!") Truyền thông sách
            li
              a(href="#!") Chuyển ngữ

        .footer__col
          .footer__heading Liên hệ
          ul.f-contact
            li.row.g-2
              .col-auto
                i.fas.fa-fw.fa-phone.text-primary
              .col Hotline Kinh doanh
                br
                a.text-info.fw-700(href="tel:0999 999 999") 0999 999 999
            li.row.g-2
              .col-auto
                i.fas.fa-fw.fa-phone.text-primary
              .col Hotline CSKH
                br
                a.text-info.fw-700(href="tel:0999 999 999") 0999 999 999
            li.row.g-2
              .col-auto
                i.fal.fa-fw.fa-envelope.text-primary
              .col
                a(href="mailto:contact@vietsach.com.vn") contact@vietsach.com.vn

          .mt-3
            a.footer__btn(href="#!") Nhận bản tin từ Vietsach.com.vn

        .footer__col
          .footer__heading Địa chỉ
          ul.f-contact
            li.row.g-2
              .col-auto
                i.fas.fa-fw.fa-map-marker-alt.text-primary
              .col Số 12, ngõ 942, đường Láng, Phường Láng Thượng, Quận Đống Đa, Thành phố Hà Nội, Việt Nam.
            li.row.g-2
              .col-auto
                i.fas.fa-fw.fa-map-marker-alt.text-primary
              .col Số 12, ngõ 942, đường Láng, Phường Láng Thượng, Quận Đống Đa, Thành phố Hà Nội, Việt Nam.
            li.row.g-2
              .col-auto
                i.fas.fa-fw.fa-map-marker-alt.text-primary
              .col 210 Trung kính, Cầu Giấy, Yên Hoà, Hà Nội

      .footer__copyright Copyright @ VIETSACH JSC. All right Reserved.
