mixin footer
  footer.footer
    .container
      .row
        .col-md-6.mb-20
          a.footer__logo(href="./index.html")
            img(src="./images/logo.png", alt="")

          ul.f-contact.mt-3.mt-xl-4
            li.f-contact__item
              .row.g-3
                .col-auto
                  i.fas.fa-lg.fa-fw.fa-phone-square.text-primary
                .col
                  a(href="tel:+84981045948") + 84 981 045 948

            li.f-contact__item
              .row.g-3
                .col-auto
                  i.fas.fa-lg.fa-fw.fa-envelope.text-primary
                .col
                  a(href="mailto:info@bigholding.vn") info@bigholding.vn

            li.f-contact__item
              .row.g-3
                .col-auto
                  i.fas.fa-lg.fa-fw.fa-home.text-primary
                .col Lô số 22, tầng 1 tòa R4 Royal City, số 72 Nguyễn Trãi, Phường Thượng Đình, Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam.

        .col-md-6.mb-20
          form.subscribe.mb-4.mb-xl-40(action="#!")
            h3.subscribe__title Đăng ký nhận tin
            .subscribe__group
              .input-group
                input.form-control(type="email", placeholder="Email")
                button.input-group-text Đăng ký

          .row.g-3
            .col-6
              ul.f-menu
                each item in ["Trang chủ","Giới thiệu tập đoàn","Lĩnh vực hoạt động","Dự án tiêu biểu"]
                  li
                    a(href="#!")= item
            .col-6
              ul.f-menu
                each item in ["Tin tức sự kiện","Tuyển dụng","Liên hệ"]
                  li
                    a(href="#!")= item

      .footer__copyright © Bản quyền thuộc Big Holding 2022
