mixin footer-4
  footer.footer-4
    .container
      .footer-4__grid
        .footer-4__col
          a(href="#!")
            img(height="70", src="./images/logo-footer-4.png", alt="")

          ul.f-contact-4.mt-3
            li
              .row.g-2
                .col-auto
                  i.fal.fa-fw.fa-map-marker-alt
                .col 25 Ngô Quyền - Quận Hoàn Kiếm - Hà Nội
            li
              .row.g-2
                .col-auto
                  i.fal.fa-fw.fa-envelope
                .col
                  a(href="mailto:daotao@ecomviet.vn") daotao@ecomviet.vn
            li
              .row.g-2
                .col-auto
                  i.fal.fa-fw.fa-phone
                .col
                  a(href="tel:024 2220 5365") 024 2220 5365

        .footer-4__col
          .footer-4__heading HỖ TRỢ
          ul.f-menu-4
            each item in ['Hướng dẫn mua hàng','Chính sách đổi trả','Điều khoản- Quy định','Quy trình giải quyết khiếu nại','Quyền và nghĩa vụ các bên','Quy định hàng hóa cấm','Chính sách vận chuyển','Chính sách bảo mật','Quy định đóng gói hàng hoá']
              li
                a(href="#!")= item

        .footer-4__col
          .footer-4__heading ĐỐI TÁC
          ul.f-menu-4
            each item in ['Giới thiệu về SanViet','Điều khoản chung','Quy chế hoạt động','Quy định tham gia']
              li
                a(href="#!")= item

        .footer-4__col
          .footer-4__heading ĐỐI TÁC
          ul.f-menu-4
            each item in ['Đặc sản vùng miền','Sản phẩm khác','Sản phẩm OCOP']
              li
                a(href="#!")= item

        .footer-4__col
          .footer-4__heading KÊT NỐI VỚI CHÚNG TÔI

          ul.f-social-4
            li
              a(href="#!")
                span.f-social__icon
                  i.fab.fa-facebook-f
                span Facebook
            li
              a(href="#!")
                span.f-social__icon
                  i.fab.fa-youtube
                span Youtube
