mixin file-input
  label.file-input.js-file
    input.js-file-input(type="file", data-target="#avatar-preview")
    span.file-input__btn Chọn từ máy tính
    span.file-input__text.js-file-text Tối đa 2MB (Ảnh chân dung rõ mặt)

mixin file-input-2
  label.file-input.js-file
    input.js-file-input(type="file")
    span.file-input__btn-2
      i.fa.fa-paperclip.mr-2
      | Chọn tệp
    span.file-input__text.js-file-text (Định dạng file .doc, .docx, .pdf và dung lượng <= 2MB)

mixin file-input-3
  label.file-input.js-file
    input.js-file-input(type="file")
    span.file-input__btn-3
      i.fa.fa-upload.fa-fw.mr-2
      | Đăng tải hồ sơ lý lịch của bạn
    span.file-input__text.js-file-text

mixin file-input-4
  label.file-input.js-file
    input.js-file-input(type="file")
    span.file-input__btn-3
      i.fa.fa-upload.fa-fw.mr-2
      | Up mẫu
    span.file-input__text.js-file-text
