mixin file-input
  .file-input.js-file-upload
    label.file-input__wrapper
      input.js-file-input(type="file", data-target="#avatar-preview", multiple)
      img.file-input__icon(src="./images/icon-cloud-upload.svg", alt="")
      span.file-input__text.js-file-text Chấp nhận file .jpg, .png
    .file-input__list
    .file-input__counter Đã tải lên 10/10
