- var rest = []

mixin head(data)
  head
    title Title
    meta(charset='utf-8')
    meta(name="description", content="Description")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    // Styles
    link(rel="stylesheet", type="text/css", href="./css/libs.css")
    link(rel="stylesheet", type="text/css", href="./vendor/fontawesome-pro/css/all.min.css")
    each item in rest
      if (cssList = data[item].css)
        each css in cssList
          link(rel="stylesheet", href=css)
    link(rel="stylesheet", type="text/css", href="./css/app.css?v=1.6")

    // Scripts
    script(src="./js/libs.js", defer)
    each item in rest
      if (jsList = data[item].js)
        each js in jsList
          script(src=js, defer)
    script(src="./js/app.js?v=1.6", defer)
