include ../modules/head/head
include ../modules/utils/utils
include ../modules/card/card
include ../modules/form/form
include ../modules/widgets/widgets
include ../modules/header/header
include ../modules/footer/footer
include ../modules/modal/modal
include ../modules/swiper/swiper
include ../modules/social/social
include ../modules/sticky/sticky
include ../modules/sprites/sprites

block define

doctype html
html(lang="vi")
  +head(head)
  body(class=addBodyClass?addBodyClass:'')
    //- +sprites

    .page
      .page__content

        // main content
        block content
