mixin navbar
  section.navbar.js-navbar
    .navbar__backdrop.js-navbar-toggle
    .navbar__wrapper
      .navbar__header
        a.navbar__logo(href="./index.html")
          img(src="./images/logo.webp", alt="")
        button.btn-toggle.text-white.js-navbar-toggle.ms-auto
      .navbar__body
        block
