mixin navbar
  section.navbar.js-navbar
    .navbar__backdrop.js-navbar-toggle
    .navbar__wrapper
      .navbar__header
        a.navbar__logo(href="./index.html")
          .header__name Bộ công thương
            br
            | Việt Nam
          //- .header__name-2 HỆ THỐNG QUẢN LÝ TRUY XUẤT NGUỒN GỐC
        button.btn-toggle.js-navbar-toggle.ms-auto
      .navbar__body
        block
