mixin navbar
  section.navbar.js-navbar
    .navbar__backdrop.js-navbar-toggle
    .navbar__wrapper
      .navbar__header
        a.header__logo.logo(href="./index.html")
          img(src="./images/logo.svg", alt="")
        button.btn-toggle.js-navbar-toggle.ms-auto
      .navbar__body
        block
