.bg-primary-light {
  background-color: var(--bs-primary-light);
}

.bg-secondary-light {
  background-color: var(--bs-secondary-light);
}

.bg-success-light {
  background-color: var(--bs-success-light);
}

.bg-danger-light {
  background-color: var(--bs-success-light);
}

.bg-info-light {
  background-color: var(--bs-info-light);
}
