html {
  scroll-padding-top: 54px;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  &__content {
    flex-grow: 1;
  }
}

.button {
  display: inline-block;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  min-width: 210px;
  text-transform: uppercase;
  color: $white;
  background: $yellow-dark;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: darken($yellow-dark, 10%);
    color: $white;
    text-decoration: none;
  }

  &--primary {
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  @include media-breakpoint-down(xl) {
    font-size: 12px;
    padding: 6px 10px;
    min-width: 160px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 14px;

  &__item {
    display: inline-block;
    font-weight: 500;
    padding: 6px 18px;
    border-radius: 4px;
    color: $green-dark;
    background-color: #e3f6f2;

    &:hover {
      color: $green-dark;
      background-color: darken(#e3f6f2, 10%);
      text-decoration: none;
    }

    &.active {
      color: $white;
      font-weight: 700;
      background-color: $green;
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 12px;
    gap: 8px;

    &__item {
      padding: 4px 12px;
    }
  }
}

.p-filter {
  &__menu {
    margin-top: 40px;

    .menu {
      border: 0;
    }

    .menu-item {
      &:first-child {
        border-top: 0;
      }
    }

    .menu-link {
      font-size: 16px;
      font-weight: 700;
      padding: 12px 30px 12px 0;
    }

    .menu-toggle {
      justify-content: flex-end;
      width: 100%;
      border: 0;

      &::before {
        width: 30px;
      }
    }

    .menu-sub {
      background: 0;
      padding: 0 0 20px;
    }
  }

  @include media-breakpoint-down(md) {
    &__menu {
      margin-top: 24px;

      .menu-link {
        font-size: 14px;
      }
    }
  }
}

.n-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 18px;
  background-color: #419481;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
  }
}

.custom-daterangepicker {
  width: 220px;
  box-shadow: 0 1px 8px rgba(#000, 0.25);
  border-radius: 4px;

  .input-group-text {
    border: 0;
    padding-right: 0;
  }

  .form-control {
    border: 0;
  }
}

/* Custom InfoWindow CSS */
.n-info-window {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  color: #333;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 250px;

  &__frame {
    @include frame('rect', 53%);
  }

  &__body {
    padding: 12px;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__desc {
    font-size: 14px;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: 0;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    border-radius: 50%;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #EB5757;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 12px;
      border-top: 2px solid #EB5757;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.gmnoprint .gmnoprint {
  display: none;
}
