.text-info {
  color: var(--bs-info) !important;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  &__content {
    flex-grow: 1;
  }
}

.sidebar {
  &__header {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    &__backdrop {
      width: 100vw;
      height: 100vh;
      z-index: 1999;
      background-color: rgba(#000, 0.3);
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(100%);
      opacity: 0;
      transition: translate 0s 0.3s, opacity 0.3s;
    }

    &__content {
      width: 300px;
      max-width: 100%;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 2000;
      background-color: #fff;
      padding: 16px;
      box-shadow: 0 10px 25px rgba(#000, 0.16);
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(120%);
      transition: 0.3s;
    }

    &__header {
      display: flex;
      align-items: center;
    }

    &__close {
      display: inline-block;
      border: 1px solid $border-color;
      border-radius: 8px;
      background: 0;
      font-size: 12px;
      padding: 4px 12px;
      background-color: var(--bs-light);
    }

    &.is-show &__backdrop {
      transform: translateX(0);
      opacity: 1;
      transition: translate 0s, opacity 0.3s;
    }

    &.is-show &__content {
      transform: translateX(0);
    }
  }
}

.home-4 {
  .header {
    &__wrapper {
      background-color: #0C6BAB;
    }

    &__logo {
      img {
        height: 35px;
      }
    }
  }

  .toppage {
    background-color: #262626;
    border: 0;
    color: $white;

    &__nav {
      a {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .search {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;

    &__suggestions {
      display: none;
    }
  }

  .search-btn {
    display: none;
  }

  .h-4-info {
    display: flex;

    &__item {
      color: $white;

      &:hover {
        color: $white;
        text-decoration: none;
      }

      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border: 1px solid var(--bs-info);
      border-radius: 50px;
      color: var(--bs-info);
    }

    &__content {
      display: none;
    }
  }

  .navigation {
    background-color: #0C6BAB;

    &__inner {
      padding: 0;
      height: 46px;
    }
  }

  .banner-slider {
    &__pagination {
      bottom: 8px;
    }

    &__prev,
    &__next {
      width: 28px;
      height: 34px;
      background-color: $white;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  .navbar {
    &__header {
      background-color: var(--bs-secondary);
    }

    .btn-toggle {
      color: $white;
    }
  }

  .menu-nav {
    border-top: 0;
  }

  @include media-breakpoint-up(xl) {
    .header {
      &__inner {
        padding-top: 24px;
        align-items: flex-start;
      }

      &__logo {
        margin: 0 0 40px;

        img {
          height: 40px;
        }
      }
    }

    .search {
      width: 560px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 24px;
      left: 254px;

      .input-group-text {
        color: $white;
        background-color: var(--bs-info);
        border-color: var(--bs-info) !important;
        padding-left: 16px;
        padding-right: 16px;
      }

      &__suggestions {
        display: flex;
        gap: 8px;
        margin-top: 8px;

        a {
          font-size: 12px;
          color: #BEF4FF;

          &:hover {
            color: $white;
            text-decoration: underline;
          }
        }
      }
    }

    .h-4-info {
      &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-right: 16px;
          padding-right: 16px;
          border-right: 1px solid rgba(#fff, 0.3);
        }
      }

      &__icon {
        margin-right: 8px;
      }

      &__content {
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.2;
      }

      &__title {
        font-weight: 400;
        color: var(--bs-info);
      }
    }

    .navigation {
      &__inner {
        height: 40px;
      }
    }

    .menu-root {
      & > .menu-item > .menu-link {
        color: #BEF4FF;
      }
    }

    .menu-nav {
      &__title {
        border-radius: 4px 4px 0 0;
      }

      .menu-product {
        top: calc(100% + 16px);
      }
    }

    .menu-product {
      display: block !important;
    }

    .banner-grid {
      &__col {
        position: relative;

        &:first-child {
          width: 66.66%;
        }

        &:last-child {
          width: 33.33%;
        }
      }
    }
  }
}

.text-primary {
  color: var(--bs-primary) !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.text-secondary {
  color: var(--bs-secondary) !important;
}

.bg-secondary {
  background-color: var(--bs-secondary) !important;
}

.text-light {
  color: var(--bs-light) !important;
}

.bg-light {
  background-color: var(--bs-light) !important;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);

  &:hover {
    background-color: var(--bs-dark-primary);
    border-color: var(--bs-dark-primary);
  }

  &:disabled {
    background-color: var(--bs-light-primary);
    border-color: var(--bs-light-primary);
  }
}

.btn-outline-primary {
  color: var(--bs-primary);
  border-color: var(--bs-primary);

  &:hover {
    background-color: var(--bs-dark-primary);
    border-color: var(--bs-dark-primary);
  }
}

a {
  color: var(--bs-primary);

  &:hover {
    color: var(--bs-dark-primary);
  }
}
