.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  &__content {
    flex-grow: 1;
  }
}

.container-fluid {
  @include media-breakpoint-up(xl) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.text-gray {
  color: $text-gray !important;
}

.text-label {
  color: #1A2F36;

  a {
    color: inherit;

    &:hover {
      color: $primary;
    }
  }
}

.flex-1 {
  flex: 1 !important;
}
