body {
  --bs-primary: #6BB13E;
  --bs-light-primary: #E7F2DF;
  --bs-secondary: #5FA535;
  --text-color: #585858;
  --text-gray: #7B7B7B;
  --body-background: #F5F5F5;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-background);
  color: var(--text-color);
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

a,
button,
input,
textarea,
select {
  &:focus {
    outline: 0;
  }
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    display: inline;
    background: 0;
    font: inherit;
    margin: 0;
    padding: 0;

    &,
    &:hover {
      color: inherit;
    }

    &:hover {
      color: var(--bs-primary);
    }
  }
}

a {
  text-decoration: none;
}
