body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #434343;

  --bs-primary-darker: #1d81a7;
  --bg-video-slider-thumb: #c2dcff;

  &.page--green {
    --bs-primary: #82B53F;
    --bs-primary-darker: #82B53F;
    --bg-video-slider-thumb: #82B53F;

    .header__wrapper {
      background-image: unset;
    }

    .header__top {
      background: url('../images/header-bg.png') center/contain no-repeat;
      background-position: 100% 50%;
      background-color: var(--bs-primary);
    }

    .video-thumb-slider__prev,
    .video-thumb-slider__next {
      color: $white;
    }

    .banner-slider__content {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .banner-slider__btn {
      background: 0;
      border: 1px solid $white;
      color: $white;

      &:hover {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
      }
    }
  }

  &.page--purple {
    --bs-primary: #7517CD;
    --bs-primary-darker: #5b129f;

    .header__wrapper {
      background-image: unset;
    }

    .header__top {
      background: url('../images/header-bg.png') center/contain no-repeat;
      background-position: 100% 50%;
      background-color: var(--bs-primary);
    }

    .banner-slider__content {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .banner-slider__btn {
      background: 0;
      border: 1px solid $white;
      color: $white;

      &:hover {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
      }
    }
  }
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

a,
button,
input,
textarea,
select {
  &:focus {
    outline: 0;
  }
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    display: inline;
    background: 0;
    font: inherit;
    margin: 0;
    padding: 0;

    &,
    &:hover {
      color: inherit;
    }

    &:hover {
      color: var(--bs-primary);
    }
  }
}

a {
  text-decoration: none;
}

.text-primary {
  color: var(--bs-primary) !important;
}
