body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('../images/background.jpg') center/cover no-repeat;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 23, 23, 0.8) 0%, rgba(0, 23, 23, 0.11) 47.4%, #001717 100%);
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

a,
button,
input,
textarea,
select {
  &:focus {
    outline: 0;
  }
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    display: inline;
    background: 0;
    font: inherit;
    margin: 0;
    padding: 0;

    &,
    &:hover {
      color: inherit;
    }

    &:hover {
      color: $primary;
    }
  }
}

a {
  text-decoration: none;
}
