mixin sprites
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" display="none" width="0" height="0" version="1.1">
    <defs>
      <symbol id="icon-task-queue" viewBox="0 0 18 19" fill="transparent">
        <path d="M9.04492 7.00391H13.2449" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.25391 7.00371L4.85391 7.60371L6.65391 5.80371" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.04492 12.6035H13.2449" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.25391 12.6043L4.85391 13.2043L6.65391 11.4043" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.35 17.5H11.15C15.15 17.5 16.75 15.9 16.75 11.9V7.1C16.75 3.1 15.15 1.5 11.15 1.5H6.35C2.35 1.5 0.75 3.1 0.75 7.1V11.9C0.75 15.9 2.35 17.5 6.35 17.5Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
      </symbol>
      <symbol id="icon-clock" viewBox="0 0 18 19" fill="none">
        <path d="M12.2191 12.0442L9.73908 10.5642C9.30708 10.3082 8.95508 9.6922 8.95508 9.1882V5.9082" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2.85 4.7C1.85 6.036 1.25 7.7 1.25 9.5C1.25 13.916 4.834 17.5 9.25 17.5C13.666 17.5 17.25 13.916 17.25 9.5C17.25 5.084 13.666 1.5 9.25 1.5C8.106 1.5 7.01 1.74 6.026 2.18" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
      </symbol>
      <symbol id="icon-truck" viewBox="0 0 17 17" fill="none">
        <path d="M8.99419 10.5465H0.80814C0.503023 10.5465 0.25 10.2935 0.25 9.98837V4.03488C0.25 2.08512 1.83512 0.5 3.78488 0.5H10.4826C10.7877 0.5 11.0407 0.753023 11.0407 1.05814V8.5C11.0407 9.63116 10.1253 10.5465 8.99419 10.5465ZM1.36628 9.43023H8.99419C9.50767 9.43023 9.92442 9.01349 9.92442 8.5V1.61628H3.78488C2.45279 1.61628 1.36628 2.70279 1.36628 4.03488V9.43023Z" fill="currentColor"/>
        <path d="M13.4593 15.0115H12.7151C12.41 15.0115 12.157 14.7585 12.157 14.4534C12.157 13.9399 11.7402 13.5231 11.2267 13.5231C10.7133 13.5231 10.2965 13.9399 10.2965 14.4534C10.2965 14.7585 10.0435 15.0115 9.73837 15.0115H6.76163C6.45651 15.0115 6.20349 14.7585 6.20349 14.4534C6.20349 13.9399 5.78674 13.5231 5.27326 13.5231C4.75977 13.5231 4.34302 13.9399 4.34302 14.4534C4.34302 14.7585 4.09 15.0115 3.78488 15.0115H3.0407C1.50023 15.0115 0.25 13.7613 0.25 12.2208V9.98824C0.25 9.68312 0.503023 9.4301 0.80814 9.4301H8.99419C9.50767 9.4301 9.92442 9.01335 9.92442 8.49986V3.29056C9.92442 2.98545 10.1774 2.73242 10.4826 2.73242H11.8519C12.5886 2.73242 13.2658 3.12685 13.6305 3.76685L14.903 5.99196C14.9998 6.16312 14.9998 6.37893 14.903 6.5501C14.8063 6.72126 14.6202 6.82545 14.4193 6.82545H13.4593C13.3551 6.82545 13.2733 6.90731 13.2733 7.01149V9.24405C13.2733 9.34824 13.3551 9.4301 13.4593 9.4301H15.6919C15.997 9.4301 16.25 9.68312 16.25 9.98824V12.2208C16.25 13.7613 14.9998 15.0115 13.4593 15.0115ZM13.1988 13.8952H13.4593C14.3821 13.8952 15.1337 13.1436 15.1337 12.2208V10.5464H13.4593C12.7449 10.5464 12.157 9.95847 12.157 9.24405V7.01149C12.157 6.29707 12.7374 5.70917 13.4593 5.70917L12.663 4.31754C12.4993 4.02731 12.1867 3.8487 11.8519 3.8487H11.0407V8.49986C11.0407 9.63103 10.1253 10.5464 8.99419 10.5464H1.36628V12.2208C1.36628 13.1436 2.11791 13.8952 3.0407 13.8952H3.30117C3.54675 13.0394 4.33558 12.4068 5.27326 12.4068C6.21093 12.4068 6.99977 13.0394 7.24535 13.8952H9.26209C9.50767 13.0394 10.2965 12.4068 11.2342 12.4068C12.1719 12.4068 12.9533 13.0394 13.1988 13.8952Z" fill="currentColor"/>
        <path d="M5.27307 16.5002C4.14191 16.5002 3.22656 15.5849 3.22656 14.4537C3.22656 13.3226 4.14191 12.4072 5.27307 12.4072C6.40424 12.4072 7.31959 13.3226 7.31959 14.4537C7.31959 15.5849 6.40424 16.5002 5.27307 16.5002ZM5.27307 13.5235C4.75959 13.5235 4.34284 13.9402 4.34284 14.4537C4.34284 14.9672 4.75959 15.384 5.27307 15.384C5.78656 15.384 6.20331 14.9672 6.20331 14.4537C6.20331 13.9402 5.78656 13.5235 5.27307 13.5235Z" fill="currentColor"/>
        <path d="M11.2262 16.5002C10.095 16.5002 9.17969 15.5849 9.17969 14.4537C9.17969 13.3226 10.095 12.4072 11.2262 12.4072C12.3574 12.4072 13.2727 13.3226 13.2727 14.4537C13.2727 15.5849 12.3574 16.5002 11.2262 16.5002ZM11.2262 13.5235C10.7127 13.5235 10.296 13.9402 10.296 14.4537C10.296 14.9672 10.7127 15.384 11.2262 15.384C11.7397 15.384 12.1564 14.9672 12.1564 14.4537C12.1564 13.9402 11.7397 13.5235 11.2262 13.5235Z" fill="currentColor"/>
        <path d="M15.6911 10.5462H13.4586C12.7442 10.5462 12.1562 9.95829 12.1562 9.24387V7.01131C12.1562 6.29689 12.7442 5.70898 13.4586 5.70898H14.4186C14.6195 5.70898 14.8056 5.81317 14.9023 5.99178L16.1749 8.22433C16.2195 8.30619 16.2493 8.40294 16.2493 8.49968V9.98805C16.2493 10.2932 15.9962 10.5462 15.6911 10.5462ZM13.4586 6.82526C13.3544 6.82526 13.2725 6.90712 13.2725 7.01131V9.24387C13.2725 9.34805 13.3544 9.42991 13.4586 9.42991H15.133V8.64852L14.0911 6.82526H13.4586Z" fill="currentColor"/>
      </symbol>
      <symbol id="icon-tick-circle" viewBox="0 0 17 17" fill="none">
        <path d="M8.25 16.5C3.83698 16.5 0.25 12.913 0.25 8.5C0.25 4.08698 3.83698 0.5 8.25 0.5C12.663 0.5 16.25 4.08698 16.25 8.5C16.25 12.913 12.663 16.5 8.25 16.5ZM8.25 1.61628C4.45465 1.61628 1.36628 4.70465 1.36628 8.5C1.36628 12.2953 4.45465 15.3837 8.25 15.3837C12.0453 15.3837 15.1337 12.2953 15.1337 8.5C15.1337 4.70465 12.0453 1.61628 8.25 1.61628Z" fill="currentColor"/>
        <path d="M7.19361 11.164C7.04478 11.164 6.90338 11.1045 6.79919 11.0003L4.69311 8.89426C4.4773 8.67845 4.4773 8.32124 4.69311 8.10543C4.90892 7.88961 5.26613 7.88961 5.48195 8.10543L7.19361 9.81705L11.0187 5.99194C11.2345 5.77612 11.5918 5.77612 11.8076 5.99194C12.0234 6.20775 12.0234 6.56496 11.8076 6.78078L7.58803 11.0003C7.48385 11.1045 7.34245 11.164 7.19361 11.164Z" fill="currentColor"/>
      </symbol>
      <symbol id="icon-undo" viewBox="0 0 18 15" fill="none">
        <path d="M3.95793 13.7094H11.8301C14.546 13.7094 16.7502 11.5052 16.7502 8.7893C16.7502 6.07339 14.546 3.86914 11.8301 3.86914H1.00586" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M3.2691 6.32918L0.75 3.81012L3.2691 1.29102" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
      </symbol>
      <symbol id="icon-tag-cross" viewBox="0 0 18 15" fill="none">
        <path d="M7.87754 14.0974H13.2515C15.4587 14.0974 17.25 12.306 17.25 10.0989V4.90083C17.25 2.69367 15.4587 0.902344 13.2515 0.902344H7.87754C6.74992 0.902344 5.67833 1.37417 4.91862 2.21385L2.09568 5.31668C0.968106 6.55621 0.968106 8.4435 2.09568 9.68303L4.91862 12.7859C5.67833 13.6255 6.74992 14.0974 7.87754 14.0974Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12.4525 9.4749L8.50195 5.52441" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"/>
        <path d="M8.50195 9.4749L12.4525 5.52441" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"/>
      </symbol>
    </defs>
  </svg>

mixin svg-icon(icon='', viewBox='0 0 512 512')
  svg(data-icon=icon, viewBox=viewBox)
    use(xlink:href="#" + icon)
