mixin top-page
  .toppage
    .container
      .toppage__inner
        .toppage__title.d-none.d-lg-block Sàn thương mại điện tử Hợp nhất
        nav.toppage__nav
          a(href="#!") Trang chủ
          a(href="#!") Giới thiệu
          a.me-lg-50(href="#!") Liên hệ
          a.ms-auto.ms-lg-0(href="#!")
            i.fal.fa-sign-in.me-2.text-info
            | Đăng nhập
          a(href="#!")
            i.fal.fa-user-plus.me-2.text-info
            | Đăng ký
