.ct-form {
  margin: 0 auto;
  max-width: 800px;
  font-size: 14px;

  .col-form-label {
    color: #666;
    font-weight: 700;
    text-align: right;
    font-size: 14px;
  }

  .btn,
  .form-control,
  .form-select {
    font-size: 14px;
  }

  @include media-breakpoint-down(lg) {
    .col-form-label {
      text-align: left;
    }
  }
}
