.doc-search {
  &__label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
  }

  &__group {
    background-color: $white;
    border-radius: 4px;
    padding: 10px;
  }

  &__btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: $white;
    text-transform: uppercase;
    border: 0;
    background: $primary;
    padding: 12px 40px;
    border-radius: 4px;

    &:hover {
      background-color: darken($primary, 8%);
    }
  }

  .input-group-text {
    border: 0;
  }

  .form-control {
    border: 0;
    font-size: 16px;
    padding-left: 4px;
  }

  @include media-breakpoint-down(xl) {
    &__label {
      font-size: 16px;
      margin-bottom: 8px;
    }

    &__group {
      padding: 4px;
    }

    &__btn {
      font-size: 12px;
      padding: 8px 30px;
    }

    .form-control {
      font-size: 14px;
    }
  }
}

.doc-table {
  &__title {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  th {
    background-color: $primary;
    color: $white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 24px;
    white-space: nowrap;
    border-bottom: 0;

    &:first-child {
      border-radius: 4px 0 0 0;
    }

    &:last-child {
      border-radius: 0 4px 0 0;
    }
  }

  td {
    background-color: $white;
    padding: 24px;
    vertical-align: top;
  }

  tbody tr:hover td {
    background-color: $light;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
  }

  tr:last-child td:first-last {
    border-radius: 0 0 4px 0;
  }

  @include media-breakpoint-down(xl) {
    font-size: 13px;

    th {
      padding: 10px 16px;
    }

    td {
      padding: 16px;
    }
  }

  @include media-breakpoint-down(lg) {
    font-size: 12px;

    th {
      padding: 8px 12px;
    }

    td {
      padding: 8px 12px;

      &:nth-child(2) {
        min-width: 160px;
      }
    }
  }
}
