.game {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: 20vh;

    * {
        user-select: none;
    }

    &__bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &__sky {
        width: 100%;
        min-height: 60%;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        z-index: -3;
        top: 0;
        left: 0;
    }

    &__stage {
        width: 100%;
        position: absolute;
        z-index: -2;
        top: 66%;
        left: 0;
    }

    &__title {
        font-family: $font-mightiest;
        font-size: 65px;
        text-transform: uppercase;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 6vh;
    }

    &__unbox {
        width: 50%;
        height: 40%;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: 50% 50%;
        }
    }

    &.picked &__title {
        transition: 1s;
        transition-timing-function: cubic-bezier(0.17, -0.08, 0.55, 0.67);
        transform: translate(0, -100%);
        opacity: 0;
    }

    &.picked .giftbox__item {
        pointer-events: none;

        &.active {
            top: 40%;
            left: 50%;
            transition: 0.5s;
            animation-name: tilt-shaking;
            animation-duration: 0.25s;
            animation-delay: 0.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        &:not(.active) .giftbox__img {
            transition: 0.3s !important;
            transform: scale(0) translate(-50%, -50%) !important;
            opacity: 0 !important;
        }
    }

    &.show {
        .box {
            display: block;

            &__box {
                animation-duration: 0.9s;
                animation-delay: 0;
                animation-name: rotateIn;
                animation-timing-function: linear;
            }

            &__gift {
                img {
                    animation-duration: 1.8s;
                    animation-delay: 0;
                    animation-name: giftRotateIn;
                    animation-timing-function: linear;
                }
            }
        }

        .giftbox {
            animation-duration: 0.3s;
            animation-delay: 0;
            animation-name: giftFadeOut;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        .congrat {
            &__title,
            &__subtitle,
            &__content,
            &__last {
                animation-name: slideInLeft;
                animation-duration: 0.3s;
                animation-delay: 1s;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
            }

            &__subtitle {
              animation-delay: 1.3s;
            }

            &__content {
              animation-delay: 1.5s;
            }

            &__last {
              animation-delay: 1.7s;
            }
        }

        .game-print-btn {
            animation-name: slideInLeft;
            animation-duration: 0.3s;
            animation-delay: 1.9s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }

    &.first .box__first,
    &.second .box__second,
    &.third .box__third,
    &.fourth .box__fourth,
    &.consolation .box__consolation {
        display: block;
    }

    &.first .congrat.first,
    &.second .congrat.second,
    &.third .congrat.third,
    &.fourth .congrat.fourth,
    &.consolation .congrat.consolation {
        transform: translateX(0);
    }

    @include media-breakpoint-down(md) {
        &__title {
            width: 100%;
            top: 20%;
            left: 0;
            font-size: 30px;
            text-transform: uppercase;
        }
    }
}

.giftbox {
    width: 40vw;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__grid {
        &::before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 66.66%;
        }
    }

    &__item {
        width: 30%;
        height: 45%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
            transform: translate(-50%, -50%) scale(1.2);
        }

        &:nth-child(1) {
            top: 25%;
            left: 16.666666%;
        }

        &:nth-child(2) {
            top: 25%;
            left: 50%;
        }

        &:nth-child(3) {
            top: 25%;
            left: 86.666666%;
        }

        &:nth-child(4) {
            top: 75%;
            left: 16.666666%;
        }

        &:nth-child(5) {
            top: 75%;
            left: 50%;
        }

        &:nth-child(6) {
            top: 75%;
            left: 86.666666%;
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }
    }

    &__img {
        opacity: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        animation-duration: 0.8s;
        animation-delay: 0;
        animation-name: rotateIn;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    &__item:nth-child(1) .giftbox__img {
      animation-delay: 0.1s;
    }

    &__item:nth-child(2) .giftbox__img {
      animation-delay: 0.3s;
    }

    &__item:nth-child(3) .giftbox__img {
      animation-delay: 0.5s;
    }

    &__item:nth-child(4) .giftbox__img {
      animation-delay: 0.7s;
    }

    &__item:nth-child(5) .giftbox__img {
      animation-delay: 0.9s;
    }

    &__item:nth-child(6) .giftbox__img {
      animation-delay: 1.1s;
    }
}

.box {
    display: none;
    width: 70vw;
    height: 90vh;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 55%;
    left: 30%;
    z-index: 100;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 68.26%;
    }

    &__box {
        height: 100%;
        width: auto;
        max-width: unset;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__gift {
        width: 50%;
        height: 50%;
        z-index: 10;
        position: absolute;
        top: 27.5%;
        left: 25%;
    }

    &__img {
        display: none;
        width: 100%;
        height: 100%;

        &.box__third,
        &.box__fourth {
            width: 80%;
            height: 80%;
            left: 10%;
            top: 10%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: 50% 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    @include media-breakpoint-down(md) {
        width: 170%;
    }
}

.congrat {
    transform: translateX(100vw);
    width: 50%;
    text-align: center;
    font-size: 36px;
    line-height: 1.5;
    font-family: $font-mightiest;
    text-shadow: 0 1px 1px rgba(#000, 0.3);
    position: absolute;
    top: 20%;
    right: 0;

    &__title {
        font-size: 2.75em;
        margin-bottom: 0.1em;
        line-height: 1;
        color: $danger;
        text-transform: uppercase;
        text-shadow: 0 1px 1px #fff, 0 2px 6px rgba(0, 0, 0, 0.7);
        opacity: 0;
    }

    &__subtitle {
        transform: translateY(100px);
        opacity: 0;
    }

    &__content {
        font-size: 2em;
        line-height: 1;
        margin-top: 0.05em;
        margin-bottom: 0.2em;
        color: $danger;
        text-shadow: 0 1px 1px #fff, 0 2px 6px rgba(0, 0, 0, 0.7);
        transform: translateY(100px);
        opacity: 0;
    }

    &__last {
        transform: translateY(100px);
        opacity: 0;
    }

    @include media-breakpoint-down(md) {
        display: block;
        width: 100%;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        top: 76px;
    }
}

.game-print-btn-wrap {
    position: absolute;
    z-index: 100;
    bottom: 20vh;
    left: 75vw;
    transform: translateX(-50%);
}

.game-print-btn {
    opacity: 0;
    font-family: $font-mightiest;
    font-size: 20px;
    line-height: 30px;
    padding: 5px 100px;
    border-radius: 30px;
    text-transform: uppercase;
    border: 1px solid $black;
    transition: 0.2s;

    &:hover {
        background-color: darken($secondary, 10%);
    }
}

@keyframes tilt-shaking {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(5deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(0eg);
    }
    75% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes giftFadeOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.5);
    }
}

@keyframes rotateIn {
    0% {
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    60% {
        transform: rotate3d(0, 0, 1, 30deg);
        opacity: 0.8;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes giftRotateIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    30% {
        transform: scale(0);
        opacity: 0;
    }

    70% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    90%,
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
