.banner {
  position: relative;
  z-index: 1;

  &__bg {
    display: block;
    width: 100%;
    height: 170vh;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 80px);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }

  &__tag {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 19px;
    border: 1px solid $white;
    border-radius: 16px;
    color: $white;
    background: $gradient;
  }

  &__title {
    font-size: 80px;
    font-weight: 700;
    color: $white;
    line-height: 1.1;
    margin-top: 16px;
  }

  &__subtitle {
    font-size: 20px;
    color: $white;
    margin-top: 1em;
    margin-bottom: 1.5em;
  }

  &__btn {
    display: inline-flex;
    padding: 10px 12px;
    border: 1px solid $white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 36px;
    background-color: rgba(#fff, 0.08);
    transition: 0.2s;

    &-inner {
      padding: 10px 24px;
      background-color: $white;
      border-radius: 25px;

      span {
        @include text-gradient();
      }
    }

    &:hover {
      background-color: rgba(#fff, 0.2);
    }

    &:hover &-inner {
      background: $gradient;

      span {
        background: 0;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    &__tag {
      font-size: 12px;
    }

    &__title {
      font-size: 60px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__btn {
      font-size: 14px;
      padding: 8px 10px;

      &-inner {
        padding: 8px 20px;
      }
    }
  }

  @include media-breakpoint-down(xl) {
    &__content {
      max-height: calc(100vh - 60px);
    }
  }

  @include media-breakpoint-down(lg) {
    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__btn {
      font-size: 13px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__subtitle {
      margin: 20px 0 30px;
    }

    &__title {
      margin-top: 20px;
    }
  }
}

.banner-2 {
  position: relative;
  z-index: 1;

  &__bg {
    display: block;
    width: 100%;
    height: 130vh;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 80px);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px 4px 6px;
    border: 1px solid $white;
    border-radius: 16px;
    color: $white;
    background: $gradient;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 10px;
  }

  &__subtitle {
    font-size: 20px;
    color: $text-gray;
    margin-top: 8px;
  }

  &__desc {
    max-width: 456px;
    font-size: 16px;
    margin-top: 14px;
  }

  &__btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 8px;
    background: $gradient;
    color: $white;

    &:hover {
      color: $white;
      opacity: 0.8;
    }
  }

  @include media-breakpoint-down(lg) {
    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__desc {
      max-width: 300px;
      font-size: 14px;
      margin-top: 8px;
    }

    &__btn {
      padding: 10px 24px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__bg {
      height: 110vh;
    }

    &__content {
      justify-content: flex-end;
    }
  }
}

.s-follow {
  position: relative;
  z-index: 1;

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
  }
}
