.news-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;

  &__item {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    padding: 10px 20px;
    color: $gray;
    background-color: $gray-light;
    border-radius: 4px;
    transition: 0.3s;

    &:hover,
    &.active {
      background-color: $danger;
      color: $white;
    }
  }

  @include media-breakpoint-down(xxl) {
    margin-bottom: 40px;
    gap: 8px;

    &__item {
      font-size: 16px;
      padding: 8px 14px;
    }
  }

  @include media-breakpoint-down(xxl) {
    margin-bottom: 30px;
    gap: 6px;

    &__item {
      font-size: 13px;
      padding: 6px 12px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 24px;
    gap: 4px;

    &__item {
      font-size: 12px;
    }
  }
}
