.list-page-grid {
  display: grid;
  grid-template-columns: 300px calc(100% - 330px);
  grid-gap: 30px;

  &__aside {
    grid-column: 1 / span 1;
  }

  &__main {
    grid-column: 2 / span 1;
    order: 1;
  }

  @include media-breakpoint-down(lg) {
    display: block;

    &__main {
      margin-bottom: 30px;
    }
  }
}

.list-page-grid-2 {
  display: grid;
  grid-template-columns: 380px calc(100% - 410px);
  grid-gap: 30px;

  &__aside {
    grid-column: 1 / span 1;
  }

  &__main {
    grid-column: 2 / span 1;
    order: 1;
  }

  @include media-breakpoint-down(xl) {
    display: block;

    &__main {
      margin-bottom: 30px;
    }
  }
}

.pd-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 16px;

  @media (max-width: 1699px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @include media-breakpoint-down(xxl) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-breakpoint-down(xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-down(sm) {
    grid-gap: 10px;
  }
}

.pd-grid-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;

  @media (max-width: 1699px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @include media-breakpoint-down(xxl) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-down(sm) {
    grid-gap: 10px;
  }
}

.detail-grid {
  display: grid;
  grid-template-columns: 540px 1fr 380px;
  grid-gap: 20px;

  @media (max-width: 1699px) {
    grid-template-columns: 440px 1fr 300px;
  }

  @include media-breakpoint-down(xl) {
    grid-template-columns: 440px 1fr;

    &__col {
      &:nth-child(3) {
        grid-column: span 2;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    display: block;

    &__col {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.pd-detail {
  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__info {
    width: 100%;

    td {
      padding-top: 5px;
      padding-bottom: 5px;

      &:first-child {
        padding-right: 16px;
        white-space: nowrap;
      }
    }
  }

  &__tab {
    box-shadow: inset 0 -1px 0 0 $border-color;
    margin-bottom: 24px;

    .nav-item {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }

    .nav-link {
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;
      color: #585858;
      padding: 8px 0;

      &.active {
        color: $primary;
        box-shadow: inset 0 -2px 0 0 $primary;
      }
    }
  }

  &__tab-content {
    color: #666;
  }

  @include media-breakpoint-down(xxl) {
    &__title {
      font-size: 18px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__tab {
      .nav-item {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }

      .nav-link {
        font-size: 14px;
      }
    }
  }
}

.pd-pricing {
  padding: 16px;
  background-color: rgba($primary, 0.1);

  &__title {
    font-size: 14px;
    color: $text-gray;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: $white;
    padding: 12px;
  }

  &__item {
    flex-grow: 1;
  }

  &__price {
    font-size: 28px;
    font-weight: 600;
    color: $primary;

    span {
      font-size: 14px;
      font-weight: 400;
      color: $text-gray;
      margin-left: 3px;
    }
  }

  @include media-breakpoint-down(xxl) {
    &__price {
      font-size: 24px;
    }
  }
}

.pd-share {
  display: flex;
  align-items: center;
  color: #666;
}
