.filter {
  font-size: 14px;

  &__box {
    display: none;
    background-color: $white;
    box-shadow: 0 1px 10px rgba(#000, 0.16);
    padding: 20px;
  }

  &__label {
    font-size: 20px;
    font-weight: 700;
    color: $primary;
    margin-bottom: 20px;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @include media-breakpoint-up(lg) {
    &__box {
      display: block !important;
    }
  }

  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }
}

.recruit-search {
  .form-control {
    font-size: 14px;
    height: 50px;
    padding: 8px 12px;
  }

  .input-group-text {
    background-color: $primary;
    border-color: $primary;
    text-align: center;
    justify-content: center;
    color: $white;
    border-radius: 0;
    width: 50px;

    &:hover {
      color: $white;
      background-color: darken($primary, 5%);
    }
  }

  @include media-breakpoint-up(xl) {
    .form-control {
      height: 60px;
      font-size: 16px;
    }

    .input-group-text {
      width: 60px;
      font-size: 20px;
    }
  }
}

.subscribe-form {
  border-top: 1px solid $border-color;
  margin-top: 50px;
  padding-top: 50px;
  font-size: 14px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: $primary;
    margin-bottom: 16px;
  }

  &__desc {
    margin-bottom: 16px;
  }

  &__contact {
    a {
      color: inherit;

      &:hover {
        color: $secondary;
      }
    }
  }

  .button {
    font-size: 15px;
    padding: 14px 30px;
  }

  @include media-breakpoint-up(xl) {
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__desc {
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-up(xxl) {
    font-size: 16px;

    &__title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    &__desc {
      margin-bottom: 30px;
    }
  }
}
