.space-nav {
    position: relative;
    z-index: 10;

    &__wrapper {
        width: 100%;
        padding-top: 12px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }
}
