.s-space {
    &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 8px;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 8px;
    }

    &__desc {
        text-align: center;
        margin-bottom: 28px;
    }

    @include media-breakpoint-down(lg) {
        &__subtitle {
            font-size: 14px;
        }
        &__title {
            font-size: 20px;
        }

        &__desc {
            margin-bottom: 20px;
        }
    }
}
