mixin btn-movetop
  button.btn-movetop(type="button", data-target="body")
    i.fa.fa-arrow-up

mixin phone-ring
  a.phone-ring(href="#!")
    span.phone-ring__icon
      i.fa.fa-phone
    span.phone-ring__text 0123.456.789

mixin sticky-btns
  .sticky-btns
    .sticky-btns__wrapper
      a.sticky-btns__item(href="tel:0987.654.321")
        .sticky-btns__icon
          i.fal.fa-fw.fa-users
        span Liên hệ
      a.sticky-btns__item(href="tel:0987.654.321")
        .sticky-btns__icon
          img(src="./images/icon-zalo-white.png", alt="")
        span Tư vấn
      a.sticky-btns__item(href="tel:0987.654.321")
        .sticky-btns__icon
          i.fas.fa-fw.fa-phone
        span Hotline
      a.sticky-btns__item.btn-movetop(href="#!")
        .sticky-btns__icon
          i.fal.fa-fw.fa-lg.fa-angle-double-up
        span Lên đầu
    //- a.sticky-btns__toggle(href="#!")
    //-   .sticky-btns__icon
    //-     img(src="./images/icon-grid.png", alt="")
    //-   span Liên hệ
