mixin btn-movetop
  button.btn-movetop(type="button", data-target="body")
    i.fa.fa-arrow-up

mixin phone-ring
  a.phone-ring(href="#!")
    span.phone-ring__icon
      i.fa.fa-phone
    span.phone-ring__text 0123.456.789

mixin sticky-btns
  nav.sticky-btns
    a.sticky-btns__item(href="#!")
      img(src="./images/icon-envelope-white.svg", alt="")
    a.sticky-btns__item.sticky-btns__item--red(href="#!")
      img(src="./images/icon-phone-call-white.svg", alt="")

mixin btn-download
  a.btn-download(href="#!") Tải hồ sơ năng lực
