mixin s-intro
  section.s-intro
    .container
      .row.align-items-center.justify-content-between.g-30
        .col-xl-auto
          h2.s-intro__title.mb-3.mb-lg-4.wow.fadeInUp(data-wow-delay="0.1s")
            | BẠN CẦN #[span THỰC TẾ ẢO]
            br
            | TRONG #[span CHIẾN LƯỢC MARKETING?]
          .wow.fadeInUp(data-wow-delay="0.3s")
            a.s-intro__btn(href="#!")
              span.fw-300 Liên hệ với
              br
              span.fw-500 VR Click Studio

        .col-xl-auto.wow.fadeInRight(data-wow-delay="0.5s")
          img.s-intro__img(src="./images/intro.png", alt="")
