mixin banner(title, bg, ...breadcrumb)
  article.banner.wow.fadeInUp(data-wow-delay="0.1s")
    img.banner__bg(src=bg, alt="")
    .banner__title= title
    .banner__breadcrumb
      +breadcrumb(...breadcrumb)
