mixin s-intro
  section.s-intro
    .container
      .row.align-items-center.justify-content-between.g-30
        .col-xl-auto
          h2.s-intro__title.mb-3.mb-lg-4
            | BẠN CẦN #[span THỰC TẾ ẢO]
            br
            | TRONG #[span CHIẾN LƯỢC MARKETING?]
          a.s-intro__btn(href="#!")
            span.fw-300 Liên hệ với
            br
            span.fw-500 VR Click Studio

        .col-xl-auto
          img.s-intro__img(src="./images/intro.png", alt="")