mixin md-doc(id=1)
  .md-doc.modal.fade(tabindex='-1', id=`md-doc-id-${id}`)
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-body
          button.btn-close(type="button", data-bs-dismiss="modal")
          .md-doc__title Nghị định 55/2022/NĐ-CP của Chính phủ về việc quy định Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánh.
          .md-doc__info
            span Số hiệu: 823/QĐ-BCT
            span Ngày ban hành: 05/07/2022
          .md-doc__content
            p Nghị định 55/2022/NĐ-CP của Chính phủ về việc quy định Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánh. Nghị định 55/2022/NĐ-CP của Chính phủ về việc quy định Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánhNghị định 55/2022/NĐ-CP của Chính phủ về việc quy định Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánh. Nghị định 55/2022/NĐ-CP của Chính phủ về việc quy định Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánh. Nghị định 55/2022/NĐ-CP của Chính phủ về việc quy định Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánhNghị định 55/2022/NĐ-CP của Chính phủ về việc quy định Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánhNghị định 55/2022/NĐ-CP của Chính phủ về việc quy định Cơ sở dữ liệu quốc gia về công tác tiếp công dân, xử lý đơn, giải quyết khiếu nại, tố cáo, kiến nghị, phản ánh.
          .md-doc__footer
            a.md-doc__download(href="./images/sample.pdf" download)
              i.fal.fa-arrow-to-bottom.me-2
              | Tải về

mixin md-post(id="1")
  .md-post.modal.fade(tabindex='-1', id=`md-post-id-${id}`)
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-body
          button.btn-close(type="button", data-bs-dismiss="modal")
          .md-post__title Giá xăng dầu hôm nay 5.11.2022: Tăng sốc phiên cuối tuần lên 5%
          .md-post__info
            i.fal.fa-clock.me-2.text-primary
            | 03/07/2022
          .md-post__content
            p Donec viverra, nisl hendrerit dignissim fermentum, erat erat dignissim nibh, non laoreet tellus turpis sit amet massa. Donec vel orci mauris. Donec ut fringilla ante. Aliquam suscipit, quam quis laoreet tincidunt, orci nisi facilisis risus, et rhoncus elit leo consectetur est. Nulla rutrum eleifend pulvinar. Phasellus quis ex gravida, lobortis augue at, pulvinar lorem. Etiam mattis ornare nulla non fermentum.
            p Morbi nec quam non sapien fermentum malesuada in at augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed feugiat convallis erat, vitae rhoncus nisi feugiat eget. Quisque ac enim a nulla rhoncus commodo non at felis. Mauris tortor ante, molestie hendrerit ipsum in, imperdiet sagittis turpis. Nullam imperdiet, mauris nec molestie porta, leo eros bibendum velit, ut ornare mauris odio non leo.
            p.text-center
              img(src="./images/post-img.jpg", alt="")
