mixin md-pricing
  .md-pricing.modal.fade(tabindex='-1')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-body
          button.btn-close(type="button", data-bs-dismiss='modal')
          form.contact-form(action="#!")
            .md-pricing__title Yêu cầu báo giá
            input.form-control.mb-3.mb-xxl-4(type="text", placeholder='Họ và tên')
            input.form-control.mb-3.mb-xxl-4(type="text", placeholder='Địa chỉ email')
            input.form-control.mb-3.mb-xxl-4(type="text", placeholder='[Tên Công ty]_YCBG [Tên dịch Vụ]')
            textarea.form-control.mb-3.mb-xxl-4(rows="6", placeholder="Nội dung yêu cầu")
            .text-end
              button.n-btn.n-btn--md(type="submit") Gửi yêu cầu
