:root {
  --bs-primary: #6BB13E;
  --bs-light-primary: #E7F2DF;
  --bs-secondary: #5FA535;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --text-color: #585858;
  --text-gray: #7B7B7B;
  --body-background: #F5F5F5;
}
