mixin review
  .review
    div
      img.review__logo(src="./images/partner-1.png", alt="")
    .review__content Tôi đang gặp khó khăn trong việc tìm ra giải pháp truyền thông cho doanh nghiệp của mình, thật tuyệt vời khi tôi tìm thấy HMG. Hiện tại nhờ những giải pháp công nghệ, công ty tôi đã tăng trưởng gấp đôi doanh số chỉ trong 3 tháng. Thật là thần kỳ!
    .mt-auto
      .row.align-items-center.g-3.g-xxl-30
        .col-auto
          .review__avatar
            img(src="./images/avatar.jpg", alt="")
        .col
          .review__name Mr. Dinh Nhu Long
          .review__pos Designer

mixin service(url='#!')
  .service
    .service__frame
      img(src="./images/service-1.png", alt="")
    .service__background
      svg(viewBox="0 0 100 100")
        circle(cx="50" cy="50" r="50" fill="currentColor")
    .service__body
      .service__title
        if (block)
          block
        else
          | CÔNG NGHỆ VR 360
      a.service__link(href=url) Tìm hiểu thêm
        i.fal.fa-arrow-right.ms-2

mixin ecosystem(img='', desc='Đơn vị tổ chức sự kiện, các giải pháp Truyền thông & Marketing, Thiết kế sáng tạo')
  .ecosystem
    .ecosystem__frame
      img(src=img, alt="")
    .ecosystem__desc=desc
