- count = 0;

mixin video
  - count++
  .video
    a.video__frame(href="https://www.youtube.com/watch?v=6WzfWcT9NkQ", data-fancybox="video", data-caption="Nulla viverra orci et nisl congue lobortis molestie felis dapibus ulla viverra orci et nis")
      img.video__img(src=`./images/video-${count % 2 + 1}.jpg`, alt="")
    .video__body
      .video__title Nulla viverra orci et nisl congue lobortis molestie felis dapibus ulla viverra orci et nis
