mixin news(title='Giá xăng dầu hôm nay 5.11.2022: Tăng sốc phiên cuối tuần lên 5%')
  .news
    h3.news__title
      a(href="./news-detail.html")= title
    .d-flex.flex-wrap.align-items-center.justify-content-between
      span.mr-auto.text-gray.fs-12
        i.fal.fa-clock.me-2.text-primary
        | 03/07/2022
      a.news__link(href="./news-detail.html") Chi tiết
