mixin product
  .product
    .product__frame
      img(src="./images/product-1.jpg", alt="")
      img(src="./images/product-1-2.jpg", alt="")
    .product__body
      .product__name Thớt nghiến đá cao bằng 29 x 2,5 - TN2925 / HTX DAO PHÚC SEN
      .product__desc DAO THÁI KIỂU 03 - GT03M Dao thái kiểu 03 - GT03M là một Một sản phẩm thuộc dòng dao chuyên thái. Lưỡi dao được rèn thủ công từ thép nhíp xe ô tô với ưu điểm của loại thép carbo...
      .product__price
        span 190,000₫
        del 190,000₫
      a.product__btn(href="#!")
        i.fal.fa-cart-plus.me-2
        | Thêm vào giỏ
