.n-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $white;
  text-align: center;
  width: 44px;
  height: 44px;
  font-size: 18px;
  border-radius: 50%;

  i {
    transition: 0.4s;
  }

  &:hover {
    background-color: darken($primary, 10%);
    color: $white;

    i {
      transform: translateX(5px);
    }
  }

  @include media-breakpoint-down(xl) {
    &__link {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }
}

.service {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 3px 15px rgba(#000, 0.16);
  border-radius: 4px;
  background-color: $white;
  overflow: hidden;

  &__frame {
    @include frame('rect', 56.25%);
    @include frame('zoom');
  }

  &__body {
    padding: 30px;
    flex-grow: 1;
    position: relative;
    flex-grow: 1;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375;
    color: $primary-darker;
    text-transform: uppercase;
    margin-bottom: 20px;

    a {
      color: inherit;

      &:hover {
        color: $primary;
      }
    }
  }

  &__icon {
    width: 56px;
    height: 56px;
    object-fit: contain;
    object-position: 50% 50%;
    margin-bottom: 20px;
  }

  &__desc {
    @include max-line(2);
    color: #828282;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $white;
    text-align: center;
    width: 44px;
    height: 44px;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 30px;
    transform: translate(0, -50%);

    &:hover {
      background-color: darken($primary, 10%);
      color: $white;
    }
  }

  @include media-breakpoint-down(xl) {
    &__body {
      padding: 20px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__link {
      width: 30px;
      height: 30px;
      right: 20px;
      font-size: 14px;
    }
  }
}

.news {
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 3px 15px rgba(#000, 0.16);
  position: relative;

  &__frame {
    @include frame('rect', 56.25%);
    @include frame('zoom');
    width: 250px;
    height: 100%;
    border-radius: 4px 0 0 4px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px 20px 30px;
    height: 100%;
    border-radius: 0 4px 4px 0;
  }

  &__info {
    font-size: 12px;
    color: #848484;
    margin-bottom: 16px;
  }

  &__title {
    @include max-line(2);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    max-height: 2.4em;
    margin-bottom: 0;

    a {
      color: inherit;

      &:hover {
        color: $primary;
      }
    }
  }

  &__link {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }

  @include media-breakpoint-down(xl) {
    &__info {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 16px;
    }

    &__link {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }

  @include media-breakpoint-down(lg) {
    &__body {
      position: relative;
      padding: 20px;
    }
  }

  @include media-breakpoint-down(md) {
    &__frame {
      border-radius: 4px 4px 0 0;
      width: 100%;
    }

    &__body {
      border-radius: 0 0 4px 4px;
    }

    &__link {
      left: auto;
      right: 20px;
      top: 0;
      transform: translate(0, -50%);
      z-index: 10;
    }
  }
}

.news-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 3px 15px rgba(#000, 0.16);
  background-color: $white;
  border-radius: 4px;

  &__frame {
    @include frame('rect', 56.25%);
    @include frame('zoom');
    border-radius: 4px 4px 0 0;
  }

  &__body {
    padding: 30px;
    flex-grow: 1;
    position: relative;
  }

  &__info {
    font-size: 12px;
    margin-bottom: 16px;
  }

  &__title {
    @include max-line(2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    max-height: 2.4;
    color: $primary-darker;
    margin-bottom: 16px;

    a {
      color: inherit;

      &:hover {
        color: $primary;
      }
    }
  }

  &__desc {
    @include max-line(2);
    color: #828282;
  }

  &__link {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 30px;
    transform: translate(0, -50%);

    &--bottom {
      top: 100%;
    }
  }

  @include media-breakpoint-down(xl) {
    &__body {
      padding: 20px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__link {
      width: 30px;
      height: 30px;
      right: 20px;
      font-size: 14px;
    }
  }
}

.doc {
  margin-bottom: 28px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ACD6FF;
  font-family: $montserrat;
  font-weight: 500;

  &__number {
    padding-left: 20px;
    padding-right: 16px;
  }

  &__title {
    display: block;
    color: #333;

    &:hover {
      color: $primary;
    }
  }

  &__btn {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 9px 30px;
    border: 1px solid $primary;
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }

  @include media-breakpoint-down(sm) {
    position: relative;
    padding-left: 40px;

    &__number {
      padding: 0;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__title {
      margin-bottom: 8px;
    }
  }
}

.product {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 3px 15px rgba(#000, 0.16);

  &__frame {
    @include frame('rect', 56.25%);
    @include frame('zoom');
    height: 100%;
    border-radius: 4px 0 0 4px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    padding: 16px 30px;
  }


  &__label {
    font-size: 16px;
    font-weight: 600;
    color: $primary;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: #072F60;
    margin-bottom: 0;

    a {
      color: inherit;

      &:hover {
        color: $primary;
      }
    }
  }

  &__link {
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 20px;
    transform: translate(0, -50%);

    &:hover {
      background-color: darken($primary, 10%);
      color: $white;
    }
  }
}

.event-list {
  margin: 0 auto;
  max-width: 550px;

  @include media-breakpoint-down(xl) {
    max-width: 400px;
  }
}

.event {
  position: relative;
  line-height: 1.2;

  &:not(:last-child) {
    padding-bottom: 100px;

    &::before {
      content: '';
      border-right: 1px solid #ccc;
      height: 100%;
      position: absolute;
      top: 0;
      left: 75px;
    }
  }

  &__frame {
    @include frame('circle');
    width: 151px;
    background-color: $white;
    border: 6px solid $white;
  }

  &__time {
    font-size: 28px;
    font-weight: 700;
    color: #0071DC;
    padding-top: 16px;
  }

  &__desc {
    font-size: 18px;
    margin: 6px 0 8px;
  }

  &__info {
    font-size: 14px;
    line-height: 1.4;
    color: #0071DC;
  }

  &--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &::before {
      display: none !important;
    }
  }

  &--2 &__frame {
    width: 120px;
  }

  &--2 &__time {
    position: relative;
    margin-bottom: 50px;

    &::after {
      content: '';
      height: 40px;
      position: absolute;
      top: calc(100% + 5px);
      left: 50%;
      border-right: 1px solid #8A8A8A;
    }
  }

  @include media-breakpoint-down(xl) {
    &:not(:last-child) {
      padding-bottom: 40px;

      &::before {
        left: 51px;
      }
    }

    &__frame {
      width: 101px;
    }

    &__time {
      font-size: 20px;
    }

    &__desc {
      font-size: 16px;
    }

    &--2 &__frame {
      width: 80px;
    }

    &--2 &__time {
      margin-bottom: 30px;

      &::after {
        height: 25px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &:not(:last-child) {
      padding-bottom: 30px;

      &::before {
        left: 41px;
      }
    }

    &__frame {
      width: 81px;
      border-width: 4px;
    }

    &__time {
      font-size: 16px;
    }

    &__desc {
      font-size: 14px;
    }

    &__info {
      font-size: 12px;
    }
  }
}
