.footer-2 {
    background-color: #fff;
    padding: 40px 0 80px;
    color: var(--text-gray);

    &__grid {
      display: grid;
      grid-template-columns: 6fr 4fr 3fr 3fr 3fr;
      grid-gap: 20px;
    }

    &__heading {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    @include media-breakpoint-down(lg) {
      &__grid {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    @include media-breakpoint-down(md) {
      &__grid {
        grid-gap: 24px 16px;
        grid-template-columns: 5fr 4fr;
      }

      &__col {
        &:first-child {
          grid-column: span 2;
        }
      }
    }
  }
