.footer {
  background-color: $white;
  padding: 35px 0 20px;
  color: var(--text-gray);
  font-size: 12px;

  &__grid {
    display: grid;
    grid-template-columns: 7fr 4fr 3fr 3fr 3fr;
    grid-gap: 20px;
  }

  &__heading {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__copyright {
    margin-top: 30px;
  }

  &__logo {
    display: inline-flex;

    img {
      height: 50px;
    }
  }

  @include media-breakpoint-down(lg) {
    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @include media-breakpoint-down(md) {
    &__grid {
      grid-gap: 24px 16px;
      grid-template-columns: 5fr 4fr;
    }

    &__col {
      &:first-child {
        grid-column: span 2;
      }
    }
  }
}

.f-contact,
.f-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px;

  a {
    color: inherit;

    &:hover {
      color: var(--bs-primary);
      text-decoration: underline;
    }
  }
}

.f-social {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;

  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    color: inherit;

    &:hover {
      color: var(--bs-primary);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid currentColor;
    margin-right: 8px;
  }
}
