.header {
  position: relative;
  z-index: $zindex-fixed;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__logo {
    display: inline-flex;
    margin: 16px 0;

    img {
      height: 40px;
    }
  }

  &__elements {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  font-family: $gilroy;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: #585858;

  &:hover {
    color: #585858;
  }

  img {
    height: 42px;
    margin-right: 10px;
  }
}
