.post {
  padding-bottom: 80px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 28px;
  }

  &__info {
    font-weight: 600;
    font-style: italic;
    margin: 30px 0 24px;
  }

  &__menu {
    margin: 20px 0 28px;

    &-header {
      background-color: $primary;
      color: $yellow;
      font-size: 16px;
      font-weight: 700;
      padding: 12px 18px;
      border-radius: 10px 10px 0 0;
    }

    &-content {
      border-radius: 0 0 10px 10px;
      background-color: #EAF8F5;
      padding: 16px 42px;
    }

    &-item,
    &-sub-item {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &-item {
      margin-top: 8px;

      &:first-child {
        margin-top: 0;
      }
    }

    &-sub-item {
      margin-top: 4px;
      padding-left: 20px;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    margin-top: 28px;
  }

  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    color: $yellow;
    background-color: #327E6D;

    &:hover {
      background-color: darken(#327E6D, 10%);
      color: $yellow;
      text-decoration: none;
    }
  }

  &__btn-2 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 4px;
    color: $white;
    background-color: $yellow-dark;

    &:hover {
      color: $white;
      background-color: darken($yellow-dark, 10%);
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 60px;
  }
}
