.section {
  position: relative;
  z-index: 1;
  padding: 60px 0;

  &__texture {
    width: 5vw;
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 0;

    &--right {
      left: auto;
      right: 0;
      transform: rotateY(180deg);
    }
  }

  &__subtitle {
    font-size: 12px;
    color: $primary;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1em;

    span {
      display: inline-block;
      position: relative;
      padding-left: 16px;

      &::before {
        content: '';
        display: block;
        width: 4px;
        height: 0.9em;
        background-color: $primary;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    &--sm span {
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }

  &__link {
    color: #0071DC;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;

    i {
      transition: 0.4s;
    }

    &:hover {
      color: darken(#0071DC, 10%);

      i {
        transform: translateX(5px);
      }
    }
  }

  &--bg {
    background: url('../images/section-bg.jpg') center/cover no-repeat;
  }

  &--primary {
    background: url('../images/section-bg-2.jpg') center/cover no-repeat;
    background-color: #3764B6;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url('../images/world-map-bg.png') center/cover no-repeat;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
    }
  }

  &--primary &__title span {
    &::before {
      background-color: $white;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 40px 0;

    &__title {
      font-size: 30px;
    }
  }
}
