.preview {
  &__thumbs {
    margin-top: 10px;
  }
}

.preview-slider {
  border-radius: 10px;
  overflow: hidden;
}

.thumb-slider {
  @include slider-nav-2;
  position: relative;
  margin: 0 auto;

  .swiper-slide {
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.5;

    &-thumb-active {
      opacity: 1;
    }
  }
}
