@mixin slider-nav-1 {
  &__prev,
  &__next {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    @include shadow("");
    transition: 0.3s ease-out;

    &:hover {
      @include shadow("");
      transform: translateY(-50%) scale(1.2);
    }

    &:focus {
      outline: 0;
    }
  }

  &__next {
    left: auto;
    right: 3%;
  }

  &:hover &__prev,
  &:hover &__next {
    background-color: rgba(#fff, 1);
  }

  @media (min-width: 1200px) {
    &__prev {
      left: 0;
      opacity: 0;
    }

    &__next {
      right: 0;
      opacity: 0;
    }

    &:hover &__prev {
      left: 3%;
      opacity: 1;
    }

    &:hover &__next {
      right: 3%;
      opacity: 1;
    }
  }

  @media (max-width: 575px) {
    &__prev,
    &__next {
      background-color: rgba(#fff, 0.5);
    }
  }
}

@mixin slider-nav-2 {
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $border-color;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-out;

    &:hover {
      @include shadow("");
      transform: translate(-50%, -50%) scale(1.2);
    }

    &:focus {
      outline: 0;
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  &__next {
    left: 100%;
  }
}

@mixin slider-nav-3 {
  &__prev,
  &__next {
    padding: 10px 5px;
    color: var(--bs-secondary);
    font-size: 24px;
    line-height: 1;
    color: var(--bs-primary);
    position: absolute;
    top: 50%;
    left: -40px;
    z-index: 10;
    transform: translateY(-50%);
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  &__next {
    left: auto;
    right: -40px;
  }

  @media (max-width: 575px) {
    &__prev,
    &__next {
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding: 0;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border: 1px solid $border-color;
      font-size: 18px;
      line-height: 1;
    }

    &__prev {
      left: -15px;
    }

    &__next {
      right: -15px;
    }
  }
}

@mixin slider-nav-4 {
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 32px;
    font-size: 20px;
    color: var(--bs-primary);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--bs-primary);
      background-color: rgba(#ccc, 0.3);
    }
  }
}

@mixin pagination {
  display: flex;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #999;
    background-color: $white;
    opacity: 1;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &-active {
      background-color: var(--bs-primary);
      border-color: var(--bs-primary);
    }
  }

  @include media-breakpoint-down(md) {
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;

      &:not(:last-child) {
        margin-right: 3px;
      }
    }
  }
}

.banner-slider {
  width: 100%;
  height: 100%;
  position: relative;

  &__pagination {
    @include pagination();
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    bottom: 8px;
  }

  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 0 4px 4px 0;
    width: 28px;
    height: 34px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.3s;
    cursor: pointer;
    background-color: $white;
    opacity: 0.5;

    &:hover {
      background-color: var(--bs-primary);
      color: $white;
      opacity: 1;
    }
  }

  &__next {
    left: auto;
    right: 0;
    border-radius: 4px 0 0 4px;
  }

  .swiper-slide {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }

  &__frame {
    position: relative;
    width: 100%;

    &::before {
      content: '';
    }

    &, img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;

    .swiper-container {
      height: 100%;
    }

    .swiper-slide {
      height: auto;

      & > * {
        height: 100%;
      }
    }
  }

  &--2 &__pagination {
    bottom: 16px;
  }

  @include media-breakpoint-down(xl) {
    &--2 &__frame {
      position: relative;
      height: auto;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 32%;
      }
    }

    &--2 {
      position: relative;
      height: auto;

      .swiper-container {
        height: auto;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &__frame {
      position: relative;
      height: auto;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 32%;
      }
    }

    &--absolute {
      position: relative;
      height: auto;

      .swiper-container {
        height: auto;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__pagination {
      bottom: -16px;
    }
  }
}

.card-slider-2 {
  position: relative;

  &__pagination {
    @include pagination();
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

.card-slider-3 {
  &__pagination {
    @include pagination();
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .swiper-slide {
    position: relative;
  }

  &__frame {
    @include frame('rect', 127%);
    display: block;
    border-radius: 4px;
    overflow: hidden;
  }
}

.card-slider {
  position: relative;
  padding-bottom: 24px;

  &__pagination {
    @include pagination();
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

.shop-slider,
.product-slider,
.product-slider-2,
.product-slider-3 {
  position: relative;
  z-index: 1;

  @include slider-nav-4;

  &__prev,
  &__next {
    position: absolute;
    top: -44px;
    right: 0;
  }

  &__prev {
    right: 28px;
  }

  .swiper-slide {
    height: auto;
  }
}

.product-slider-3 {
  .product {
    &__title {
      @include max-line(2);
      line-height: 19px;
      min-height: 38px;
    }
  }
}
