@mixin slider-nav-1 {
  &__prev,
  &__next {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    @include shadow("");
    transition: 0.3s ease-out;

    &:hover {
      @include shadow("");
      transform: translateY(-50%) scale(1.2);
    }

    &:focus {
      outline: 0;
    }

    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }

  &__next {
    left: auto;
    right: 3%;
  }

  &:hover &__prev,
  &:hover &__next {
    background-color: rgba(#fff, 1);
  }

  @media (min-width: 1200px) {
    &__prev {
      left: 0;
      opacity: 0;
    }

    &__next {
      right: 0;
      opacity: 0;
    }

    &:hover &__prev {
      left: 2%;
      opacity: 1;

      &.swiper-button-disabled {
        opacity: 0.3;
      }
    }

    &:hover &__next {
      right: 2%;
      opacity: 1;

      &.swiper-button-disabled {
        opacity: 0.3;
      }
    }
  }

  @media (max-width: 575px) {
    &__prev,
    &__next {
      background-color: rgba(#fff, 0.5);
    }
  }
}

@mixin slider-nav-2 {
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $border-color;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-out;

    &:hover {
      @include shadow("");
      transform: translate(-50%, -50%) scale(1.2);
    }

    &:focus {
      outline: 0;
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  &__next {
    left: 100%;
  }
}

@mixin slider-nav-3 {
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1;
    color: #333;
    position: absolute;
    top: 50%;
    left: -42px;
    z-index: 10;
    transform: translateY(-50%);
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &.swiper-button-disabled {
      opacity: 0.4;
    }
  }

  &__next {
    left: auto;
    right: -42px;
  }

  @media (max-width: 575px) {
    &__prev,
    &__next {
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding: 0;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border: 1px solid $border-color;
      font-size: 18px;
      line-height: 1;
    }

    &__prev {
      left: -15px;
    }

    &__next {
      right: -15px;
    }
  }
}

.space-thumb-slider {
  position: relative;
  z-index: 1;

  &__slide {
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: auto;
    cursor: pointer;
  }

  &__frame {
    @include frame('rect', 66.66%);
    border-radius: 10px;
  }

  &__overlay {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    border: 5px solid $yellow;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }

  &__icon {
    position: absolute;
    z-index: 10;
    bottom: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: 50% 50%;
  }

  &__slide.active &__overlay {
    opacity: 1;
  }

  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 1px 10px rgba(#000, 0.3);
    background-color: $white;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    &.swiper-button-disabled {
      display: none;
    }
  }

  &__next {
    left: 100%;
  }

  @include media-breakpoint-down(lg) {
    &__slide &__overlay {
      border-width: 3px;
    }
  }
}

.sample-thumb-slider {
  position: relative;
  z-index: 1;
  @include slider-nav-3();

  &__slide {
    position: relative;
    cursor: pointer;
    z-index: 1;
    height: auto;

    &.swiper-slide-thumb-active {
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: rgba(#000, 0.5);
        border: 3px solid $yellow;
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
      }

      &::after {
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        background: url('../images/icon-eye.svg') center / contain no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
      }
    }
  }

  &__frame {
    @include frame('square');
    border-radius: 20px;
  }
}

.sample-slider {
  @include slider-nav-3();

  position: relative;
  z-index: 1;

  &__frame {
    @include frame('square');
    border-radius: 20px;
  }
}

.card-slider {
  position: relative;
  z-index: 1;

  @include slider-nav-3();

  &__container {
    margin: -15px;
  }

  .swiper-slide {
    padding: 15px;
    height: auto;
  }

  &__prev,
  &__next {
    &.swiper-button-disabled {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    &__container {
      margin: -8px;
    }

    .swiper-slide {
      padding: 8px;
    }
  }
}


.card-slider-2 {
  @include slider-nav-3();
  position: relative;
  z-index: 1;

  &__container {
    margin: -15px;
  }

  .swiper-slide {
    padding: 15px;
    height: auto;
  }

  @include media-breakpoint-down(sm) {
    &__container {
      margin: -8px;
    }

    .swiper-slide {
      padding: 8px;
    }
  }
}

.news-slider {
  @include slider-nav-3();
  position: relative;
  z-index: 1;

  &__container {
    margin: -15px;
  }

  .swiper-slide {
    padding: 15px;
    height: auto;
  }

  @include media-breakpoint-down(sm) {
    &__container {
      margin: -8px;
    }

    .swiper-slide {
      padding: 8px;
    }
  }
}

.place-slider {
  position: relative;
  z-index: 1;
  @include slider-nav-3();

  &__frame {
    @include frame('rect', 66.66%);
    overflow: hidden;
    border-radius: 10px;
  }
}

.place-thumb-slider {
  position: relative;
  z-index: 1;
  @include slider-nav-3();

  &__frame {
    @include frame('rect', 66.66%);
    overflow: hidden;
    border-radius: 10px;
  }

  .swiper-slide {
    &.swiper-slide-thumb-active {
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgba(#000, 0.5);
        border: 3px solid $yellow;
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
      }

      &::after {
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        background: url('../images/icon-eye.svg') center / contain no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
      }
    }
  }
}

.text-slider {
  padding: 0 42px;
  position: relative;

  &__prev,
  &__next {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;


    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 50%;
    background-color: #FFF5D7;
    color: #333;
    transition: 0.3s;

    box-shadow: 0 1px 6px rgba(#000, 0.16);

    &:hover {
        background-color: #D6A700;
        color: $white;
        text-decoration: none;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
    }
  }

  &__next {
    left: auto;
    right: 0;
  }

  &__btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 18px;
    border: 0;
    border-radius: 16px;
    background-color: #FFF5D7;
    color: #333;
    transition: 0.3s;
    box-shadow: 0 1px 6px rgba(#000, 0.15);

    &.active,
    &:hover {
        background-color: #D6A700;
        color: $white;
        text-decoration: none;
    }
  }

  .swiper-slide {
    width: auto;
  }

  @include media-breakpoint-down(md) {
    padding: 0 36px;

    &__prev,
    &__next {
      width: 28px;
      height: 28px;
    }

    &__btn {
      font-size: 12px;
      padding: 4px 12px;
    }
  }
}
