.breadcrumb {
  &-item {
    &,
    & + &::before,
    &.active,
    &.active::before,
    a,
    a:hover {
      color: $gray-800;
    }
  }

  &--white .breadcrumb-item,
  &--white .breadcrumb-item + .breadcrumb-item::before,
  &--white .breadcrumb-item + .breadcrumb-item.active,
  &--white .breadcrumb-item + .breadcrumb-item.active::before,
  &--white .breadcrumb-item a,
  &--white .breadcrumb-item a:hover {
    color: $white;
  }
}

.pagination {
  margin-bottom: 0;

  .page-item {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: 0 !important;
    border-color: transparent !important;

    &:hover {
      background-color: rgba(#000, 0.06) !important;
    }
  }

  .page-item.active .page-link {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    color: #fff !important;
  }

  @media (max-width: 767px) {
    .page-link {
      width: 28px;
      height: 28px;
    }
  }
}
