.banner {
  padding: 60px 0 40px;
  background: linear-gradient(0deg, #074D83, #074D83);
  position: relative;
  z-index: 1;
  background: url('../images/banner-bg.jpg') 50% 90%/cover no-repeat;

  &__title {
    color: $white;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $condensed;
    color: $white;
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__breadcrumb {
    font-size: 14px;
  }

  @include media-breakpoint-down(xl) {
    padding: 30px 0;

    &__title {
      font-size: 40px;
      margin-top: 24px;
    }
  }

  @include media-breakpoint-down(xl) {
    &__title {
      font-size: 35px;
      margin-top: 20px;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 20px 0;

    &__title {
      font-size: 30px;
      margin-top: 16px;
    }
  }
}
