.s-about {
    &__subtitle {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }

    &__content {
        font-size: 14px;
    }

    @include media-breakpoint-down(md) {
        &__subtitle {
            font-size: 14px;
        }

        &__title {
            font-size: 20px;
        }

        &__content {
            font-size: 12px;
        }
    }
}

.s-sample {
    padding: 60px 0;
    position: relative;
    z-index: 1;
    background: url('../images/paper-2.jpg') center / cover no-repeat;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(#F4EBCD, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        margin-bottom: 28px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
    }

    &__link {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        color: $primary;
    }

    @include media-breakpoint-down(xl) {
        padding: 50px 0;

        &__header {
            margin-bottom: 20px;
        }

        &__title {
            font-size: 20px;
        }

        &__link {
            font-size: 14px;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 40px 0;

        &__title {
            font-size: 18px;
        }

        &__link {
            font-size: 12px;
        }
    }
}

.s-virtual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 54px);
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px 16px;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(#000, 0.2);
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        img,
        video,
        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__icon {
        height: 160px;
        margin-bottom: 55px;
    }

    &__subtitle {
        font-size: 36px;
        font-weight: 800;
        line-height: 1.2;
        color: $secondary;
        margin-bottom: 2px;
    }

    &__title {
        font-size: 64px;
        font-weight: 800;
        line-height: 1.2;
        color: $white;
        margin-bottom: 10px;
    }

    &__addr {
        font-size: 14px;
        color: $white;
        margin-bottom: 40px;
    }

    @include media-breakpoint-down(xxl) {
        &__icon {
            height: 120px;
            margin-bottom: 30px;
        }

        &__subtitle {
            font-size: 28px;
        }

        &__title {
            font-size: 50px;
        }
    }

    @include media-breakpoint-down(xl) {
        &__icon {
            height: 100px;
            margin-bottom: 20px;
        }

        &__subtitle {
            font-size: 20px;
            margin-bottom: 4px;
        }

        &__title {
            font-size: 40px;
        }
    }

    @include media-breakpoint-down(lg) {
        &__subtitle {
            font-size: 18px;
            margin-bottom: 8px;
        }

        &__title {
            font-size: 32px;
        }

        &__desc {
            font-size: 12px;
        }
    }
}

.s-map {
    padding: 0 !important;
    position: relative;
    z-index: 1;
    background-color: #ddd;

    &__title {
        color: $white;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        z-index: 10;
    }
}

.s-album {
    background-color: #2E5A50;

    &__texture-5 {
        position: absolute;
        top: 60px;
        left: 40px;
        z-index: -1;
    }

    &__texture-6 {
        position: absolute;
        top: 60px;
        right: 40px;
        z-index: -1;
    }

    @include media-breakpoint-down(md) {

        &__texture-5 {
            position: absolute;
            top: 20px;
            left: 15px;
            z-index: -1;
        }

        &__texture-6 {
            position: absolute;
            top: 20px;
            right: 15px;
            z-index: -1;
        }
    }
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    text-align: center;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(#000, 0.5), rgba(#000, 1));
        opacity: 0.5;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        iframe,
        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__icon {
        height: 160px;
        margin-bottom: 50px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 110px;
        padding: 26px;
        border-radius: 50%;
        background-color: $green;
    }

    &__subtitle {
        font-size: 36px;
        font-weight: 800;
        line-height: 1.2;
        color: $yellow-dark;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 2px;
    }

    &__title {
        font-size: 64px;
        font-weight: 800;
        line-height: 1.2;
        color: $white;
        margin-bottom: 10px;
    }

    &__desc {
        color: $white;
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        margin-top: 36px;
    }

    &__arrow-wrap {
        margin-top: 90px;
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid $white;
        color: $white;
        font-size: 24px;
        cursor: pointer;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }

    @include media-breakpoint-down(xxl) {
        &__icon {
            height: 120px;
            margin-bottom: 40px;
        }

        &__logo {
            width: 80px;
            height: 80px;
            padding: 16px;
        }

        &__subtitle {
            font-size: 24px;
        }

        &__title {
            font-size: 50px;
        }

        &__arrow {
            width: 50px;
            height: 50px;
            font-size: 24px;
        }
    }

    @include media-breakpoint-down(lg) {
        max-height: unset;

        &__logo {
            width: 60px;
            height: 60px;
            padding: 10px;
        }

        &__subtitle {
            font-size: 16px;
            margin-bottom: 8px;
        }

        &__title {
            font-size: 28px;
        }

        &__desc {
            font-size: 12px;
        }

        &__btn-wrap {
            margin-top: 24px;
        }
    }
}
