.banner {
  position: relative;
  background: url('../images/footer-bg.png') center/cover no-repeat;
  background-color: #2565B8;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 300px;
    padding: 60px 0 20px;
  }

  &__title {
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    line-height: 1.2;
    margin: 40px 0 0;
  }

  &__img {
    height: 80%;
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 0;
    transform: translateY(-45%);
  }

  @include media-breakpoint-down(xl) {
    &__inner {
      height: 250px;
      padding: 30px 0;
    }

    &__title {
      font-size: 30px;
      margin-top: 16px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__inner {
      height: 200px;
    }

    &__title {
      font-size: 24px;
      margin-top: 8px;
    }

    &__img {
      transform: translateY(0);
      height: 50%;
      top: auto;
      bottom: 20px;
    }
  }
}

.aside {
  border-radius: 4px;

  &__title {
    background-color: $primary;
    color: $white;
    padding: 15px 20px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 0;

    img {
      height: 20px;
      margin-right: 16px;
    }
  }

  &__list {
    border-radius: 0 0 4px 4px;
    background-color: $white;
    border: 1px solid $border-color;
    border-top: 0;
    padding: 10px 0;
  }

  &__item {
    display: block;
    padding: 8px 20px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '\f105';
      font-family: 'Font Awesome 5 Pro';
      font-weight: 300;
      font-size: 1.5em;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    &.active,
    &:hover {
      color: $primary;
    }
  }
}
