include ../navbar/navbar
include ../menu/menu

mixin header
  header.header
    .header__wrapper
      .container
        .header__inner
          a.header__logo(href="./index.html")
            img(src="./images/logo.png", alt="")
          .header__elements
            +navbar
              +menu(menu)

            +search

            button.btn-search.d-xl-none.ms-3
              i.fal.fa-fw.fa-search

            button.btn-toggle.d-xl-none.js-navbar-toggle.ms-3
