include ../navbar/navbar
include ../menu/menu

mixin header(addClass='')
  header.header(class=addClass)
    .header__wrapper
      img.header__bg(src=addClass ? "./images/header-bg-2.png" : "./images/header-bg.png", alt="")
      .container
        .header__inner
          a.header__logo(href="./index.html")
            img(src="./images/logo.png", alt="")
            div
              .header__text-1 Bộ công thương Việt Nam
              .header__text-2 Cục phòng vệ thương mại
              .header__text-3 Trade remedies authority of Viet Nam
          .header__elements
            nav.lang.lang--pc
              a(href="#!")
                img(src="./images/gb.svg", alt="")
              a(href="#!")
                img(src="./images/vn.svg", alt="")
            button.btn-toggle.d-xl-none.js-navbar-toggle.ms-3

    nav.navigation
      .container
        .navigation__inner
          +navbar
            +search
            +menu(menu)

  nav.bg-white
    .container
      +noti-slider
