include ../top-page/top-page
include ../navbar/navbar
include ../navigation/navigation
include ../menu/menu
include ../search/search

mixin header
  header.header
    //- +top-page

    .header__wrapper
      .container
        .header__inner
          a.header__logo(href="./index.html")
            img(src="./images/logo.svg", alt="")

          .header__elements
            +search

            .h-info
              a.h-info__item(href="./cart-1.html")
                .h-info__icon
                  i.fal.fa-lg.fa-fw.fa-shopping-cart
                .h-info__content
                  .h-info__title Giỏ hàng
                  strong (0) Sản phẩm

              a.h-info__item(href="#!")
                .h-info__icon
                  i.fal.fa-lg.fa-fw.fa-user-plus
                .h-info__content
                  .h-info__title Kênh người bán
                  strong Đăng ký tại đây

              a.h-info__item(href="#!")
                .h-info__icon
                  i.fal.fa-lg.fa-fw.fa-sign-in
                .h-info__content Đăng nhập

            button.btn-toggle.d-xl-none.js-navbar-toggle.ms-12(type="button")

      +navigation
