include ../navbar/navbar
include ../menu/menu

mixin header
  header.header
    //- .header__wrapper
    //-   .container
    //-     .header__inner
    //-       a.header__logo(href="./index.html")
    //-         img(src="./images/logo.svg", alt="")
    //-       .header__elements
    //-         +navbar
    //-           +menu(menu)
    //-         button.btn-toggle.d-xl-none.js-navbar-toggle.ms-3
