include ../top-page/top-page
include ../navbar/navbar
include ../navigation/navigation
include ../menu/menu
include ../search/search
include ../menu/menu

mixin header-2
  header.header
    .toppage
      .container
        .toppage__inner
          .toppage__title.d-none.d-lg-block Sàn thương mại điện tử Hợp nhất
          nav.toppage__nav
            a(href="#!") Trang chủ
            a(href="#!") Giới thiệu
            a.me-lg-50(href="#!") Liên hệ
            a.ms-auto.ms-lg-0(href="./login.html")
              i.fal.fa-sign-in.me-2
              | Đăng nhập
            a(href="#!")
              i.fal.fa-user-plus.me-2
              | Đăng ký

    .header__wrapper
      .container
        .header__inner
          a.header__logo(href="./index.html")
            img(src="./images/logo-sanviet.png", alt="")

          .header__elements
            .h-info
              a.h-info__item(href="./cart-1.html")
                .h-info__icon
                  i.fal.fa-lg.fa-fw.fa-shopping-cart
                  .h-info__sup 0

              a.h-info__item(href="#!")
                .h-info__icon
                  i.fal.fa-lg.fa-fw.fa-phone
                .h-info__content
                  .h-info__title Hỗ trợ
                  strong 0123456789

              a.h-info__item(href="#!")
                .h-info__icon
                  i.fal.fa-lg.fa-fw.fa-user-plus
                .h-info__content
                  .h-info__title Kênh người bán
                  strong Đăng ký tại đây

            button.btn-toggle.d-xl-none.js-navbar-toggle.ms-12(type="button")

            +search

      +navigation
