mixin float-sidebar(id="sidebar-1")
  section.float-sidebar(id=id)
    .float-sidebar__header
      .float-sidebar__close
        .text-16.text-uppercase.mr-2 Close
        .navbar-toggle.active
          span
          span
          span
    .float-sidebar__body
      block
