.as-support {
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid $border-color;
    }
  }

  &__thumb {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 1px solid #666;
    position: relative;
    margin-right: 24px;

    &::before,
    &::after {
      content: "";
      display: block;
      border: 6px solid transparent;
      border-left-color: #666;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
    }

    &::after {
      border-left-color: #fff;
      margin-left: -1px;
    }
  }

  &__frame {
    @include frame("circle");
    border-radius: 50%;
  }

  &__content {
    margin-bottom: 4px;

    a,
    a:hover {
      color: inherit;
    }
  }

  &__social {
    display: flex;
  }

  &__link {
    display: flex;

    &:not(:last-child) {
      margin-right: 10px;
    }

    img {
      height: 25px;
    }
  }
}
