mixin as-support
  .as-support
    - for(let i = 0; i < 3; i++)
      .as-support__item.row.g-0
        .as-support__thumb.col-auto
          a.as-support__frame(href="#!")
            img(src="./images/support-girl.jpg", alt="")
        .col
          .as-support__content
            div Ms: Hồng Duyên
            div Call: 0123 456 789
          nav.as-support__social
            a.as-support__link(href="#!")
              img(src="./images/icon-gmail.png", alt="")
            a.as-support__link(href="#!")
              img(src="./images/icon-skype.png", alt="")
            a.as-support__link(href="#!")
              img(src="./images/icon-zalo.png", alt="")
