.cart-2 {
  &__frame {
    @include frame("square");
    border: 1px solid $border-color;
    width: 80px;
    margin-right: 16px;

    img {
      object-fit: contain;
    }
  }

  &__name {
    font-size: 14px;
    color: var(--text-color);

    &:hover {
      color: var(--bs-primary);
    }
  }

  &__price {
    white-space: nowrap;
    text-transform: uppercase;
    color: $danger;
  }

  &__delete {
    color: var(--text-gray);
  }

  &__footer {
    border: 1px solid $border-color;
    border-top: 0;
    padding: 16px;
    text-align: right;
  }

  thead th {
    text-transform: uppercase;
    background-color: var(--bs-primary);
    color: $white;
    font-weight: 400;
    border-color: var(--bs-primary);

    &:not(:last-child) {
      border-right-color: $border-color;
    }
  }

  @media (min-width: 991px) {
    thead th:not(:first-child),
    tbody td:not(:first-child) {
      text-align: center;
    }

    th,
    td {
      padding: 8px 16px;
    }
  }
}
