extends layout/page

block content
  article.banner
    img.banner__img(src="./images/banner-about.jpg", alt="")
    .banner__content
      .container-fluid
        h2.banner__title.text-center.border-0.mb-0 About Us
        .banner__desc.text-center.mx-auto.border-0(style="max-width: 720px;") With a passion for excellence that is unwavering, we are specifically focused on the critical work of water. The tools and resources to win your day are provided by Neptune®, your most valued partner.

  nav.navigation
    .container
      +breadcrumb('About Us')
  nav.navigation-2
    .container
      ul
        li
          a(href="./about.html") About Us
        li
          a(href="./about.html") Mission - Vision
        li
          a(href="./about.html") History
        li
          a(href="./about-2.html") Notification

  section.section
    .container
      article.section-2
        h1.section-2__title Notification
        .section-2__content
          p.text-center
            img(src="./images/about-5.jpg", alt="")
