extends layout/page

block content
  +banner('Giới thiệu tập đoàn', './images/banner-about.jpg', 'Trang chủ', 'Giới thiệu tập đoàn')

  section.section-2
    .container
      .about-content.mb-40.mb-xl-50
        p CÔNG TY TNHH THƯƠNG MẠI VÀ ĐẦU TƯ BIG HOLDING xin gửi lời chào trân trọng và cảm ơn Quý đối tác., Quý khách hàng đã luôn tin tưởng, hợp tác với chúng tôi trong thời gian qua. Cùng với xu thế hội nhập cũng như nắm bắt được những cơ hội, chúng tôi đã và đang thực hiện các dự án đầu tư quan trọng trong nhiều lĩnh vực như Bất động sản, Công nghệ, Xây dựng và nhất là trong lĩnh vực Tư vấn đầu tư. Big Holding là doanh ngiệp Tư vấn đầu tư và thực hiện Đầu tư vào các lĩnh vực có tầm quan trọng và ảnh hưởng thiết thực đến đời sống xã hội với mục tiêu đem lại sự phát triển phồn vinh cho đất nước cũng như sự tin tưởng cho các cổ đông, nhà đầu tư.
        p BIG HOLDING được các khách hàng, đối tác nhớ đến là một doanh nghiệp trách nhiệm, đặt chữ tín lên hàng đầu, luôn đảm bảo quyền lợi cao nhất của mỗi cá nhân, tổ chức khi hợp tác và sử dụng dịch vụ của Big Holding. Với năng lực, kinh nghiệm và uy tín đã được khẳng định, Công ty sẵn sàng hợp tác với các cá nhân, tổ chức kinh tế trong và ngoài nước trên tất cả các lĩnh vực hoạt động của mình, góp phần cùng thực hiện các mục tiêu phát triển kinh tế - xã hội của đất nước và cùng xây dựng nước Việt Nam ngày càng giàu mạnh. BIG HOLDING rất hân hạnh và mong muốn được cộng tác với Quý đối tác, Quý khách hàng.

      .row.g-30.gx-xl-50
        .col-md-4
          .card-1
            .card-1__title ĐỘI NGŨ
              br
              | NHÂN SỰ
            .card-1__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec ante ac mi pellentesque pulvinar. Donec rhoncus tempus tellus a venenatis. Praesent eget diam volutpat, cursus libero laoreet, venenatis felis. Praesent at dolor erat.
            .mt-auto
              a.card-1__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2
        .col-md-4
          .card-1
            .card-1__title TẦM NHÌN, SỨ MỆNH
              br
              | VÀ GIÁ TRỊ CỐT LÕI
            .card-1__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec ante ac mi pellentesque pulvinar. Donec rhoncus tempus tellus a venenatis. Praesent eget diam volutpat, cursus libero laoreet, venenatis felis. Praesent at dolor erat.
            .mt-auto
              a.card-1__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2
        .col-md-4
          .card-1
            .card-1__title ĐỐI VỚI
              br
              | KHÁCH HÀNG
            .card-1__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec ante ac mi pellentesque pulvinar. Donec rhoncus tempus tellus a venenatis. Praesent eget diam volutpat, cursus libero laoreet, venenatis felis. Praesent at dolor erat.
            .mt-auto
              a.card-1__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2

  article.about-quote
    .about-quote__text “Big Holding luôn cố gắng tạo nên những sản phẩm, dịch vụ có chất lượng tối ưu, mang lại sự hài lòng cho khách hàng ở mức độ cao nhất”

  section.section-2
    .container
      h2.section-2__title PHÁT TRIỂN BỀN VỮNG
      .section-2__desc.mb-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec ante ac mi pellentesque pulvinar. Donec rhoncus tempus tellus a venenatis. Praesent eget diam volutpat, cursus libero laoreet, venenatis felis. Praesent at dolor erat.

      .row.g-30.gx-xl-50
        .col-md-4
          .card-1
            .card-1__title VĂN HÓA
              br
              | DOANH NGHIỆP
            .card-1__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec ante ac mi pellentesque pulvinar. Donec rhoncus tempus tellus a venenatis. Praesent eget diam volutpat, cursus libero laoreet, venenatis felis. Praesent at dolor erat.
            .mt-auto
              a.card-1__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2
        .col-md-4
          .card-1
            .card-1__title CHIẾN LƯỢC
              br
              | CON NGƯỜI
            .card-1__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec ante ac mi pellentesque pulvinar. Donec rhoncus tempus tellus a venenatis. Praesent eget diam volutpat, cursus libero laoreet, venenatis felis. Praesent at dolor erat.
            .mt-auto
              a.card-1__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2
        .col-md-4
          .card-1
            .card-1__title MÔI TRƯỜNG VÀ
              br
              | CỘNG ĐỒNG
            .card-1__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec ante ac mi pellentesque pulvinar. Donec rhoncus tempus tellus a venenatis. Praesent eget diam volutpat, cursus libero laoreet, venenatis felis. Praesent at dolor erat.
            .mt-auto
              a.card-1__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2

  section.section-2
    .container
      h2.section-2__title CÁC THƯƠNG HIỆU
      .overflow-hidden.pt-xxl-4
        .row.g-40.gy-xl-60.gy-xxl-80.gx-xl-60.gx-xxl-80
          .col-sm-6.col-lg-3.border-end
            .card-2
              img.card-2__logo(src="./images/brand-1.png", alt="")
              .card-2__name NGT GROUP
              .card-2__desc Lorem ipsum dolor sit amet, con sec tetur adipiscing elit. Nullam nec ante ac mi pellen tesque pulvinar. Donec rhon cus tempus tellus a venenatis.
              a.card-2__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2

          .col-sm-6.col-lg-3.border-end
            .card-2
              img.card-2__logo(src="./images/brand-2.png", alt="")
              .card-2__name BSG HOLDING
              .card-2__desc Lorem ipsum dolor sit amet, con sec tetur adipiscing elit. Nullam nec ante ac mi pellen tesque pulvinar. Donec rhon cus tempus tellus a venenatis.
              a.card-2__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2

          .col-sm-6.col-lg-3.border-end
            .card-2
              img.card-2__logo(src="./images/brand-3.png", alt="")
              .card-2__name BIG HERBALIFE
              .card-2__desc Lorem ipsum dolor sit amet, con sec tetur adipiscing elit. Nullam nec ante ac mi pellen tesque pulvinar. Donec rhon cus tempus tellus a venenatis.
              a.card-2__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2

          .col-sm-6.col-lg-3.border-end
            .card-2
              img.card-2__logo(src="./images/brand-4.png", alt="")
              .card-2__name BIG FARM
              .card-2__desc Lorem ipsum dolor sit amet, con sec tetur adipiscing elit. Nullam nec ante ac mi pellen tesque pulvinar. Donec rhon cus tempus tellus a venenatis.
              a.card-2__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2

          .col-sm-6.col-lg-3.border-end
            .card-2
              img.card-2__logo(src="./images/brand-5.png", alt="")
              .card-2__name PAL VIETNAM
              .card-2__desc Lorem ipsum dolor sit amet, con sec tetur adipiscing elit. Nullam nec ante ac mi pellen tesque pulvinar. Donec rhon cus tempus tellus a venenatis.
              a.card-2__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2

          .col-sm-6.col-lg-3.border-end
            .card-2
              img.card-2__logo(src="./images/brand-6.png", alt="")
              .card-2__name BIG SHARE
              .card-2__desc Lorem ipsum dolor sit amet, con sec tetur adipiscing elit. Nullam nec ante ac mi pellen tesque pulvinar. Donec rhon cus tempus tellus a venenatis.
              a.card-2__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2

          .col-sm-6.col-lg-3.border-end
            .card-2
              img.card-2__logo(src="./images/brand-7.png", alt="")
              .card-2__name SBIGTECH
              .card-2__desc Lorem ipsum dolor sit amet, con sec tetur adipiscing elit. Nullam nec ante ac mi pellen tesque pulvinar. Donec rhon cus tempus tellus a venenatis.
              a.card-2__link(href="#!") Xem tất cả
                i.fal.fa-arrow-right.ms-2
