extends layout/page

block content
  // Banner
  section.about-banner
    img.about-banner__bg(src="./images/about-banner-bg.png", alt="")
    .container
      .about-banner__content
        img(src="./images/about-banner-text.png", alt="")

  section.pros
    .container
      .row.g-20
        .col-md-4
          .pros__item
            img.pros__icon(src="./images/pros-icon-1.png", alt="")
            .pros__text
              span Sáng tạo
                br
                | trong từng dự án
        .col-md-4
          .pros__item
            img.pros__icon(src="./images/pros-icon-2.png", alt="")
            .pros__text
              span Toàn bộ
                br
                | khách hàng hài lòng
        .col-md-4
          .pros__item
            img.pros__icon(src="./images/pros-icon-3.png", alt="")
            .pros__text
              span Chất lượng
                br
                | sản phẩm vượt trội
      .pros__desc
        p.text-uppercase Đại lý #[span.fw-700.text-info VR CLICK STUDIO] là một Creative Agency tiên phong trong lĩnh vực nghiên cứu và cung cấp các giải pháp thực tế ảo và thực tế ảo tăng cường (AR), video 360, sản xuất các nội dung 3D / 360, đồng thời tư vấn tích hợp những công nghệ này trên các nền tảng khác nhau, các giải pháp & chiến lược marketing tổng thể của bạn.

  // Đội ngũ VR Click Studio
  section.section-2.section-2--custom
    h2.s-title
      span.fw-300 Đội ngũ
      br
      span.fw-700 VR Click Studio

    .container
      .row.g-3.g-md-4.g-xl-30.g-xxl-60
        - for(let i = 0; i < 9; i++)
          .col-6.col-sm-4
            +member

  // Intro
  +s-intro
