extends layout/page

block content
  +banner('./images/banner-business.jpg', 'Doanh nghiệp', 'Kết nối các doanh nghiệp, tổ chức, cá nhân kinh doanh')
  .container-fluid.pb-50.pt-60
    .mb-60.mx-auto(style="max-width: 650px")
      +bs-search

    .business-grid
      - for(let i = 0; i < 30; i++)
        +business
    .text-center.mt-4
      a.button.button--view-more(href="#!") Xem thêm
