extends layout/page

mixin cart-item
  a.cart-item(href="./product-detail.html")
    .cart-item__frame
      img(src="./images/product-1.jpg", alt="")
    .cart__title Bột rửa bát Finish Classic Power

mixin cart-header
  .cart__row
    .cart__col.text-center
      +checkbox('', '', 'js-cart-check-all')
    .cart__col Sản Phẩm
    .cart__col.text-center Đơn giá
    .cart__col.text-center Số lượng
    .cart__col.text-center Số tiền
    .cart__col.text-center Thao tác

mixin cart-group-header(title="Gian hàng 01")
  .cart__row.border-bottom
    .cart__col
      +checkbox('', '', 'js-cart-check-group')
    .cart__col.cart__col--4
      i.fal.fa-store.me-2
      span= title

mixin cart-row
  .cart__row.js-cart-item(data-unit-price="70000", data-discount="10000")
    .cart__col.text-center
      +checkbox('', '', 'js-cart-check-item')
    .cart__col
      +cart-item
    .cart__col.text-center.cart__unit-value 70.000 ₫
    .cart__col.text-center.cart__quantity
      +quantity('quantity--square quantity--lg', 'js-cart-quantity')
    .cart__col.text-center.cart__value.js-cart-value 70.000 ₫
    .cart__col.text-center
      a.cart__delete.js-cart-delete-item(href="#!") Xoá

block content
  section.section
    .container
      h1.section__title Giỏ hàng

      form.cart(action="./checkout.html")
        .cart__group.d-none.d-lg-block
          +cart-header
        .cart__group
          +cart-group-header('Gian hàng 1')
          +cart-row
          +cart-row
        .cart__group
          +cart-group-header('Gian hàng 2')
          +cart-row
        .cart__group
          +cart-group-header('Gian hàng 3')
          +cart-row
        .cart__group
          .cart__footer
            .row.align-items-center.g-4
              .col-12.col-sm-auto.me-auto.d-flex.align-items-center.justify-content-between
                +checkbox('', '', 'js-cart-check-all')
                  span Chọn Tất Cả (#[span.js-cart-item-count 4])
                a.cart__delete-selected.ms-4.js-cart-delete-selected-items(href="#!") Xoá
              .col-12.col-md-auto
                .row.align-items-center
                  .col-12.col-sm-auto.me-auto Tổng thanh toán (#[span.js-cart-item-count 4] sản phẩm):
                  .col-12.col-sm-auto.text-sm-end.mt-3.mt-sm-0
                    .cart__subtotal.js-cart-subtotal 0 ₫
                    div Tiết kiệm #[span.js-cart-total-discount 165.000đ]
                  .col-12.col-md-auto.mt-3.mt-md-0
                    .d-grid
                      button.cart__btn.btn.btn-primary.text-white.py-12.px-70.js-cart-submit-btn(type="submit", disabled) MUA HÀNG
