extends layout/page

block content
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 3500 5000')
        g#hair(transform='translate(862, 642)')
            lineargradient#hairColor(x1='0' x2='0' y1='0' y2='1')
                stop(offset='0' stop-color='#fff799')
                stop(offset='1' stop-color='#fff799')
            path(fill='url(#hairColor)' d='M577.46,86.23s355.74-159.59,762.64-11c158.38,63.35,288.73,147.41,403.25,347.2,31.68,60.92,170.56,499.5,158.38,653,7.31,60.91,9.74,107.21,9.74,153.5,11,32.9,29.24,52.39-18.27,224.16,45.07-12.18,113.3-60.91,207.11,97.47,18.27,43.85,68.22,222.94-86.5,282.64-73.1,39-126.7,67-335,19.49-40.2,32.89-192.49,113.3-297.26-1.22-35.33,25.58-125.48,131.57-242.43,2.44-49.95,98.68-414.22,233.91-542.14,0-32.89,19.49-95,28-158.37-40.21C402,1875.88,138.88,1983.08,47.51,1748c-11-110.87,6.09-129.14,37.77-194.93-40.2-30.45-121.83-145-21.93-293.6,32.89-46.3,62.13-69.44,96.24-158.38-7.31-69.44-9.74-125.48-40.2-247.31-9.75-56-19.49-316.75,29.24-406.9,32.89-64.57,173-251,380.1-336.24C564.06,86.23,577.46,86.23,577.46,86.23Z')
            image(width='2137' height='1994' xlink:href='./images/hair-back-line.png')
        g#body(transform='translate(150, 660)')
            lineargradient#bodyColor(x1='0' x2='0' y1='0' y2='1')
                stop(offset='0' stop-color='#ffd3c7')
                stop(offset='1' stop-color='#ffd3c7')
            path(fill='url(#bodyColor)' d='M1206.15,128s327.68-218.09,748.68-78.12c109.59,30.38,378.68,110.67,497,390.61,33.63,92.23,72.69,137.8,21.7,495.86,31.46-1.08,134,59.41,20.07,236-23.6,31.74-73.24,108.23-140.78,77.31-10.58,16.27-28.49,140-513.5,324.7,4.88,43.94,0,113.93,145.67,107.42,62.66,9.76,181.47,17.09,264.48,129.39,89.51,131,99.88,243.56,211.58,912.25,6.93,79.71,37.43,196.93-110.68,291.33,9,31.74,30.93,141.6,154.62,274.24,32.55,50.46,183.92,303.54-18.71,487.46-47.2,31.73-262.86,193.68-882.41,68.35,11.93,19.54,57,103.63-59.14,144.86-53.71,17.36-138.88,27.67-234.91,96-30.92,24.42-109.59,87.35-182.29,90.06-32.55,9.77-55.33,17.91-76,37.44-15.19,4.34-50.45,3.79-29.3-34.73-33.63,14.65-98.73-13.56-11.93-63.47-14.65,1.08-16.28-6.51-43.26,12.48-6.65,8.14-.14-41.78,3.11-51s-12.2-6.24-12.2-6.24l-28.49,13s-84.63-5.69-31.73-55.33c-61.68,4.88-117.19-90.33-9-104.17,44.76,0,223-1.63,307.61-95.21-7.32-22-16.27-49.64-52.89-35.81-134.28,47.2-379.22,44.76-455.72,170.9C662.54,3997,609.65,4083.24,503,4023.84c-34.18-20.35-33.36-37.44-219.72-27.67-42.31,4.88-81.38-6.51-115.55-37.44-12.21-9.76-22.79-3.25-51.27,10.58s-42.32-10.58-36.62-39.06c-33.37,11.39-61,6.51-37.44-43.94-24.41-1.63-57.78-11.4-8.81-53.71-14.79-9.77-40.56-18.45-1.77-56.42-14.64-7.87-52.62-87.08,49.37-86.54,36.35,4.62,133.73,55.88,249.29,37.17,113.12,2.44,321.44,22.78,551.74-79.75-70-19.53-572.9-153.81-719.38-376-30.92-44.76-173.33-285.64,53.71-374.34,81.38-37.43,179-100.09,759.26,61,4.88-62.66,2.44-128.57,52.9-273.43-18.72-13-63.48-93.58,33.36-60.22,14.65-35,127.76-320.63,144.85-540.35,9-46.38,11.4-227,214-291.33,57.78-17.9,181.47-69.17,138.34-149.73-74.87-1.63-577-90.33-641.26-345.86-.81-47.2,49.64-158.69-21.16-371.9-13.83-46.38-72.42-268.55-56.15-389.8,17.09-55.34,80.57-208.33,222.16-318.19C1109.31,182,1206.15,128,1206.15,128Z')
            image(width='2599' height='4231' xlink:href='./images/body-line.png')
        g#hairFront2(transform='translate(444, 232)')
            path(fill='url(#hairColor)' d='M1224.91,21.31s-316.07,0-495,331.57c-40.56,27.43-118.08,107.34-193.22,258.81C515.25,632,492.59,660.6,430.57,680.87c-11.93-47.71-126.43-220.65-328-21.47C60.83,709.5-42.94,893.17,57.25,1038.68c32.2,52.48,101.38,132.39,281.48,106.15-27.43,71.57-85.88,251.66,133.58,266,76.33-14.32,220.65-79.92,335.15-347.08,25-56.06,100.19-310.1,146.7-339.92,54.87-16.7,227.81-73.95,511.67-15.51,40.56-2.38,82.3,10.74,108.54,34.59s131.2,90.65,153.86,500.94c6,44.13,57.25,319.64,230.19,339.92,59.64-9.54,116.89-41.75,137.16-97.8,15.51,22.66,202.76,258.81,404.33,21.47,20.27-47.71,75.14-252.86-93-319.65,9.54-53.67,65.6-345.88-136-557C2218.43,567.56,2114.67,451.87,1864.2,465c11.92-69.18,20.27-112.11-1.2-169.36S1722.27-16.86,1263.07,21.31Z')
            image(width='2537' height='1626' xlink:href='./images/hair-front-2.png')
        g#hairFront1(transform='translate(727, 654)')
            path(fill='url(#hairColor)' d='M375.44,309.21s367.9-417.57,931-273.26c136,29.58,520.5,142,699.12,611.59-4.73,49.68-17.74,157.33-17.74,157.33s281.54-172.71,220,250.78c-45,73.35-172.71,240.14-408.12,9.47-30.76,48.5-185.72,241.32-353.7-194-7.1-66.24-27.21-301.65-55.6-369.08-39-55.59-61.51-164.42-121.84-195.18s-67.43-22.48-110-26C1103,263.08,926.7,225.23,662.9,296.2,634.51,332.87,593.11,415.68,502,673.56c-29.57,56.78-136,273.26-326.49,308.75-46.14,0-188.09-4.73-150.24-220C46.59,705.5,93.9,632.16,168.43,589.57c11.83-41.4,65.06-138.4,143.14-189.27C328.13,368.36,375.44,309.21,375.44,309.21Z')
            image(width='2258' height='1207' xlink:href='./images/hair-front-1.png')
        g#hat(transform='translate(810, 166) scale(0.9999)' style="opacity: 0;")
            lineargradient#hatColor(x1='0' x2='0' y1='0' y2='1')
                stop(offset='0' stop-color='#ffb74a')
                stop(offset='1' stop-color='#ffb74a')
            path(fill='url(#hatColor)' d='M677,73s462-135,837-8c165,54,502,275,494,521-3,50-26,181,0,200s35,45,29,97,2,277-96,289c-4-20-1-65-1-65s-374-138-430-152-449-94-700-73c-155,12-594,42-730,148,17,49-24,77-62,21-18-24,3-276,39-320,29-28,23-25,23-25S67,647,194,428A878.13,878.13,0,0,1,602,90C648,74,677,73,677,73Z')
            image(width='2069' height='1182' transform='scale(0.99)' xlink:href='./images/hat-line.png')
        g#hoodie(transform='translate(1020, 2198)')
            lineargradient#hoodieColor(x1='0' x2='0' y1='0' y2='1')
                stop(offset='0' stop-color='#edbc79')
                stop(offset='1' stop-color='#edbc79')
            path(fill='url(#hoodieColor)' d='M1844.78,97.53c-19.53-35.78-610.37-190.23-1096.54,31.7-36.57,11.39-26,15.46-41.55,2.45-4.86-13-19.49-26-108-28.46C580.78,96.7,502.7,82.07,502.7,82.07s-70.26,69.1,8.32,154.49C488.24,243,374.43,226.8,336.2,437.35c-15,50.4-97.11,301.71-100.35,352.82-3.24,22-10.55,88.63-57.72,149.59-9.76,20.36-14.62,47.17-4.15,81.32,2.45,10.56-26.84,48.79-39.85,52.86s-51.19,56.09-39.81,113c3.24,22.77,16.25,59.38-33.24,87-21.94,19.49-76.42,45.5-17.87,235.77,9.77,39,34.16,76.42,12.18,221.94-.79,26.84,0,56.93,72.22,65,2.57,35.78,13.17,118.71,13.17,118.71s129.6-133.34,259.29-27.63c10.55-22,2-83.1,0-95.94,25.22-14.63,83.11-1.67,88.63,43.09,37.4-30.09,188.61-166.67,471.54-103.26,68.28,14.62,133.31,50.4,295.9-46.33,29.09-15.46,83.77-48.79,176.44,0,37.39,17.86,139.82,45.5,380.46,247.94,25.22-20.32,83.77-52.85,35-168.29-8.31-17.07-12.21-84.56,22.77-113.81,5.7-15.46,4.87-138.21-116.34-181.3-8.94-37.39-10.6-131.72-10.6-131.72S1652.81,746.29,1613,643c26-.79,100.85,1.62,107.33-60.41,4.86-24.94-8.93-43.64,88.63-128.2,16.25-20.31,46.33-72.34-5.69-124.36-14.63-12.22-9.77-48,21.94-55.31s63.49-21.15,33.24-52c-10.55-13.84-6.48-26.85,19.53-35.78C1892.73,179.63,1919.58,168.25,1844.78,97.53ZM665.14,1404.45a24.36,24.36,0,0,1-5,.54,21,21,0,0,1-8.31-1.62,23.22,23.22,0,0,1-4.16.29l-4.15-.21a23.25,23.25,0,0,1-9.39-2.49h-.79c-7.57,0-15.17-.21-22.73-.42a22.46,22.46,0,0,1-4.16-.54,112.94,112.94,0,0,0-20.53,1.42c-10.59,1.82-23.64,6.73-34.61,6.69a48.92,48.92,0,0,1-9.72,2.66h-.34c-3.82,1.12-7.52,2.2-11.38,3a17.62,17.62,0,0,1-11.14,2.49,519.42,519.42,0,0,1-121.87,14.34,26,26,0,0,1-4.49-.5,17.65,17.65,0,0,1-2.62.29c-20.77.37-41.22-1.54-62-2.16-19.83-.54-35.57-5.61-54.52-10.14a21.33,21.33,0,0,1-7-2.95,18.08,18.08,0,0,1-9.23-5.28l-1.58-.83.29.25h-.29l-1.33-.91h-.58l-5-2.08h0l-4.16-3.28h0l-2-2.58a19.48,19.48,0,0,1-3.58-3.62,15.66,15.66,0,0,1-3.45-2.78,16.05,16.05,0,0,1-3-3.91l-.41-.54h0l-1.58-3.69a17.59,17.59,0,0,1-2.12-2.91,27.72,27.72,0,0,1-1.71-3.91,16.31,16.31,0,0,1-2.57-4.61,25.24,25.24,0,0,1-5.32-11.1,14.35,14.35,0,0,1-1.21-2.57,15.36,15.36,0,0,1-1.74-6.73,13.77,13.77,0,0,1-1.12-2.66l-.38-2.83v-1.33a25.3,25.3,0,0,1-1.29-3.36l-.74-5.53a20.42,20.42,0,0,1,.33-3.66,19.27,19.27,0,0,1-.37-3.11,19,19,0,0,1-6-3.37,18.58,18.58,0,0,1-7.65-4.53,25,25,0,0,1-2.82-1.33l-4.16-3.28a10.37,10.37,0,0,1-1.08-1.21,19,19,0,0,1-7.27-8.31,21.11,21.11,0,0,1-3.07-6.44,22.11,22.11,0,0,1-3.41-8.81,23.74,23.74,0,0,1,.83-15.45,20.56,20.56,0,0,1,2.62-7.48l1.37-1.79a19.8,19.8,0,0,1,2.08-4.9l3.24-4.16.91-.79c.25-.62.58-1.2.87-1.79h0l-.41-.41a19.49,19.49,0,0,1-2.33-2.87,18.11,18.11,0,0,1-3.45-3.86,14.44,14.44,0,0,1-1.91-1.58,15.69,15.69,0,0,1-3.65-5.28l-1-1.2a17.14,17.14,0,0,1-2.5-2.08,15.69,15.69,0,0,1-4.15-6.69,16.51,16.51,0,0,1-1-2.33,21,21,0,0,1-2.08-4.82h0a22.8,22.8,0,0,1-2-5.36,26.53,26.53,0,0,1-1.37-2.78,22.8,22.8,0,0,1-1.95-8.31,28.54,28.54,0,0,1-2-7.07,125.43,125.43,0,0,1-.91-20.77,16,16,0,0,1,0-3.25,10.57,10.57,0,0,1,.33-3.2,27.2,27.2,0,0,1,.42-4.77c.41-2,.7-3.91.95-5.9a17.19,17.19,0,0,0-4.73-6.65c-2.87-3.41-5.53-7.36-8.32-11a16.29,16.29,0,0,1-4.15-3.08l-.37-.37a20.75,20.75,0,0,1-5.32-9.1,16.58,16.58,0,0,1-3.37-5.28l.71,1.66v-.25l-1.12-2.49a22.92,22.92,0,0,1-3.2-13.67,23.55,23.55,0,0,1-.34-14.17v-3.78a20.77,20.77,0,0,1,8.31-15.54,19.09,19.09,0,0,1,15.63-7.23h1.33a23.24,23.24,0,0,1,3.53-.29,20.67,20.67,0,0,1,9.81,2.32l.87.29a20.93,20.93,0,0,1,4.15,1.87l1.13.83a18.48,18.48,0,0,1,8.14,4.49,22.36,22.36,0,0,1,6.07,4.16l2,1.74a18.39,18.39,0,0,1,5.65,3.2,18.06,18.06,0,0,1,7.32,5.86,18.43,18.43,0,0,1,7.93,7.61c6.9,5.11,13.88,10.13,20.78,15,15.5,11.17,31.75,22.77,49.86,28.71a22.36,22.36,0,0,1,4.16,1.83,20.78,20.78,0,0,1,4.73,1.2h1.38a20,20,0,0,1,10.59,2.83h.63c1.85.5,3.68,1.1,5.48,1.78a35.88,35.88,0,0,1,5.24.25c6.06,0,12.17,0,18.24.29a22.06,22.06,0,0,1,4.44.59,185.75,185.75,0,0,1,18.87-.71h1.7a6.09,6.09,0,0,1,.83-.25,19.69,19.69,0,0,1,3.45-1.45,38.51,38.51,0,0,1,8.31-1.46l1.79-.41A20.06,20.06,0,0,1,382,1152a18.36,18.36,0,0,1,7.23-3.15c.29-.79.54-1.58.87-2.33a46.47,46.47,0,0,1,3.16-4.45h0l-.37.42a2,2,0,0,0,.37-.5c.71-2.41,1.42-4.82,2.29-7.19a63.15,63.15,0,0,1,9.43-17.78,23.61,23.61,0,0,1,1-7.61,33.86,33.86,0,0,1-2-9.8c-.63-.63-1.21-1.33-1.87-1.92a17.91,17.91,0,0,1-3.2-4.15,15.36,15.36,0,0,1-4.86-4.7,15,15,0,0,1-3.25-5.69c-.49-.66-1-1.37-1.45-2.08a10.22,10.22,0,0,1-.71-1.41,19.25,19.25,0,0,1-3.78-5.61,18.91,18.91,0,0,1-2.28-3.12,33.52,33.52,0,0,1-2.79-6.52,5.77,5.77,0,0,0-.29-.79l-.7-1.29c-.63-.91-1.29-1.78-2-2.66a38.75,38.75,0,0,1-5.15-10.68,15.5,15.5,0,0,1-.79-3.57c-1.08-2.66-1.58-5.44-2.45-8.31a25.92,25.92,0,0,1-3.08-12.67,28.7,28.7,0,0,1,1-5.53,17.72,17.72,0,0,1-.5-5.57,39.27,39.27,0,0,1,1.62-11.55,36.66,36.66,0,0,1,1.58-4.16,3.76,3.76,0,0,1,.29-1.78v-1.17a20.36,20.36,0,0,1,4.66-12.71,20.79,20.79,0,0,1,6.69-11.14,19,19,0,0,1,17.78-10.68A20.22,20.22,0,0,1,410,963.45a18,18,0,0,1,9.1,5.4,68.07,68.07,0,0,1,6.44,8.31,18.69,18.69,0,0,1,4.86,5.86,62.4,62.4,0,0,1,7,6.61,163.1,163.1,0,0,1,14.83,21.11c6.11,9.3,11.84,18.82,17.29,28.54a88.71,88.71,0,0,0,9.64,13.38l5,5.9h0c14.3,14.3,25.64,32.91,38.07,47.37s30.7,28.34,40.88,45.71c14.88,12.18,27.22,30.83,40.64,42.55a121.76,121.76,0,0,0,33.25,21.69,51.14,51.14,0,0,1,8.31,4.7h.83l.91.37c16.62.75,22.4,18.08,17,30.13a25.17,25.17,0,0,1-.79,2.86c0,1.42.62,4.16.66,4.83v.24c.29,1.67.54,3.33.71,4.91a28.23,28.23,0,0,1,2.53,8.77,15.27,15.27,0,0,1,0,2.53,170.62,170.62,0,0,0,4.78,21.9,20.8,20.8,0,0,1,1.71,12.88,577,577,0,0,1,9,61v1.54C689.07,1385.34,683.25,1404.33,665.14,1404.45Z')
            image(width='1905' height='1941' xlink:href='./images/hoodie-line.png')
        g#jean(transform='translate(115, 3440)')
            lineargradient#jeanColor(x1='0' x2='0' y1='0' y2='1')
                stop(offset='0' stop-color='#718dbd')
                stop(offset='1' stop-color='#718dbd')
            path(fill='url(#jeanColor)' d='M917.38,90.13S481,9,314.34,14.48C292.45,9,131.26-37.09,20.52,191c-15.35,27.4-70.19,178.71,102,357.25C155.39,580,257.35,686.4,711.27,887.05c6.56,21,19.71,40.56,40.56,38.38s234.65-75.66,284-99.78c14.25,41.65,81.12,237.93,252.18,273.19,103.06-17.57,189.68-19.75,227-32.91,26.31,12.06,232.42,68,342.08,59.22,55.9,9.83,367.29,74.56,583.28,34,45-18.62,277.4-89.9,268.62-319,4.41-46.23,11-121.88.25-167.74C2653,626.09,2561,511.39,2385.56,447.55c-80.07-38.37-282.9-140.34-346.49-155.51-46.23-7.69-229.15-35.1-277.4,16.43C1733.18,322.72,1299,571.62,1299,571.62s-95.91-36.73-214.9,49.89c-14.25-8.41-42.74-34-42.74-34l-8.41-2.69,2.48-34.55-27.15-13.16-14.79-9.88-26.31-18.07-8.87-24S978,392.2,968.16,362.57c-2.48-15.64-48.55-251.64-47.71-261.51S917.38,90.13,917.38,90.13Z')
            image(width='2715' height='1178' xlink:href='./images/jean-line.png')


    .control-board
        .control-nav
            .control-sections.size-picker
                label.size-picker__item
                    input.js-section-input(type="radio" name="section" value="#hat")
                    span Hat
                label.size-picker__item
                    input.js-section-input(type="radio" name="section" value="#hair")
                    span Hair
                label.size-picker__item
                    input.js-section-input(type="radio" name="section" value="#body", checked)
                    span Body
                label.size-picker__item
                    input.js-section-input(type="radio" name="section" value="#hoodie")
                    span Hoodie
                label.size-picker__item
                    input.js-section-input(type="radio" name="section" value="#jean")
                    span Jean
            .my-4
                +checkbox('gradient', '', 'js-gradient-check')
                    span Gradient?
                +checkbox('hat', 'ms-4', 'js-hat-check')
                    span Wearing Hat?
            #picker
            .pt-4.collapse.js-gradient-tab
                #picker2
