extends layout/page

block content
  .container
    .mb-5.d-flex.gap-3.flex-wrap
      h2.text-white.w-100 Quiz điều hướng
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-form-info") Survey
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-survey-result") Survey result
    .mb-5.d-flex.gap-3.flex-wrap
      h2.text-white.w-100 Interactive TVC
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-upload") Tải lên hình ảnh
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-upload-success") Tải lên thành công
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-upload-failed") Tải lên thất bại
    .mb-5.d-flex.gap-3.flex-wrap
      h2.text-white.w-100 Minigame 1: Ghép hình thẻ
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-puzzle") Puzzle
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-puzzle-guide") Puzzle Guide
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-puzzle-error") Puzzle Error
    .mb-5.d-flex.gap-3.flex-wrap
      h2.text-white.w-100 Minigame 2: Quiz
      buton.button(type="button", data-bs-toggle="modal", data-bs-target=".md-quiz-begin") Quiz Begin
    .mb-5.d-flex.gap-3.flex-wrap
      h2.text-white.w-100 Minigame 3: Ghép hình thẻ
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-card-game-intro") Card game intro
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-card-game") Card game
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-card-game-result") Card game result
    .mb-5.d-flex.gap-3.flex-wrap
      h2.text-white.w-100 Popup chơi lại
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-game-result") Game result
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-play-again") Play again
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-game-leaderboard") Leaderboard
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-game-form") Thông tin nhận thưởng
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-game-guide") Hướng dẫn

    .mb-5.d-flex.gap-3.flex-wrap
      h2.text-white.w-100 Accounts
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-login") Đăng nhập
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-login-error") Đăng nhập lỗi
    .mb-5.d-flex.gap-3.flex-wrap
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-login-success") Đăng nhập thành công
    .mb-5.d-flex.gap-3.flex-wrap
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-register") Đăng ký
    .mb-5.d-flex.gap-3.flex-wrap
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-register-error") Đăng ký - Lỗi
    .mb-5.d-flex.gap-3.flex-wrap
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-reset-password") Đặt lại mật khẩu
    .mb-5.d-flex.gap-3.flex-wrap
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-reset-email-success") Đặt lại mật khẩu - Đã gửi email
    .mb-5.d-flex.gap-3.flex-wrap
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-reset-email-error") Đặt lại mật khẩu - Lỗi
    .mb-5.d-flex.gap-3.flex-wrap
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-new-password") Tạo mật khẩu mới
    .mb-5.d-flex.gap-3.flex-wrap
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-new-password-success") Đặt lại mật khẩu thành công
    .mb-5.d-flex.gap-3.flex-wrap
      button.button(type="button", data-bs-toggle="modal", data-bs-target=".md-new-password-error") Đặt lại mật khẩu - Lỗi

  +md-form-info

  +md-template('md-upload')
    +upload
  +md-template('md-upload-success')
    +upload-success
  +md-template('md-upload-failed')
    +upload-failed

  +md-template('md-survey-result')
    +survey-result
  +md-template('md-login')
    +login
  +md-template('md-login-error')
    +login('error')
  +md-template('md-login-success')
    +login-success
  +md-template('md-register')
    +register
  +md-template('md-register-error')
    +register(true)
  +md-template('md-reset-password')
    +reset-password
  +md-template('md-reset-email-success')
    +reset-password(true)
  +md-template('md-reset-email-error')
    +reset-password(false, true)
  +md-template('md-new-password')
    +new-password
  +md-template('md-new-password-success')
    +new-password-success
  +md-template('md-new-password-error')
    +new-password(true)

  +md-template('md-quiz-begin')
    +quiz-begin
  +md-template('md-quiz-question')
    +quiz-question

  +md-template('md-puzzle')
    +puzzle
  +md-template('md-puzzle-result')
    +puzzle-result
  +md-template('md-puzzle-guide')
    +puzzle-guide
  +md-template('md-puzzle-error')
    +puzzle-error

  +md-template('md-card-game-intro')
    +card-game-intro
  +md-template('md-card-game')
    +card-game
  +md-template('md-card-game-result')
    +card-game-result

  +md-template('md-game-result')
    +game-result
  +md-template('md-game-form')
    +game-form
  +md-template('md-game-guide')
    +game-guide

  +md-template('md-game-leaderboard')
    +game-leaderboard

  +md-template('md-play-again')
    +play-again
