extends layout/page

block content
  section.section
    .container
      h2.section__title Sự kiện

      .events
        each item, index in ["10/2022","06/2022","09/2022","06/2022","09/2022","09/2022"]
          +event(item)
