extends layout/page

block content
  .page
    .page__content
      .page__body.frame
        .row.align-items-center.justify-content-center.g-0.w-100
          .col-sm-5
            .frame__frame
              //- img.frame__underlay(src="./images/intro-underlay.svg", alt="")
              .frame__img
              img.frame__overlay(src="./images/photo-frame.png", alt="")
            input.js-image-value(type="hidden")
            .frame__btns
              button.frame__btn.frame__btn--download.js-download-image(type="button") Download photo
              label.frame__btn.frame__btn--upload(for="upload-input")
                input.js-input-preview#upload-input(type="file", data-target=".frame__img", accept="image/*;capture=camera")
                span Upload photo
