extends layout/page

block content
  .page(style="background: linear-gradient(to bottom, #010101, #3B3B3B)")
    .page__content
      .page__body.guide
        a.guide__close(href="./countdown.html")
        .guide__body
          .guide__header
            .guide__title Hướng dẫn tham gia sự kiện
              br
              | #[span TVSI] Year End Party 2022
          .guide__content
            p Chào mừng các bạn đã đến với Chương trình YEAR END PARTY 2022 của Chứng khoán Tân Việt!
            p Để tham gia chương trình, các bạn vui lòng thực hiện theo hướng dẫn sau: 
            p #[strong Bước 1:] Chuẩn bị Hai thiết bị điện tử (Laptop, máy tính bàn, di động, máy tính bảng,...) để tham gia sự kiện
            p #[strong Bước 2:] Truy cập vào website #[a(href="https://beunique.tvsi.com.vn") https://beunique.tvsi.com.vn] thông qua thiết bị điện tử thứ nhất
            p #[strong Bước 3:] Tuỳ biến tham quan sảnh sự kiện và lưu giữ những tấm hình đẹp tại khu Photo Booth trước giờ sự kiện bắt đầu
            p #[strong Bước 4:] Truy cập link Zoom để tham gia sự kiện vào 19:00 tại khu vực Phòng Hội nghị thông qua thiết bị điện tử thứ hai #[a(href="https://usO2web.zoom.us/webinar/register/WN_zcgVQGo2QO2Abj5Ofd9pXQ") https://usO2web.zoom.us/webinar/register/WN_zcgVQGo2QO2Abj5Ofd9pXQ]
            p #[strong Bước 5:] Đăng nhập tài khoản Zoom và bắt đầu trải nghiệm bữa tiệc cuối năm YEP 2022 của chứng khoán Tân Việt nhé
          .guide__footer
            img(src="./images/logo.svg", alt="")