extends layout/page

block content
<<<<<<< HEAD
  // this is dev page

=======
  // some one add more line here
>>>>>>> test-main
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo dolores rerum repellat quas sit consequatur quae quod, deleniti aliquam quaerat quis ipsam velit. Amet mollitia, expedita omnis id quasi tenetur?
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolor veritatis quaerat, sed ipsam, rerum accusantium hic iste voluptatum reprehenderit cum molestias nemo vero corrupti fuga explicabo asperiores iusto. Nulla!

  // this is main page

  // some one add more code
