extends layout/page

block content
    .head
        img.face-shape(src="./images/head-v2.png", alt="")
        .eyes
            .eye.eye-left
                .eyeball
                    .iris
                img.eyeliner(src="./images/eye-left-v2.png", alt="")
            .eye.eye-right(src="./images/eye-left-v2.png", alt="")
                .eyeball
                    .iris
                img.eyeliner(src="./images/eye-left-v2.png", alt="")
        .eyebrows
            img.eyebrow.eyebrow-left(src="./images/eyebrow-left.png", alt="")
            img.eyebrow.eyebrow-right(src="./images/eyebrow-left.png", alt="")
        img.nose(src="./images/nose.png", alt="")
        img.mouth(src="./images/mouth.png", alt="")
