extends layout/page

block content
  style.
    .svg-path-draw {
      stroke: #000 !important;
      fill: rgba(0,0,0,0.2) !important;
    }
    .dot-circle {
      fill: rgba(0,0,0,1) !important;
    }
  .container-fluid.py-5
    .row
      .col-lg-9
        .box
          svg.n-svg.js-svg(viewBox="0 0 4001 2251", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
            defs
              filter#f1(x='0' y='0')
                fegaussianblur(in='SourceGraphic' stddeviation='2' result="blur")
            g#zoom-scene
          style.
            .n-svg {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
            }
            .svg-path-color {
              opacity: 0;
              transition: 0.6s ease;
              filter: url(#f1);
              animation-delay: .3s;
            }
            .svg-thumbnail {
              opacity: 0;
              transform: translateY(10%);
              transition: 0.6s ease;
            }
            .svg-path a {
              pointer-events: none;
            }
            .svg-path.active .svg-path-color {
              opacity: 1;
            }
            .svg-path.active .svg-thumbnail {
              opacity: 1;
              transform: translateY(0);
            }
            .svg-path.active a {
              pointer-events: unset;
            }
            @media (min-width: 992px) {
              .svg-path:hover .svg-path-color {
                opacity: 1;
              }
              .svg-path:hover .svg-thumbnail {
                opacity: 1;
                transform: translateY(0);
              }
              .svg-path:hover a {
                pointer-events: unset;
              }
            }
          script.
            document.addEventListener('DOMContentLoaded', function() {
              console.log('dom content loaded', $('.js-svg'));
              $('.js-svg').on('click', function() {
                $('.svg-path.active').removeClass('active');
              });
              $('.js-svg').on('click', '.svg-path', function(e) {
                e.stopPropagation();
                $('.svg-path').not($(this)).removeClass('active');
                $(this).addClass('active');
              });

              // 0 - 1000
              // 0.8 - 1.2
              // 0.8 + 0.4 * timestamp / 2000
              window.requestAnimationFrame(step);

              function step(timestamp) {
                $('.js-svg').find('.svg-icon').each(function() {
                  const $group = $(this);
                  const duration = parseInt($group.data('duration') || 2000);
                  const delay = parseInt($group.data('delay') || 0);
                  let x = $group.data('x');
                  let y = $group.data('y');
                  let width = $group.data('width');
                  let height = $group.data('height');

                  let time = (timestamp - delay) % (2 * duration);
                  let scale = 0.8 + Math.abs(0.4 * (time - duration) / duration);

                  let newWidth = (1 - scale) * x + (1 - scale) * width / 2;
                  let newHeight = (1 - scale) * y + (1 - scale) * height / 2;
                  let matrix = `matrix(${scale} 0 0 ${scale} ${newWidth} ${newHeight})`;
                  $group.attr('transform', matrix);
                });

                window.requestAnimationFrame(step);
              }
            });

      .col-lg-3
        .sidebar.border.h-100.p-2
          .mb-3
            input.form-control.js-map-img(type="text", placeholder="Map Image Url")
          //- .mb-3
          //-   label.checkbox-styled
          //-     input.checkbox-styled__input(type="checkbox", checked)
          //-     span.checkbox-styled__icon
          //-     | Show path stroke
          button.btn.btn-block.btn-info.mb-2.js-object-add(data-type="path") Vẽ path
          button.btn.btn-block.btn-info.mb-2.js-object-add(data-type="dot") Thêm dấu
          button.btn.btn-block.btn-success.mb-2.js-export Xuất data

  .md-result.modal.fade(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-body
          textarea.js-result.form-control(rows="10")
