extends layout/page

block content
  .svg-container.svg-container--portrait
    svg.n-svg.js-svg(viewBox="0 0 1081 1921", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
      defs
        filter#f1(x="0", y="0")
          fegaussianblur(in="SourceGraphic", stdDeviation="2", result="blur")
      g.zoom-scene
        image(href="https://html.zend.website/svg-map/images/phu-quoc-map-vertical.png", width="1081", height="1921")
        g.svg-icon(data-object="chksd1mcgm", data-width="216", data-height="63", data-x="374.3704528808594", data-y="818.6446533203125", data-duration="0", data-delay="2000", transform="matrix(0.9627982000000077 0 0 0.9627982000000077 17.945049113979437 31.62691136388505)")
          image(href="https://html.zend.website/svg-map/images/icon-star.png", width="216", height="63", x="374.3704528808594", y="818.6446533203125")
        g.svg-icon(data-object="d3ltdslhol", data-width="86", data-height="68", data-x="508.1932373046875", data-y="1107.425537109375", data-duration="0", data-delay="2000", transform="matrix(0.9627982000000077 0 0 0.9627982000000077 20.505380575557272 42.46308454642674)")
          image(href="https://html.zend.website/svg-map/images/icon-land.png", width="86", height="68", x="508.1932373046875", y="1107.425537109375")
        g.svg-icon(data-object="dglscnidf2", data-width="151", data-height="60", data-x="487.9140625", data-y="1001.4381103515625", data-duration="0", data-delay="0", transform="matrix(1.0372017999999925 0 0 1.0372017999999925 -20.96001727030828 -38.371354293669036)")
          image(href="https://html.zend.website/svg-map/images/icon-airplane.png", width="151", height="60", x="487.9140625", y="1001.4381103515625")
        g.svg-icon(data-object="dglsfj8kb2", data-width="108", data-height="77", data-x="673.1732177734375", data-y="1215.357177734375", data-duration="0", data-delay="0", transform="matrix(1.0372017999999925 0 0 1.0372017999999925 -27.052152612958423 -46.64574395462928)")
          image(href="https://html.zend.website/svg-map/images/icon-umbrella.png", width="108", height="77", x="673.1732177734375", y="1215.357177734375")
        circle.dot-circle(data-object="c35tfsllg2", cx="253.0049591064453", cy="481.500732421875", r="3", fill="transparent")
        g.svg-icon(data-object="c35tfsllg2", data-width="216", data-height="78", data-x="145.0049591064453", data-y="442.500732421875", data-duration="0", data-delay="2000", transform="matrix(0.9627982000000077 0 0 0.9627982000000077 9.412239887684207 17.912693947408396)")
          image(href="https://html.zend.website/svg-map/images/icon-animals.png", width="216", height="78", x="145.0049591064453", y="442.500732421875")
        g.svg-icon(data-object="dgls3kahd2", data-width="216", data-height="109", data-x="550.7365112304688", data-y="451.4423828125", data-duration="0", data-delay="0", transform="matrix(1.0372017999999925 0 0 1.0372017999999925 -24.506183943488722 -18.821967336910276)")
          image(href="https://html.zend.website/svg-map/images/icon-tree.png", width="216", height="109", x="550.7365112304688", y="451.4423828125")
        g.svg-icon(data-object="dhlt3q1o34", data-width="108", data-height="58", data-x="282.1065979003906", data-y="714.0264892578125", data-duration="0", data-delay="0", transform="matrix(1.0372017999999925 0 0 1.0372017999999925 -12.503770433768235 -27.641922848065725)")
          image(href="https://html.zend.website/svg-map/images/icon-beach.png", width="108", height="58", x="282.1065979003906", y="714.0264892578125")
    style.
      .n-svg
      {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      }

      .svg-path-color
      {
      opacity: 0;
      transition: 0.6s ease;
      filter: url(#f1);
      animation-delay: .3s;
      }

      .svg-thumbnail
      {
      opacity: 0;
      transform: translateY(10%);
      transition: 0.6s ease;
      }

      .svg-path a
      {
      pointer-events: none;
      }

      .svg-path.active .svg-path-color
      {
      opacity: 1;
      }

      .svg-path.active .svg-thumbnail
      {
      opacity: 1;
      transform: translateY(0);
      }

      .svg-path.active a
      {
      pointer-events: unset;
      }

      @media (min-width: 992px)
      {
      .svg-path:hover .svg-path-color
      {
      opacity: 1;
      }

      .svg-path:hover .svg-thumbnail
      {
      opacity: 1;
      transform: translateY(0);
      }

      .svg-path:hover a
      {
      pointer-events: unset;
      }
      }
    script.
      document.addEventListener('DOMContentLoaded', function()
      {
      console.log('dom content loaded', $('.js-svg'));
      $('.js-svg').on('click', function()
      {
      $('.svg-path.active').removeClass('active');
      });
      $('.js-svg').on('click', '.svg-path', function(e)
      {
      e.stopPropagation();
      $('.svg-path').not($(this)).removeClass('active');
      $(this).addClass('active');
      });
      // 0 - 1000
      // 0.8 - 1.2
      // 0.8 + 0.4 * timestamp / 2000
      window.requestAnimationFrame(step);

      function step(timestamp)
      {
      $('.js-svg').find('.svg-icon').each(function()
      {
      const $group = $(this);
      const duration = parseInt($group.data('duration') || 2000);
      const delay = parseInt($group.data('delay') || 0);
      let x = $group.data('x');
      let y = $group.data('y');
      let width = $group.data('width');
      let height = $group.data('height');
      let time = (timestamp - delay) % (2 * duration);
      let scale = 0.8 + Math.abs(0.4 * (time - duration) / duration);
      let newWidth = (1 - scale) * x + (1 - scale) * width / 2;
      let newHeight = (1 - scale) * y + (1 - scale) * height / 2;
      let matrix = `matrix(${scale} 0 0 ${scale} ${newWidth} ${newHeight})`;
      $group.attr('transform', matrix);
      });
      window.requestAnimationFrame(step);
      }
      });

  .svg-container
    svg.n-svg.js-svg(viewBox="0 0 1921 1081", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
      defs
        filter#f1(x="0", y="0")
          fegaussianblur(in="SourceGraphic", stdDeviation="2", result="blur")
      g.zoom-scene
        image(href="https://html.zend.website/svg-map/images/phu-quoc-map.png", width="1921", height="1081")
        circle.dot-circle(data-object="130f0eg299", cx="1068.174072265625", cy="498.8444519042969", r="5", fill="transparent")
        g.svg-icon(data-object="130f0eg299", data-width="192", data-height="192", data-x="972.174072265625", data-y="402.8444519042969", data-duration="2000", data-delay="2000", transform="matrix(0.9325978 0 0 0.9325978 71.99728245366207 33.62321351614378)")
          image(href="https://html.zend.website/svg-map/images/icon-star.png", width="192", height="192", x="972.174072265625", y="402.8444519042969")
        circle.dot-circle(data-object="1gbfa8d8se", cx="888.1195678710938", cy="568.0402221679688", r="5", fill="transparent")
        g.svg-icon(data-object="1gbfa8d8se", data-width="134", data-height="118", data-x="821.1195678710938", data-y="509.04022216796875", data-duration="2000", data-delay="0", transform="matrix(1.0674022 0 0 1.0674022 -59.861212737561104 -38.28716066260991)")
          image(href="https://html.zend.website/svg-map/images/icon-airplane.png", width="134", height="118", x="821.1195678710938", y="509.04022216796875")
        circle.dot-circle(data-object="ch0e1g3sj0", cx="775.3367919921875", cy="540.4092407226562", r="5", fill="transparent")
        g.svg-icon(data-object="ch0e1g3sj0", data-width="77", data-height="64", data-x="736.8367919921875", data-y="508.40924072265625", data-duration="2000", data-delay="2000", transform="matrix(0.9325978 0 0 0.9325978 52.2594055212158 36.42477172503661)")
          image(href="https://html.zend.website/svg-map/images/icon-land.png", width="77", height="64", x="736.8367919921875", y="508.40924072265625")
        circle.dot-circle(data-object="c3befbcd4p", cx="651.55078125", cy="720.7096557617188", r="5", fill="transparent")
        g.svg-icon(data-object="c3befbcd4p", data-width="115", data-height="109", data-x="594.05078125", data-y="666.2096557617188", data-duration="2000", data-delay="0", transform="matrix(1.0674022 0 0 1.0674022 -43.9159560679688 -48.57741635958258)")
          image(href="https://html.zend.website/svg-map/images/icon-umbrella.png", width="115", height="109", x="594.05078125", y="666.2096557617188")
        circle.dot-circle(data-object="dgaff2splh", cx="1181.079833984375", cy="365.8564147949219", r="5", fill="transparent")
        g.svg-icon(data-object="dgaff2splh", data-width="115", data-height="62", data-x="1123.579833984375", data-y="334.8564147949219", data-duration="2000", data-delay="0", transform="matrix(1.0674022 0 0 1.0674022 -79.60737918618175 -24.659527241290313)")
          image(href="https://html.zend.website/svg-map/images/icon-beach.png", width="115", height="62", x="1123.579833984375", y="334.8564147949219")
        circle.dot-circle(data-object="ch0e2mobda", cx="1429.655029296875", cy="286.0832214355469", r="5", fill="transparent")
        g.svg-icon(data-object="ch0e2mobda", data-width="192", data-height="136", data-x="1333.655029296875", data-y="218.08322143554688", data-duration="2000", data-delay="2000", transform="matrix(0.9325978 0 0 0.9325978 96.36189421567377 19.28263850784301)")
          image(href="https://html.zend.website/svg-map/images/icon-animals.png", width="192", height="136", x="1333.655029296875", y="218.08322143554688")
        circle.dot-circle(data-object="c30ffs973b", cx="1384.6390380859375", cy="643.687255859375", r="5", fill="transparent")
        g.svg-icon(data-object="c30ffs973b", data-width="192", data-height="120", data-x="1288.6390380859375", data-y="583.687255859375", data-duration="2000", data-delay="0", transform="matrix(1.0674022 0 0 1.0674022 -93.32771737287608 -43.385937156884815)")
          image(href="https://html.zend.website/svg-map/images/icon-tree.png", width="192", height="120", x="1288.6390380859375", y="583.687255859375")
