extends layout/page

block content
  .container
    .row.g-10
      .col-6.mb-30.js-col.border-bottom
        h3 cloudfront
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://d7y19uepu1s8k.cloudfront.net/52/storage/catalog/campaign/16245/1/16245_1_9a295030148bcba9275f20a35bc2d734_1637749389.png", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 Origin
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16245/1/16245_1_9a295030148bcba9275f20a35bc2d734_1637749389.png", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 1000
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16245/1/16245_1_9a295030148bcba9275f20a35bc2d734_1637749389.png?tr=w-1000", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 500
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16245/1/16245_1_9a295030148bcba9275f20a35bc2d734_1637749389.png?tr=w-500", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 300
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16245/1/16245_1_9a295030148bcba9275f20a35bc2d734_1637749389.png?tr=w-300", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 200
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16245/1/16245_1_9a295030148bcba9275f20a35bc2d734_1637749389.png?tr=w-200", alt="")
      .col-12.js-col.border-bottom
      .col-4.mb-4.js-col.border-bottom
        h4 Origin
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://9prints-bucket-data-sync-efs.s3.us-east-2.amazonaws.com/character/storage/character/thumbnail/05.05.2022/433.XF1X26273b752c323f.png", alt="")
      .col-4.mb-4.js-col.border-bottom
        h4 1000
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/character/storage/character/thumbnail/05.05.2022/433.XF1X26273b752c323f.png?tr=w-1000", alt="")
      .col-4.mb-4.js-col.border-bottom
        h4 500
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/character/storage/character/thumbnail/05.05.2022/433.XF1X26273b752c323f.png?tr=w-500", alt="")
      .col-4.mb-4.js-col.border-bottom
        h4 300
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/character/storage/character/thumbnail/05.05.2022/433.XF1X26273b752c323f.png?tr=w-300", alt="")
      .col-4.mb-4.js-col.border-bottom
        h4 200
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/character/storage/character/thumbnail/05.05.2022/433.XF1X26273b752c323f.png?tr=w-200", alt="")
      .col-4.mb-4.js-col.border-bottom
        h4 150
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/character/storage/character/thumbnail/05.05.2022/433.XF1X26273b752c323f.png?tr=w-150", alt="")
      .col-12.js-col.border-bottom
      .col-6.mb-30.js-col.border-bottom
        h3 cloudfront
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://d7y19uepu1s8k.cloudfront.net/52/storage/catalog/campaign/16265/1/16265_157_12759a9e2e83a3a66c8ca691ea943839_1637814991.png", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 Origin
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16265/1/16265_157_12759a9e2e83a3a66c8ca691ea943839_1637814991.png", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 1000
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16265/1/16265_157_12759a9e2e83a3a66c8ca691ea943839_1637814991.png?tr=w-1000", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 500
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16265/1/16265_157_12759a9e2e83a3a66c8ca691ea943839_1637814991.png?tr=w-500", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 300
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16265/1/16265_157_12759a9e2e83a3a66c8ca691ea943839_1637814991.png?tr=w-300", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 200
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9um5tdigihm/52/storage/catalog/campaign/16265/1/16265_157_12759a9e2e83a3a66c8ca691ea943839_1637814991.png?tr=w-200", alt="")

      .col-12.js-col.border-bottom
      .col-6.mb-30.js-col.border-bottom
        h3 S3
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://9prints-storage-dev.s3.ap-southeast-1.amazonaws.com/88/storage/catalog/customer_mockup/31967/7a237ca7ef8d57920658675927e7c250.png", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 Origin
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/customer_mockup/31967/7a237ca7ef8d57920658675927e7c250.png", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 1000
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/customer_mockup/31967/7a237ca7ef8d57920658675927e7c250.png?tr=w-1000", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 500
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/customer_mockup/31967/7a237ca7ef8d57920658675927e7c250.png?tr=w-500", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 300
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/customer_mockup/31967/7a237ca7ef8d57920658675927e7c250.png?tr=w-300", alt="")
      .col-6.mb-30.js-col.border-bottom
        h3 200
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(src="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/customer_mockup/31967/7a237ca7ef8d57920658675927e7c250.png?tr=w-200", alt="")
      .col-12.border-bottom.py-3
      .col-6.mb-30.js-col.border-bottom
        h3 200
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(alt="Holiday b2", src="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-3840,q-100", decoding="async", data-nimg="responsive", sizes="296px", srcset="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-50,q-100 50w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-100,q-100 100w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-150,q-100 150w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-200,q-100 200w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-250,q-100 250w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-330,q-100 330w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-400,q-100 400w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-500,q-100 500w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-600,q-100 600w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-700,q-100 700w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-850,q-100 850w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-1080,q-100 1080w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-1200,q-100 1200w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-1920,q-100 1920w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-2048,q-100 2048w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31972/1/31972_157_ea4152b614dcd69d6c546ede4dbe0d29_1654758870.png?tr=w-3840,q-100 3840w")

      .col-6.mb-30.js-col.border-bottom
        h3 200
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(alt="Holiday", src="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-3840,q-100", decoding="async", data-nimg="responsive", sizes="296px", srcset="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-50,q-100 50w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-100,q-100 100w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-150,q-100 150w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-200,q-100 200w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-250,q-100 250w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-330,q-100 330w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-400,q-100 400w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-500,q-100 500w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-600,q-100 600w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-700,q-100 700w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-850,q-100 850w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-1080,q-100 1080w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-1200,q-100 1200w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-1920,q-100 1920w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-2048,q-100 2048w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31971/1/31971_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758806.png?tr=w-3840,q-100 3840w")

      .col-6.mb-30.js-col.border-bottom
        h3 200
          span.ms-2 render width:
          span.ms-1.js-img-width
        img.w-100(alt="Holiday", src="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-3840,q-100", decoding="async", data-nimg="responsive", sizes="296px", srcset="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-50,q-100 50w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-100,q-100 100w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-150,q-100 150w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-200,q-100 200w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-250,q-100 250w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-330,q-100 330w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-400,q-100 400w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-500,q-100 500w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-600,q-100 600w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-700,q-100 700w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-850,q-100 850w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-1080,q-100 1080w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-1200,q-100 1200w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-1920,q-100 1920w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-2048,q-100 2048w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31970/1/31970_1_3716ae0e7a72775c2d6c5e4a53182d9e_1654758788.png?tr=w-3840,q-100 3840w")

      .col-6.mb-30.js-col.border-bottom
        h3 200
          span.ms-2 render width:
          span.ms-1.js-img-width
        .ratio.ratio-1x1
          img.w-100(alt="Thank you", style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover", src="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-3840,q-100", decoding="async", data-nimg="responsive", sizes="296px", srcset="https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-50,q-100 50w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-100,q-100 100w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-150,q-100 150w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-200,q-100 200w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-250,q-100 250w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-330,q-100 330w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-400,q-100 400w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-500,q-100 500w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-600,q-100 600w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-700,q-100 700w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-850,q-100 850w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-1080,q-100 1080w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-1200,q-100 1200w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-1920,q-100 1920w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-2048,q-100 2048w, https://ik.imagekit.io/9iyhafrdk/88/storage/catalog/campaign/31968/62/31968_100_f405accc9f6a02f7696ea17798e08f96_1654655076.png?tr=w-3840,q-100 3840w")
