extends layout/page

block content
  .container.py-5
    button.btn.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#popup-post") Open Post
    button.btn.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#popup-frame") Open Frame
    button.btn.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#popup-layout") Open Layout
    button.btn.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#popup-share") Open Share
    button.btn.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#popup-list") Open List
    button.btn.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#popup-intro") Open Intro (mobile)
    button.btn.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#popup-menu") Open Menu

    .mt-5
      iframe.rounded.shadow(src="./subtitle.html", frameborder="0", style="width: 230px; height: 320px;")

  +popup
  +popup-share
  +popup-layout
  +popup-list
  +popup-frame
  +popup-intro
  +popup-menu
