extends layout/page

block content
  // Banner slider
  +banner-slider

  // Giới thiệu doanh nghiệp
  section.section
    .container
      +intro-slider

  // Sản phẩm
  section.section.parallax-1
    .container
      h2.section__title Sản phẩm
      +product-slider
      .text-center.mt-30
        a.button(href="#!") Xem tất cả

  // Tin tức - Sự kiện
  section.section.parallax-1
    .container
      h2.section__title Tin tức - Sự kiện
      .row.g-30
        .col-lg-7.wow.fadeInLeft(data-wow-delay="0.1s")
          +video
        .col-lg-5.d-flex.flex-column.justify-content-between.gap-3
          .wow.fadeInRight(data-wow-delay="0.3s")
            +news('./images/news-1.jpg')
          .wow.fadeInRight(data-wow-delay="0.45s")
            +news('./images/news-2.jpg')
          .wow.fadeInRight(data-wow-delay="0.6s")
            +news('./images/news-3.jpg')
