extends layout/page

block content
  +banner-slider-2

  section.section.section--light.section--light-custom
    .container
      .section__inner
        .row
          .col-xl-3
            .section__header
              h2.section__title Tin tức mới
          .col-xl-9
            +news-slider

  // Truy xuất nguồn gốc
  section.section.section--primary.section--primary-custom
    img.section__bg(src="./images/section-bg.png", alt="")
    .container
      .section__header
        h2.section__title Truy xuất nguồn gốc
        +n-link('#!', 'ms-auto')

      +product-slider

  // Cơ sở sản xuất kinh doanh tiêu biểu
  section.section.section--light.pt-20
    img.section__bg--bottom(src="./images/full-width-dots.png", alt="")
    .container
      .row
        .col-xl-3
          .section__header
            h2.section__title Cơ sở&nbsp;
              br(class="d-none d-xl-inline")
              | sản xuất&nbsp;
              br(class="d-none d-xl-inline")
              | kinh doanh&nbsp;
              br(class="d-none d-xl-inline")
              | tiêu biểu&nbsp;
        .col-xl-9
          +news-slider-2

  // Grid
  section.section.pt-40
    .container
      a.d-block.mb-50(href="#!")
        img.d-block.w-100(src="./images/banner-home-1.jpg", alt="")

      .row.g-30
        .col-lg-7
          each item, index in ['Văn bản pháp luật', 'Thông tin quản lý chất lượng', 'Thủ tục hành chính']
            section.section-2.mb-40.ml-0
              .section-2__header
                h2.section-2__title Văn bản pháp luật
                +n-link('#!', 'ms-auto')

              .section-2__content
                each title in ['Hướng dẫn quy định truy xuất nguồn gốc, thu hồi và xử lý...', 'Vai trò ISO 22000 trong lĩnh vực thực phẩm', 'Vietnam expo 2021', 'Hướng dẫn quy định truy xuất nguồn gốc, thu hồi và xử lý...']
                  .mb-12.ml-0.pb-12.pl-0.border-bottom.bl-0
                    +news-x2(title)

              if (index !== 2)
                a.d-block.mt-12(href="#!")
                  img.d-block.w-100(src="./images/banner-home-3.jpg", alt="")

        .col-lg-5
          section.section.pt-0
            .section__header
              h2.section__title Video
              +n-link('#!', 'ms-auto')

            +video-slider
            +video-thumb-slider

            .mt-3.mt-md-20
              .row.g-3.g-md-20
                .col-12
                  +news-3('./images/card-1.jpg', 'Hệ thống QUẢN LÝ truy xuất nguồn gốc', 'news-3--horizontal')
                - for(let i = 2; i < 6; i++)
                  .col-6
                    +news-3(`./images/card-${i}.jpg`)
