extends layout/page

block content
  img.logo(src="./images/logo_bidv.svg", alt="")
  .game.game--stage-1(data-stage-count="3", data-stage-time="120", data-stage-point="10")
    .game__underlay
    a.game__close(href="#!")
    .game__body
      .game__wrapper
        .game__inner
          .cell.cell--empty(class=`cell--0`, data-index=0)
            .cell-caret.cell-caret--top
            .cell-caret.cell-caret--bottom
            .cell-caret.cell-caret--left
            .cell-caret.cell-caret--right
          .cell(class=`cell--1`, data-index=1)
          .cell(class=`cell--2`, data-index=2)
          .cell(class=`cell--3`, data-index=3)
            img.cell-img.cell-img--stage-1(src="./images/cell-3.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-2-3.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-3-3.png", alt="")
          .cell(class=`cell--4`, data-index=4)
            img.cell-img.cell-img--stage-1(src="./images/cell-4.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-2-4.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-3-4.png", alt="")
          .cell(class=`cell--5`, data-index=5)
            img.cell-img.cell-img--stage-1(src="./images/cell-5.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-2-5.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-3-5.png", alt="")
          .cell(class=`cell--6`, data-index=6)
            img.cell-img.cell-img--stage-1(src="./images/cell-6.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-2-6.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-3-6.png", alt="")
          .cell(class=`cell--7`, data-index=7)
            img.cell-img.cell-img--stage-1(src="./images/cell-7.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-2-7.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-3-7.png", alt="")
          .cell(class=`cell--8`, data-index=8)
            img.cell-img.cell-img--stage-1(src="./images/cell-8.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-2-8.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-3-8.png", alt="")
          .cell(class=`cell--9`, data-index=9)
            img.cell-img.cell-img--stage-1(src="./images/cell-9.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-2-9.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-3-9.png", alt="")
          .cell(class=`cell--10`, data-index=10)
            img.cell-img.cell-img--stage-1(src="./images/cell-10.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-2-10.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-3-10.png", alt="")
          .cell(class=`cell--11`, data-index=11)
            img.cell-img.cell-img--stage-1(src="./images/cell-11.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-2-11.png", alt="")
            img.cell-img.cell-img--stage-2(src="./images/cell-3-11.png", alt="")
          .game__lock
            .game__lock-inner
              button.game__start(type="button") Bắt đầu
              button.game__end(type="button") Kết thúc
          .game__board
            .game__type Minigame
            .game__name Ghép hình thẻ
            .game__time Còn lại:&nbsp;
              span.game__remaining 60s

    .game__footer
      a.game__link(href="#!")
        i.fal.fa-question-circle.me-2
        | Hướng dẫn

  .summary
    .summary__info Tổng điểm: #[span.summary__total-point 0]
    .summary__info Tổng thời gian: #[span.summary__total-time 0]
