extends layout/page

block content
  section.section-3
    .container
      .row.g-30
        .col-xl-9.ms-auto
          .position-relative.h-100
            +banner-slider('', 1)
              +card('./images/card-banner.jpg')

  section.section-3
    .container
      +s-shop

  +s-other-products
  +s-featured-products

  section.section-3.section-3--light-blue
    .container
      h2.section-3__title-2 Tin tức mới

      .row
        .col-lg-6.mb-30
          +news-3
        .col-lg-6.mb-30
          .mb-20.ml-0
            +news-2
          .mb-20.ml-0
            +news-2
          .mb-20.ml-0
            +news-2

      .text-center.mt-30
        a.button(href="./news.html") Xem tất cả
