extends layout/page

block content
  .welcome
    .welcome__frame
      img.welcome__img(src="./images/welcome.png", alt="")
    .welcome__footer
      button.button.button--lg(type="button", data-bs-toggle="modal", data-bs-target=".md-form") Enter

  //- .summary
  //-   .summary__info Tổng điểm: #[span.summary__total-point 0]
  //-   .summary__info Tổng thời gian: #[span.summary__total-time 0]
