extends layout/page

block content
  .py-5(style="min-height: 100vh;")
    .container
      .ratio.ratio-16x9.popup-mobile-size.mb-5
        iframe(src="./countdown.html")
      .ratio.ratio-16x9.popup-mobile-size.mb-5
        iframe(src="./frame.html")
      .ratio.ratio-16x9.popup-mobile-size.mb-5
        iframe(src="./intro.html")
