extends layout/page

block content
  .page(style="background: url(./images/intro-bg.jpg) center/cover no-repeat;")
    .page__content
      .page__body.intro
        .intro__body
          .row.align-items-center
            .col-sm-4.mb-30.mb-sm-0
              .intro__frame
                img.intro__img(src="./images/girl.jpg", alt="")
                img.intro__bg(src="./images/photo-frame.png", alt="")
            .col-sm-8
              .intro__title LƯU GIỮ NHỮNG KHOẢNH KHẮC #[strong “BE UNIQUE”] CÙNG VỚI TVSI
              .intro__content
                p Hãy chọn những góc mặt đẹp đính kèm filter để có những bức hình “sống ảo” chân thực nhất trong suốt thời gian trải nghiệm year end party có 1-0-2 này cùng với Tân Việt. 
                p Đừng quên chia sẻ những tấm hình này lên FB kèm hashtag #[a(href="#!") #TVSI] #[a(href="#!") #beunique] #[a(href="#!") #khacbietdedacbiet] để xem mọi người có trầm trồ.
              .mt-4
                a.intro__btn(href="./frame.html") Tạo khung hình
