extends layout/page

block content
  .layout
    .layout__title Layout điển hình
    .layout__body
      .layout__grid.post
        .layout__aside
          .post__content.p-0
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 1
            a.tab-btn.active(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 2
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 3
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 4
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 5
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 6
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 7
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 8
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 9
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 10
            a.tab-btn(href="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview")
              span Layout 11
        .layout__main
          iframe.layout__iframe(src="https://drive.google.com/file/d/1syomfdNU9oCLRP2kEkitSttxUX5blg2s/preview", frameborder="0")
