extends layout/page

block content
  .map
    .map__aside
      .map__heading Danh sách tỉnh / thành phố
      .map__search
        .input-group
          input.form-control(type="text", placeholder="Tìm kiếm")
          button.input-group-text
            i.fal.fa-lg.fa-search.text-primary

      ul.map-list
        - for(let i = 0; i < 20; i++)
          li.map-list__item
            a.map-list__toggle(href="#!") Tp. Hồ Chí Minh
            ul.map-sub-list
              each item, idx in ['Mỹ Đình', 'Cầu Giấy', 'Thanh Niên', 'Tuyết Giang', 'Miễn Phí']
                li
                  a.js-map-goto(href="#!", data-location-id=idx)
                    i.fal.fa-map-marker-alt.me-2.text-primary
                    | Cơ sở #{item}

    .map__body.ratio#map.wrap_ggmap Google Map
      //- iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3724.276132266639!2d105.78908421533202!3d21.021634493396395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1587606986563!5m2!1svi!2s' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')

block extra-script
  script
    include map.js

  script(src="https://cdnjs.cloudflare.com/ajax/libs/markerclustererplus/2.1.4/markerclusterer.min.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwpwR40C5TNuJyPqK1czYk1vL0gNXAn3M&callback=initMap&libraries=&v=weekly", async)
