extends layout/page

block content
  .container
    img.w-100.mb-3.mb-lg-30.mb-xxl-40(src="https://via.placeholder.com/1140x174", alt="")

    .row.gx-xxl-40
      .col-lg-9.mb-40.mb-lg-0
        .bg-white.p-3.p-xl-20.p-xxl-30
          article.post
            h1.post__title Giá xăng dầu hôm nay 5.11.2022: Tăng sốc phiên cuối tuần lên 5%
            .post__info
              i.fal.fa-clock.me-2.text-primary
              | 03/07/2022
            .post__content
              p Donec viverra, nisl hendrerit dignissim fermentum, erat erat dignissim nibh, non laoreet tellus turpis sit amet massa. Donec vel orci mauris. Donec ut fringilla ante. Aliquam suscipit, quam quis laoreet tincidunt, orci nisi facilisis risus, et rhoncus elit leo consectetur est. Nulla rutrum eleifend pulvinar. Phasellus quis ex gravida, lobortis augue at, pulvinar lorem. Etiam mattis ornare nulla non fermentum.
              p Morbi nec quam non sapien fermentum malesuada in at augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed feugiat convallis erat, vitae rhoncus nisi feugiat eget. Quisque ac enim a nulla rhoncus commodo non at felis. Mauris tortor ante, molestie hendrerit ipsum in, imperdiet sagittis turpis. Nullam imperdiet, mauris nec molestie porta, leo eros bibendum velit, ut ornare mauris odio non leo.
              p.text-center
                img(src="./images/post-img.jpg", alt="")
              p Donec viverra, nisl hendrerit dignissim fermentum, erat erat dignissim nibh, non laoreet tellus turpis sit amet massa. Donec vel orci mauris. Donec ut fringilla ante. Aliquam suscipit, quam quis laoreet tincidunt, orci nisi facilisis risus, et rhoncus elit leo consectetur est. Nulla rutrum eleifend pulvinar. Phasellus quis ex gravida, lobortis augue at, pulvinar lorem. Etiam mattis ornare nulla non fermentum.
              p Morbi nec quam non sapien fermentum malesuada in at augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed feugiat convallis erat, vitae rhoncus nisi feugiat eget. Quisque ac enim a nulla rhoncus commodo non at felis. Mauris tortor ante, molestie hendrerit ipsum in, imperdiet sagittis turpis. Nullam imperdiet, mauris nec molestie porta, leo eros bibendum velit, ut ornare mauris odio non leo.

          section.post-relate.mt-40
            h2.post-relate__title Bài viết liên quan
            ul.post-relate__list
              li
                a(href="#!")  Donec viverra, nisl hendrerit dignissim fermentum
              li
                a(href="#!")  Erat erat dignissim nibh, non laoreet tellus turpis sit amet massa.
              li
                a(href="#!")  Donec vel orci mauris. Donec ut fringilla ante.
              li
                a(href="#!")  Aliquam suscipit, quam quis laoreet tincidunt
              li
                a(href="#!")  Nulla rutrum eleifend pulvinar. Phasellus quis ex gravida

      .col-lg-3.col-md-6
        a.d-block.mb-4.ml-0(href="#!")
          img.w-100(src="./images/as-banner-1.jpg", alt="")
        a.d-block.mb-4.ml-0(href="#!")
          img.w-100(src="./images/as-banner-2.jpg", alt="")
        a.d-block.mb-4.ml-0(href="#!")
          img.w-100(src="./images/as-banner-3.jpg", alt="")
        a.d-block.mb-4.ml-0(href="#!")
          img.w-100(src="https://via.placeholder.com/250x250", alt="")
