extends layout/page

block content
  +banner('Thông báo', 'Trang chủ', 'Thông báo')

  section.body-contents
    .container
      img.w-100.mb-3.mb-lg-30.mb-xxl-40(src="https://via.placeholder.com/1140x174", alt="")

      .row.gx-xxl-40
        .col-lg-9.mb-40.mb-lg-0
          each item, idx in [`Giá xăng dầu hôm nay 5.11.2022: Tăng sốc phiên cuối tuần lên 5%`,`Bộ Công Thương gửi văn bản đến nhiều cơ quan, đơn vị đề nghị 'chung tay' gỡ khó xăng dầu`,`Giá xăng dầu hôm nay 5.11.2022: Tăng sốc phiên cuối tuần lên 5%`,`'Đại gia' xăng dầu công bố báo cáo tài chính, có thoát lỗ lớn?`,`Bộ Công Thương gửi văn bản đến nhiều cơ quan, đơn vị đề nghị 'chung tay' gỡ khó xăng dầu`,`Đại biểu truy cấp phép xăng dầu tràn lan, bộ trưởng thừa nhận 'đa tầng nấc làm tăng chi phí'`,`'Đại gia' xăng dầu công bố báo cáo tài chính, có thoát lỗ lớn?`,`Đại biểu truy cấp phép xăng dầu tràn lan, bộ trưởng thừa nhận 'đa tầng nấc làm tăng chi phí'`]
            .mb-3.mb-lg-4.wow.fadeInUp(data-wow-delay=`${idx * 0.15}s`)
              +news(item)
          .pt-xl-3
            a.n-btn.n-btn--rounded(href="#!") Xem thêm

        .col-lg-3.col-md-6
          .stat.stat--sm.mb-4.ml-0
            img.stat__bg(src="./images/stat-bg-1.jpg", alt="")
            .stat__number
              img(src="./images/stat-icon-1.png", alt="")
              span.ms-2 123
            .start__label Đại lý xăng dầu trên địa bàn
          .stat.stat--sm.mb-4.ml-0
            img.stat__bg(src="./images/stat-bg-2.jpg", alt="")
            .stat__number
              img(src="./images/stat-icon-2.png", alt="")
              span.ms-2 456
            .start__label Đại lý xăng dầu trên địa bàn
          a.d-block.mb-4.ml-0(href="./map.html")
            img.w-100(src="./images/as-banner-3.jpg", alt="")
          a.d-block.mb-4.ml-0(href="#!")
            img.w-100(src="https://via.placeholder.com/250x250", alt="")
