extends layout/page

block content
  section.section
    .container
      .row.gx-xxl-40
        .col-lg-8
          article.post
            h1.post__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eum quibusdam quisquam repellat ea nulla, voluptatibus maxime ipsa consequatur? Saepe quisquam cumque quae aut dignissimos aliquid officia quam sequi cum.
            .post__info
              i.fal.fa-clock.text-primary.me-2
              | 03/07/2022
            .post__content
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!
              p.text-center
                img(src="./images/news-1.jpg", alt="")
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, modi. Facilis voluptates tempore expedita, similique minus doloribus, eius id odio quisquam asperiores aliquam amet officiis rem ab fuga culpa eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos ut molestias natus omnis id eos cumque nisi, asperiores nostrum. Ut, maxime cum fuga iste est omnis nisi. Architecto, pariatur!

        .col-lg-4.mt-30.mt-lg-0
          +as-banners
