extends layout/page

block content
  article.banner
    img(src="./images/banner-1.jpg", alt="")

  nav.news-nav
    .container
      .news-nav__list
        a.news-nav__item.active(href="./news.html")
          .news-nav__icon
            img(src="./images/icon-news.png", alt="")
          .news-nav__label Tin IPN
        a.news-nav__item(href="./recruit.html")
          .news-nav__icon
            img(src="./images/icon-recruit.png", alt="")
          .news-nav__label Tin tuyển dụng

  section.section
    .container
      article.post
        h1.post__title Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis maiores autem id sapiente earum vero debitis nemo veniam inventore tempora! Repellendus expedita dicta dolorem nostrum commodi! Iste, nam! Consectetur, fugit!
        .post__info
          i.fal.fa-calendar-alt.me-2
          | 2022-03-07 09:22:21. Người đăng: Admin
        h2.post__sapo Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque totam quod ipsum? Aspernatur nostrum, delectus impedit voluptate ratione maiores quia dignissimos! Totam et expedita assumenda odio rem quisquam veniam? Esse.
        .post__content
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus quae consectetur minus! Excepturi, exercitationem at accusantium, quod dolore quam libero laboriosam totam consequatur culpa illum veniam quo perspiciatis atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, mollitia. Officiis in blanditiis qui nihil magni reprehenderit. Eius, cupiditate. Autem, quos. Sapiente blanditiis, doloremque corporis accusantium assumenda ullam porro unde. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore magnam minus excepturi optio molestias repellendus hic, eius est quas voluptas, pariatur ullam, sed animi iusto at voluptatibus aspernatur adipisci mollitia.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus quae consectetur minus! Excepturi, exercitationem at accusantium, quod dolore quam libero laboriosam totam consequatur culpa illum veniam quo perspiciatis atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, mollitia. Officiis in blanditiis qui nihil magni reprehenderit. Eius, cupiditate. Autem, quos. Sapiente blanditiis, doloremque corporis accusantium assumenda ullam porro unde. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore magnam minus excepturi optio molestias repellendus hic, eius est quas voluptas, pariatur ullam, sed animi iusto at voluptatibus aspernatur adipisci mollitia.
          p.text-center
            +img
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus quae consectetur minus! Excepturi, exercitationem at accusantium, quod dolore quam libero laboriosam totam consequatur culpa illum veniam quo perspiciatis atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, mollitia. Officiis in blanditiis qui nihil magni reprehenderit. Eius, cupiditate. Autem, quos. Sapiente blanditiis, doloremque corporis accusantium assumenda ullam porro unde. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore magnam minus excepturi optio molestias repellendus hic, eius est quas voluptas, pariatur ullam, sed animi iusto at voluptatibus aspernatur adipisci mollitia.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus quae consectetur minus! Excepturi, exercitationem at accusantium, quod dolore quam libero laboriosam totam consequatur culpa illum veniam quo perspiciatis atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, mollitia. Officiis in blanditiis qui nihil magni reprehenderit. Eius, cupiditate. Autem, quos. Sapiente blanditiis, doloremque corporis accusantium assumenda ullam porro unde. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore magnam minus excepturi optio molestias repellendus hic, eius est quas voluptas, pariatur ullam, sed animi iusto at voluptatibus aspernatur adipisci mollitia.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus quae consectetur minus! Excepturi, exercitationem at accusantium, quod dolore quam libero laboriosam totam consequatur culpa illum veniam quo perspiciatis atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, mollitia. Officiis in blanditiis qui nihil magni reprehenderit. Eius, cupiditate. Autem, quos. Sapiente blanditiis, doloremque corporis accusantium assumenda ullam porro unde. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore magnam minus excepturi optio molestias repellendus hic, eius est quas voluptas, pariatur ullam, sed animi iusto at voluptatibus aspernatur adipisci mollitia.
          p.text-center
            +img
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus quae consectetur minus! Excepturi, exercitationem at accusantium, quod dolore quam libero laboriosam totam consequatur culpa illum veniam quo perspiciatis atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, mollitia. Officiis in blanditiis qui nihil magni reprehenderit. Eius, cupiditate. Autem, quos. Sapiente blanditiis, doloremque corporis accusantium assumenda ullam porro unde. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore magnam minus excepturi optio molestias repellendus hic, eius est quas voluptas, pariatur ullam, sed animi iusto at voluptatibus aspernatur adipisci mollitia.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus quae consectetur minus! Excepturi, exercitationem at accusantium, quod dolore quam libero laboriosam totam consequatur culpa illum veniam quo perspiciatis atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, mollitia. Officiis in blanditiis qui nihil magni reprehenderit. Eius, cupiditate. Autem, quos. Sapiente blanditiis, doloremque corporis accusantium assumenda ullam porro unde. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore magnam minus excepturi optio molestias repellendus hic, eius est quas voluptas, pariatur ullam, sed animi iusto at voluptatibus aspernatur adipisci mollitia.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus quae consectetur minus! Excepturi, exercitationem at accusantium, quod dolore quam libero laboriosam totam consequatur culpa illum veniam quo perspiciatis atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, mollitia. Officiis in blanditiis qui nihil magni reprehenderit. Eius, cupiditate. Autem, quos. Sapiente blanditiis, doloremque corporis accusantium assumenda ullam porro unde. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore magnam minus excepturi optio molestias repellendus hic, eius est quas voluptas, pariatur ullam, sed animi iusto at voluptatibus aspernatur adipisci mollitia.

  section.section.bg-light.border-bottom
    .container
      h2.section__title Tin liên quan
      .row.g-30
        - for(let i = 0; i < 3; i++)
          .col-lg-4.col-md-6
            +news
