extends layout/page

block content
  +banner('Tin tức', 'Trang chủ', 'Tin tức', 'PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI')

  section.section
    .container
      .row.g-30
        .col-lg-8.col-xl-9.order-lg-1
          article.post
            img.d-block.w-100.mb-30(src="./images/post-banner.webp", alt="")
            h1.post-title PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI
            .post-info
              i.fal.fa-calendar-alt.me-2
              | Thứ Mon, 07/03/2022
            .post-content
              p Trong quá trình di chuyển không may bị va quệt, hư hỏng phần đầu xe và phần sau đuôi.
                br
                | Chủ xe Mazda 6 màu đỏ đã tìm đến Garage Quang Đức để Phục hồi xe bị va chạm.
                br
                | Sơn xước dăm lại những vị trí bị xước móp hư hỏng.
                br
                | Bảo dưỡng định kì đã tới mốc 40.000km
              p SƠN CHÍNH HÃNG NIPPON - BẢO HÀNH 1 NĂM - CHUẨN MÀU
              p Sơn xóa xước dăm, đổi màu, lazang, Bảo hiểm thân vỏ, sơn quây xe không lo về giá - Yên tâm về chất lượng PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI
              p - Sử dụng 100% sơn NIPPON, RM chính hãng.. Bảo Hành 1 năm
                br
                | - Sơn xe đẹp căng bóng như mới.
                br
                | - Chi phí sơn gò tiết kiệm.
                br
                | - Sơn xe bảo hành không bong tróc, không phai phai màu.
              p.text-center
                img(src="./images/post-img-1.jpg", alt="")
              p.text-center
                img(src="./images/post-img-2.jpg", alt="")
              p PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Tư vấn sửa chữa, báo giá miễn phí.
              p * Hình ảnh xe trước khi bị va chạm.
              p * Hình ảnh sau khi được Gò nắn Phục hồi căn chỉnh lại phần đầu  và đuôi xe.
                br
                | - Sơn lại theo code màu chuẩn theo xe.
                br
                | - Đánh Bóng bằng xi 3M.
                br
                | - Rửa dọn, hút bụi giao xe..
              p.text-center
                img(src="./images/post-img-3.jpg", alt="")
              p.text-center
                img(src="./images/post-img-4.jpg", alt="")
              p QuangDucAuto chuyên:
                br
                | PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Phục hồi - Trùng tu xe tai nạn, va chạm.
                br
                | PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Sơn gò xước dăm, móp méo quanh xe.
                br
                | PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Sơn đổi màu - Sơn lại màu gốc,Sơn Lazang...
                br
                | PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Bảo Dưỡng định kỳ - Đại tu máy - Kiểm tra tổng thể xe.
                br
                | PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Hỗ trợ thủ tục Bảo Hiểm Thân Vỏ - TNDS tất cả các hãng.
                br
                | PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Tư vấn Sửa Chữa Miễn Phí - Tận Tâm Với Khách Hàng - Bảo Hành Uy Tín - Chăm Sóc Trọn Đời - Cạnh Tranh Giá Thành - Thời Gian Nhanh Nhất ... đã làm nên thương hiệu QUANGDUCAUTO
                br
                | *********************************************************************
                br
                | PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Hotline / Zalo: 0962677726
                br
                | PHỤC HỒI MAZDA 6 VA CHẠM VỠ ĐÈN PHA - MÓP ĐUÔI HÔNG SAU ĐẸP NHƯ MỚI Địa chỉ: 1075 Giải Phóng, Giáp Bát, Hoàng Mai, Hà Nội.

          nav.mt-40
            img(src="./images/share-btns.png", alt="")

          section.relate-post.mt-40
            h2.relate-post__title Bài viết liên quan
            ul.relate-post__menu
              each item in ['Garage phục hồi xe ô tô tai nạn, va chạm tốt nhất tại Hà Nội','PHỤC HỒI XE TAI NẠN Ở ĐÂU TỐT TẠI HÀ NỘI?','BÁO‌ ‌GIÁ‌ ‌SƠN‌ ‌-‌ ‌BẢO‌ ‌ DƯỠNG‌ ‌XE‌ ‌NHANH‌ ‌CHÓNG‌ ‌TẠI‌ ‌ GARAGE‌ ‌QUANG‌ ‌ĐỨC‌ ‌','BẢO HIỂM Ô TÔ VÀ ĐIỀU CẦN BIẾT ĐỂ CHỌN GARA LÀM UY TÍN','ĐỊA CHỈ PHỤC HỒI XE TAI NẠN UY TÍN HÀ NỘI','VỆ SINH BUỒNG ĐỐT GIÁ RẺ - CHẤT LƯỢNG UY TÍN TẠI HÀ NỘI','DỌN NỘI THẤT - ĐÁNH BÓNG XE UY TÍN CHẤT LƯỢNG TẠI GARAGE QUANG ĐỨC','ĐỊA CHỈ BẢO DƯỠNG XE UY TÍN TẠI HÀ NỘI']
                li
                  a(href="#!")= item

          form.form-comment.mt-40(action="#!")
            h2.form-comment__title Viết bình luận của bạn:
            .row.gy-20.gx-30
              .col-lg-6
                input.form-control(type="text" placeholder="Họ tên:")
              .col-lg-6
                input.form-control(type="email" placeholder="Email:")
              .col-12
                textarea.form-control(rows="6", placeholder="Nội dung")
              .col-12
                button.button.button--dark(type="submit") Gửi bình luận

        .col-lg-4.col-xl-3
          section.aside
            h2.aside__title Liên kết
            ul.menu.menu-aside
              li.menu-item
                a.menu-link(href="#!") Trang chủ
              li.menu-item
                a.menu-link(href="#!") Giới thiệu
              li.menu-item.menu-item-group
                a.menu-link(href="#!") Dịch vụ
                span.menu-toggle
                ul.menu-sub
                  li.menu-item
                    a.menu-link(href="#!") Cứu hộ giao thông
                  li.menu-item
                    a.menu-link(href="#!") Tư vấn bảo hiểm
                  li.menu-item
                    a.menu-link(href="#!") Bảo trì, bảo dưỡng
                  li.menu-item
                    a.menu-link(href="#!") Dịch vụ gầm máy
                  li.menu-item
                    a.menu-link(href="#!") Vệ sinh xe
              li.menu-item
                a.menu-link(href="#!") Tin tức
              li.menu-item
                a.menu-link(href="#!") Liên hệ

          section.aside
            h2.aside__title Tin liên quan
            - for(let i = 0; i < 4; i++)
              .mb-4.ml-0
                +news-3

          section.aside
            h2.aside__title Tags
            nav.tags
              each item in ['ắc quy', 'ắc quy ô tô', 'bảo dưỡng', 'bảo hiểm', 'bảo hiểm bắt buộc', 'bảo hiểm bắt buộc xe ô tô phải có']
                a.tags__item(href="#!")= item
