extends layout/page

block content
  .container.pb-50
    a.d-block.mb-35(href="#!")
      img.d-block.w-100(src="./images/banner-horizontal.jpg", alt="")

    .row.g-30.g-xxl-50
      .col-lg-8.col-xl-9
        article.post
          h1.post__title Chân dung nhà đầu tư phố Wall đình đám Jay Gould: Tác giả của “NGÀY THỨ 6 ĐEN TỐI”, được mệnh danh là người đàn ông thông minh nhất nước Mỹ
          .post__info 08/08/2022 15:55 PM &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; Tin tức

          .border-bottom.border-top.py-3.my-20
            img(src="./images/post-sharing.png", alt="")

          .row.gx-3.gy-20
            .col-md-auto.floating-container
              div(style="min-width: 40px;")
              .floating(data-top='30')
                nav.post__social
                  a(href="#!")
                    i.fab.fa-fw.fa-facebook-f
                  a(href="#!")
                    i.fal.fa-fw.fa-envelope

            .col-md
              h2.post__intro Jay Gould- một trong những nhà đầu tư thành công nhất ở phố Wall vào thế kỉ 19, sau những ngày tháng làm việc không biết mệt mỏi đã tích góp được tài sản ước tính lên tới hàng tỷ đô la ngày nay.
              ul.post__menu
                - for(let i = 0; i < 3; i++)
                  li
                    a(href="#!") 02-08-2022 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Chân dung nhà đầu tư phố Wall đình đám Jay Gould: Tác giả của “NGÀY THỨ 6 ĐEN TỐI”, được mệnh danh là người đàn ông thông minh được mệnh danh là người đàn ông thông minh

              .post__content
                p.text-center
                  img(src="./images/post-img-1.jpg", alt="")
                p Sinh ra trong hoàn cảnh nghèo khó vào năm 1836, Jay Gould đã trở thành một trong những người đàn ông giàu nhất ở Mỹ trong Thời kỳ Mạ vàng (Gilded Age)  nhưng lại được ít người biết đến và ngưỡng mộ.  Điều này chủ yếu là do nhà đầu tư tài chính Phố Wall này đã làm mọi thứ, bất chấp thủ đoạn để kiếm tiền: Lách luật, thao túng cổ phiếu, hối lộ quan chức, đâm sau lưng bạn bè.  Không ai ngạc nhiên khi vào mùa xuân năm 1873, một nhà đầu tư xông vào bàn của Gould tại nhà hàng Delmonico’s và đấm vào mũi ông. Nhiều nơi cho cho rằng đây là chuyện “thường ngày ở huyện” xảy ra với Gould.
                p.text-center
                  img(src="./images/post-img-2.jpg", alt="")
                p Để kiếm lợi cho cá nhân, Gould sẽ sẵn sàng khiến cả thị trường đau khổ, lầm than- đây là nhận định của nhà báo Greg Steinmetz, được ông viết trong một cuốn sách về Gould.
                p Khi một công ty đường sắt phải ngừng thi công vì một bê bối một vụ kiện sắp xảy ra, Gould - lúc đó chỉ cao hơn 1,50m, 17 tuổi  đã đến cuộc họp và yêu cầu xây dựng tuyến đường sắt ngay lập tức. Anh ta nói với các giám đốc điều hành đường sắt rằng mình có đủ nhân lực để bắt đầu xây dựng ngay hôm nay. Bằng sự cương quyết của mình, Gould khiến phía đường sắt đồng ý, và sự nghiệp “lừng lẫy” của Gould được bắt đầu từ đó.
                p.text-center
                  img(src="./images/post-img-3.jpg", alt="")
                p Gould làm việc không ngừng nghỉ và không biết mệt mỏi, anh thường xuyên mất ngủ nhiều ngày,đến mức cơ thể suy nhược tự sinh bệnh. Hồi phục sau cơn sốt thương hàn năm 20 tuổi, anh làm việc tại một cửa hàng tổng hợp, cố gắng kết bạn với những người chủ. Nhưng khi một khách hàng muốn bán cho chủ một mảnh đất có giá trị, Gould đã tự mình mua nó.  Điều đó khiến anh ta mất việc, nhưng đổi lại. Gould đã kiếm được 5.000 đô la lợi nhuận (tương đương 100.000 đô la Mỹ hiện tại).
                p Năm 1856, một chủ xưởng thuộc da giàu có tên là Zadock Pratt muốn Gould đến khảo sát tài sản của ông ta, nhưng chàng trai trẻ lại đề nghị một giải pháp kinh doanh thay thế.
                p Gould nói dối về một khu rừng thuộc da, nơi họ có thể xây dựng một cơ sở mới. Pratt đồng ý, vì vậy Gould đi lang thang trong vùng hoang dã của Pennsylvania để tìm kiếm khu rừng anh đã trót khoác lác.  Khi tìm thấy nó, một xưởng thuộc da do Pratt và Gould đồng sở hữu đã được xây dựng. Gould đã bán da của xưởng thuộc da cho Pratt, cho đến khi Gould nhận ra mình có thể bán được giá tốt hơn ở Thành phố New York.  Mối quan hệ giữa hai bên kết thúc và lợi nhuận của Gould tăng lên.
                p Gould nhận ra ở thành phố New York, anh sẽ kiếm được nhiều tiền hơn trong việc mua và bán cổ phiếu thuộc da hơn là sản xuất chúng. Từ đó, Gould bước vào “thế giới đầy khói của cổ phiếu và trái phiếu”.
                p Ở Phố Wall, “bộ não và thông tin… là yếu tố quyết định thành công”, Steinmetz viết, và không ai giỏi hơn Gould.  “Anh ấy có phương pháp tốt, ham học hỏi hơn trong việc tìm kiếm thông tin chi tiết và kiên nhẫn với những điều vụn vặt”.
                p Chân dung nhà đầu tư phố Wall đình đám Jay Gould: Tác giả của NGÀY THỨ 6 ĐEN TỐI, được mệnh danh là người đàn ông thông minh nhất nước Mỹ - Ảnh 3.
                p.text-center
                  img(src="./images/post-img-4.jpg", alt="")
                p Gould từng bị bắt 3 lần nhưng chưa bao giờ ngồi tù dù chỉ 1 ngày. Ông luôn tìm được cách để thoát khỏi rắc rối nhờ hối lộ. Gould qua đời vì bệnh lao vào năm 1892, ở tuổi 56, với giá trị tài sản ước tính lên đến hàng tỷ đô la ngày nay.
                p.font-italic Nguồn: The New York Post
                p.text-end.fw-700 Yến Trang

              .text-end.mt-4
                .post__copy
                  span.me-3 Theo #[strong Tri Thức Tuổi Trẻ]
                  a.js-copy-link(href="https://www.google.com/")
                    i.fal.fa-copy.me-2
                    span Copy link

              .post__tags
                i.fas.fa-fw.fa-tags.me-2
                strong.me-2 Từ khoá:
                | #[a(href="#!") nhà đầu tư] , #[a(href="#!") thành phố New York] , #[a(href="#!") phố wall]

          section.section-4
            .section-4__header
              h2.section-4__title.me-auto CÙNG CHUYÊN MỤC

              form.n-filter
                span.n-filter__label XEM THEO NGÀY
                select.form-select.form-select-sm
                  option 21
                  option 22
                  option 23
                  option 24
                select.form-select.form-select-sm
                  option Tháng 8
                  option Tháng 9
                  option Tháng 10
                  option Tháng 11
                  option Tháng 12
                select.form-select.form-select-sm
                  option 2019
                  option 2020
                  option 2021
                  option 2022
                button.n-filter__btn(type="submit") Xem

            .row.gx-3.gy-4
              - for(let i = 0; i < 6; i++)
                .col-md-6.col-lg-4
                  +news-4

      .col-lg-4.col-xl-3.floating-container.text-center
        .floating(data-top='30')
          a(href="#!")
            img(src="./images/aside-banner.jpg", alt="")
