extends layout/page

block content
  +banner('Tin tức - Sự kiện', './images/banner-news.jpg', 'Trang chủ', 'Tin tức')

  .container.py-60.py-xl-80
    ul.news-category.mb-4.mb-xl-40
      li
        a.active(href="#!") TẤT CẢ
      li
        a(href="#!") TIN TRONG NƯỚC
      li
        a(href="#!") TIN QUỐC TẾ
      li
        a(href="#!") LĨNH VỰC HOẠT ĐỘNG
      li
        a(href="#!") BẢN TIN BIG HOLDING
      li
        a(href="#!") LÃNH ĐẠO

    .mb-3.mb-4.mb-xl-40
      +news-2

    .row.g-4.mb-4.mb-xl-40
      - for(let i = 0; i < 6; i++)
        .col-lg-4
          +news

    +pagination
