extends layout/page

block content
  section.section
    .container
      h1.section__title Tin tức

      .row.gx-xxl-40
        .col-lg-8
          .row
            .col-md-7
              +news-2
            .col-md-5.mt-20.mt-md-0
              - for(let i = 0; i < 4; i++)
                .mb-10.m-last-0
                  +news-3

          - for(let i = 0; i < 9; i++)
            .mt-20.mt-md-30
              +news

          nav.d-flex.mt-20.mt-md-30
            +pagination

        .col-lg-4.mt-30.mt-lg-0
          +as-banners
