extends layout/page

block content
  +od-grid
    .section__header
      a.section__link(href="#!")
        i.fal.fa-lg.fa-angle-left.me-2
        span Trở lại
      h1.section__title Chi tiết đơn hàng

    section.od-section.mt-3
      .od-section__header
        .od-section__icon
          i.fal.fa-fw.fal-lg.fa-store

        .od-section__title-wrap
          h2.od-section__title
            a.me-12(href="./order-detail.html") Cơ sở sản xuất miến dong Chiến Thọ
            a.badge.text-secondary.border-secondary(href="#!") Sàn Long An

          .od-section__infos
            a.od-section__info(href="mailto:daotao@ecomviet.vn")
              i.fal.fa-fw.fa-envelope.me-2
              span daotao@ecomviet.vn
            a.od-section__info(href="tel:024 2220 5365")
              i.fal.fa-fw.fa-phone.me-2
              span 024 2220 5365
            .od-section__info
              i.fal.fa-fw.fa-map-marker-alt.me-2
              span 25 Ngô Quyền - Quận Hoàn Kiếm - Hà Nội

        .od-section__badge
          span.badge.text-secondary.bg-secondary-light.ms-auto Đang giao hàng

      .od-section__body
        - for(let i = 0; i < 6; i++)
          +od-item

      .od-section__footer
        .od-section__btns.order-sm-1
          a.btn.btn-outline.px-30(href="./order-cancel.html") Huỷ đơn
        .text-sm-end
          .od-section__note
            i.fal.fa-fw.fa-clipboard-list.me-2.text-primary
            i.me-2 Ghi chú: Ship hàng vào giờ hành chính
            button.btn.btn-sm.btn-outline(type="button") Sửa

    .row.gx-3
      .col-lg-6.mt-3
        section.od-section
          .od-section__header
            .od-section__icon
              i.fal.fa-fw.fal-lg.fa-map-marker-alt
            .flex-grow-1 Địa chỉ nhận hàng
          .od-section__body
            div
              strong Nguyễn Thuỵ Dương
            .mt-2 0987654321
            .mt-2 Số 2 Đ. Kim Giang, Kim Giang, Thanh Xuân, Hà Nội
            .mt-2
              button.btn.btn-sm.btn-outline(type="button") Sửa

      .col-lg-6.mt-3
        +od-summary
