extends layout/page

block content
  +od-grid
    h1.section__title Đơn hàng

    +od-nav(1)

    +od-section('Hoàn thành', 'text-success bg-success-light', 'Đánh giá', 'btn-primary', '')
    - for(let i = 0; i < 2; i++)
      +od-section('Hoàn thành', 'text-success bg-success-light', 'Đánh giá', 'btn-primary', '')
      +od-section('Đang giao hàng', 'text-secondary bg-secondary-light', 'Huỷ đơn', 'btn-outline', '', './order-cancel.html')
      +od-section('Đã huỷ', 'text-primary bg-primary-light', 'Chi tiết hủy', 'btn-outline', 'Ghi chú: Đổi ý không mua nữa')

    .d-flex.justify-content-center.mt-3
      a.btn.btn-outline-primary.py-2.text-center(href="#!", style="min-width: 290px;")
        span.d-inline-block.py-2 Xem thêm
