extends layout/page

block content
  .layout
    .layout__title KHOA DU LỊCH
    .layout__body
      .post
        img.post__img(src="./images/post-img.jpg", alt="")
        .post__body
          .post__wrapper
            .post__content
              p Khoa Điều 7dưỡng được thành lập ngày 21/6/2010 và bắt đào tạo bậc đại học ngành Điều dưỡng hệ chính quy. Năm 2019, Khoa bắt đầu đào tạo thạc sĩ ngành Điều dưỡng.
              p Với đội ngũ giảng viên có uy tín về chuyên môn, cùng cơ sở vật chất thực hành được đầu tư bài bản, đến nay Khoa đã đào tạo được hơn 3.000 sinh viên với tỉ lệ việc làm ngay sau khi tốt nghiệp rất cao. Hiện nay, Khoa có hơn 1.000 sinh viên đang theo học.
              p Với định hướng quốc tế hóa, Khoa đang tích cực triển khai xây dựng các chương trình đào tạo mới theo định hướng tiêu chuẩn quốc tế nhằm cung cấp các kiến thức và kỹ năng cần thiết để sinh viên tốt nghiệp có thể đáp ứng yêu cầu công việc điều dưỡng tại các nước phát triển.

              p Khoa Điều 7dưỡng được thành lập ngày 21/6/2010 và bắt đào tạo bậc đại học ngành Điều dưỡng hệ chính quy. Năm 2019, Khoa bắt đầu đào tạo thạc sĩ ngành Điều dưỡng.
              p Với đội ngũ giảng viên có uy tín về chuyên môn, cùng cơ sở vật chất thực hành được đầu tư bài bản, đến nay Khoa đã đào tạo được hơn 3.000 sinh viên với tỉ lệ việc làm ngay sau khi tốt nghiệp rất cao. Hiện nay, Khoa có hơn 1.000 sinh viên đang theo học.
              p Với định hướng quốc tế hóa, Khoa đang tích cực triển khai xây dựng các chương trình đào tạo mới theo định hướng tiêu chuẩn quốc tế nhằm cung cấp các kiến thức và kỹ năng cần thiết để sinh viên tốt nghiệp có thể đáp ứng yêu cầu công việc điều dưỡng tại các nước phát triển.

              p Khoa Điều 7dưỡng được thành lập ngày 21/6/2010 và bắt đào tạo bậc đại học ngành Điều dưỡng hệ chính quy. Năm 2019, Khoa bắt đầu đào tạo thạc sĩ ngành Điều dưỡng.
              p Với đội ngũ giảng viên có uy tín về chuyên môn, cùng cơ sở vật chất thực hành được đầu tư bài bản, đến nay Khoa đã đào tạo được hơn 3.000 sinh viên với tỉ lệ việc làm ngay sau khi tốt nghiệp rất cao. Hiện nay, Khoa có hơn 1.000 sinh viên đang theo học.
              p Với định hướng quốc tế hóa, Khoa đang tích cực triển khai xây dựng các chương trình đào tạo mới theo định hướng tiêu chuẩn quốc tế nhằm cung cấp các kiến thức và kỹ năng cần thiết để sinh viên tốt nghiệp có thể đáp ứng yêu cầu công việc điều dưỡng tại các nước phát triển.

              p Khoa Điều 7dưỡng được thành lập ngày 21/6/2010 và bắt đào tạo bậc đại học ngành Điều dưỡng hệ chính quy. Năm 2019, Khoa bắt đầu đào tạo thạc sĩ ngành Điều dưỡng.
              p Với đội ngũ giảng viên có uy tín về chuyên môn, cùng cơ sở vật chất thực hành được đầu tư bài bản, đến nay Khoa đã đào tạo được hơn 3.000 sinh viên với tỉ lệ việc làm ngay sau khi tốt nghiệp rất cao. Hiện nay, Khoa có hơn 1.000 sinh viên đang theo học.
              p Với định hướng quốc tế hóa, Khoa đang tích cực triển khai xây dựng các chương trình đào tạo mới theo định hướng tiêu chuẩn quốc tế nhằm cung cấp các kiến thức và kỹ năng cần thiết để sinh viên tốt nghiệp có thể đáp ứng yêu cầu công việc điều dưỡng tại các nước phát triển.

              p Khoa Điều 7dưỡng được thành lập ngày 21/6/2010 và bắt đào tạo bậc đại học ngành Điều dưỡng hệ chính quy. Năm 2019, Khoa bắt đầu đào tạo thạc sĩ ngành Điều dưỡng.
              p Với đội ngũ giảng viên có uy tín về chuyên môn, cùng cơ sở vật chất thực hành được đầu tư bài bản, đến nay Khoa đã đào tạo được hơn 3.000 sinh viên với tỉ lệ việc làm ngay sau khi tốt nghiệp rất cao. Hiện nay, Khoa có hơn 1.000 sinh viên đang theo học.
              p Với định hướng quốc tế hóa, Khoa đang tích cực triển khai xây dựng các chương trình đào tạo mới theo định hướng tiêu chuẩn quốc tế nhằm cung cấp các kiến thức và kỹ năng cần thiết để sinh viên tốt nghiệp có thể đáp ứng yêu cầu công việc điều dưỡng tại các nước phát triển.

              p Khoa Điều 7dưỡng được thành lập ngày 21/6/2010 và bắt đào tạo bậc đại học ngành Điều dưỡng hệ chính quy. Năm 2019, Khoa bắt đầu đào tạo thạc sĩ ngành Điều dưỡng.
              p Với đội ngũ giảng viên có uy tín về chuyên môn, cùng cơ sở vật chất thực hành được đầu tư bài bản, đến nay Khoa đã đào tạo được hơn 3.000 sinh viên với tỉ lệ việc làm ngay sau khi tốt nghiệp rất cao. Hiện nay, Khoa có hơn 1.000 sinh viên đang theo học.
              p Với định hướng quốc tế hóa, Khoa đang tích cực triển khai xây dựng các chương trình đào tạo mới theo định hướng tiêu chuẩn quốc tế nhằm cung cấp các kiến thức và kỹ năng cần thiết để sinh viên tốt nghiệp có thể đáp ứng yêu cầu công việc điều dưỡng tại các nước phát triển.

          .post__info.mt-20
            p.mb-2(style="font-size: 1.125em") Thông tin liên hệ
            ul
              li
                i.fal.fa-map-marker-alt.fa-fw.me-2
                | Phòng 602, nhà A8 - Trường Đại học Phenikaa
              li
                i.fal.fa-envelope.fa-fw.me-2
                a(href="mailto:fn@phenikaa-uni.edu.vn") fn@phenikaa-uni.edu.vn
              li
                i.fal.fa-globe.fa-fw.me-2
                a(href="fn.phenikaa-uni.edu.vn") fn.phenikaa-uni.edu.vn

          .row.gx-3.gx-lg-20
            .col-6.mt-3.mt-lg-20
              a.post__btn(href="#!") Tìm hiểu thêm
            .col-6.mt-3.mt-lg-20
              a.post__btn(href="./videos.html") Xem thêm video
