extends layout/page

block content
  div(style="height: 180px;")

  // Post
  section.s-post
    .container
      h1.s-post__title ỨNG DỤNG THỰC TẾ ẢO CHO TRƯỜNG HỌC

      .row.align-items-center
        .col-lg-6.mb-4
          .s-post__frame
            img(src="./images/post-img-1.jpg", alt="")
        .col-lg-6.mb-4
          .s-post__label Bài viết cùng chủ đề
          ul.s-post-menu
            li
              a(href="#!")
                span.fw-300 VR Tour:
                br
                | KHU CĂN HỘ CAO CẤP MASTERI WEST HEIGHTS
            li
              a(href="#!")
                span.fw-300 Xu hướng du lịch
                br
                | thực tế ảo trong thời kỳ “bình thường mới”
            li
              a(href="#!")
                span.fw-300 SỰ KIỆN
                br
                | THỰC TẾ ẢO THAY THẾ SỰ KIỆN TRUYỀN THỐNG?
            li
              a(href="#!")
                span.fw-300 ADIDAS KHỞI ĐỘNG
                br
                | CHIẾN DỊCH THỰC TẾ ẢO VR TẠI TRUNG QUỐC
            li
              a(href="#!")
                span.fw-300 CÔNG NGHỆ
                br
                | THỰC TẾ ẢO CHO THỜI TRANG

      h2.s-post__intro Giải pháp Tour 360 (không gian 360) ứng dụng công nghệ thực tế ảo cho trường học sẽ giúp cho các trường học giới thiệu được chi tiết về tình trạng cơ sở vật chất, không gian khuôn viên tới cho các phụ huynh. Giúp họ trải nghiệm trực tiếp và ra quyết định lựa chọn một cách nhanh chóng.

      .row.align-items-center
        .col-lg-6.mb-3
          .s-post__menu
            .s-post__menu-title Nội dung bài viết  [#[a.s-post__menu-toggle(href="#!") ẩn]]
            .s-post__menu-content
              //- ul
              //-   li
              //-     a(href="#!")  1. Giải pháp thực tế ảo cho trường học
              //-   li
              //-     a(href="#!")  2. Xu hướng ứng dụng tour 360 trên thế giới và Việt Nam
              //-   li
              //-     a(href="#!")  3. Giải pháp Virtual Tour 360 cho Trường học
              //-     ul
              //-       li
              //-         a(href="#!") 3.1 Trải nghiệm không gian chân thực của trường học
              //-       li
              //-         a(href="#!") 3.2 Lựa chọn từng khu vực để khám phá
              //-       li
              //-         a(href="#!") 3.3 Trải nghiệm chi tiết thiết kế bên trong tour thực tế ảo cho trường học
              //-       li
              //-         a(href="#!") 3.4 Đăng kí theo học
              //-   li
              //-     a(href="#!")  4. Tính năng tiêu biểu tích hợp trong Virtual Tour 360 cho trường học
              //-     ul
              //-       li
              //-         a(href="#!") 4.1 Định vị trên Google Maps
              //-       li
              //-         a(href="#!") 4.2 Sa bàn ảo trong tour 360 cho trường học
              //-       li
              //-         a(href="#!") 4.3 Sơ đồ mặt bằng di chuyển trong tour thực tế ảo cho trường học
              //-       li
              //-         a(href="#!") 4.4 Tích hợp Model 3D trong tour thực tế ảo cho trường học
              //-       li
              //-         a(href="#!") 4.5 Tour guide ảo
              //-       li
              //-         a(href="#!") 4.6 Video trực tiếp với khách hàng (Live Guide Tour)
              //-       li
              //-         a(href="#!") 4.7 Tích hợp Video 2D trong tour thực tế ảo cho trường học
              //-   li
              //-     a(href="#!")  5. Dịch vụ thiết kế Virtual Tour 360 cho trường học chuyên nghiệp

        .col-lg-6.mb-3
          .s-post__label CÓ THỂ BẠN QUAN TÂM
          ul.s-post-menu
            li
              a(href="#!")
                span.fw-300 Thực tế ảo là gì?
                br
                | Ứng dụng của thực tế ảo trong marketing
            li
              a(href="#!")
                span.fw-300 Giải pháp ứng dụng
                br
                | thực tế ảo và thực tế ảo tăng cường.....
            li
              a(href="#!")
                span.fw-300 Chụp hình 360
                br
                | gây sự chú ý trong sự kiện
            li
              a(href="#!")
                span.fw-300 Giải pháp
                br
                | thực tế ảo cho cửa hàng ô tô
            li
              a(href="#!")
                span.fw-300 Ứng dụng
                br
                | thực tế ảo cho trường học

      .s-post__content.mt-30.js-post-content
        h2 1. Giải pháp thực tế ảo cho trường học
        .row
          .col-lg-6.mb-3
            .s-post__frame
              img(src="./images/post-img-2.jpg", alt="")
            p.text-center.fw-300.mt-2
              small Trung tâm tuyển sinh trường Đại học Binghamton trong tour 360
          .col-lg-6.mb-3
            p Nhiều phụ huynh/học sinh cần nghiên cứu kỹ hơn về việc chọn trường nhưng lại không có điều kiện để đi ra ngoài. Lúc này website trường học của bạn sẽ là giải pháp đầu tiên mà phụ huynh – học sinh nghĩ đến để tham khảo. VR Tour thực tế ảo cho trường học đang là xu hướng và giải pháp công nghệ tối ưu bậc nhất cho trải nghiệm trường học của khách hàng, được tích hợp ngay trên chính website của bạn. Khi mà khách hàng có thể dễ dàng di chuyển tại chính không gian thực của trường học chỉ bằng những cú click chuột, và còn được trải nghiệm, khám phá mọi khu vực qua nhiều góc nhìn khác nhau. Từ đó, phụ huynh/học sinh sẽ cảm thấy tin tưởng và ấn tượng hơn cả.
        h2 2. Xu hướng ứng dụng tour 360 trên thế giới và Việt Nam
        p.text-center.mb-10
          img(src="./images/post-img-3.jpg", alt="")
        p.text-center
          small Nhanh chóng bắt kịp với xu hướng công nghệ mới, nhiều trường học danh tiếng thế giới đã triển khai giải pháp thực tế ảo cho cơ sở của mình. Trong đó phải kể đến những cái tên như: Đại học Harvard, Đại học Binghamton,…
        h2 3. Giải pháp Virtual Tour 360 cho Trường học
        h3 3.1 Trải nghiệm không gian chân thực của trường học
        .row
          .col-lg-7.mb-3
            .s-post__frame.ratio.ratio-16x9
              iframe(width='560' height='315' src='https://www.youtube.com/embed/HfvKZUwh3Zg' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
          .col-lg-5.mb-3
            p Điều đầu tiên và quan trọng nhất trong một tour trải nghiệm và tham quan trường học bằng công nghệ thực tế ảo là sẽ thu hút khách truy cập trang web của bạn nhiều hơn. Thay vì cuộn qua các trang khác nhau trong một trang web và cảm thấy phát điên để tìm thông tin cần thiết nào đó, chuyến tham quan không gian 360 sẽ hướng dẫn người xem đi đến mọi khu vực của trường học và cung cấp cho họ tất cả thông tin cần thiết chỉ tại một nơi. Các chuyến tham quan không gian thực tế ảo cho trường học được phân loại tỉ mỉ thành các phần khác nhau và chỉ trong vài cú nhấp chuột, phụ huynh / học sinh có thể thấy được tất cả những gì họ đang tìm kiếm. Điều này mang lại cho họ một ấn tượng rất lâu dài.
        h3 3.2 Lựa chọn từng khu vực để khám phá
        p Công nghệ thực tế ảo sử dụng máy Scan chuyên dụng để lấy dữ liệu số hóa của không gian như màu sắc, vật dụng,… . Nhờ vậy mà tái hiện được chính xác 100% không gian thật. Cho phép phụ huynh di chuyển trong không gian và tham quan từng khu vực trường học dưới nhiều góc độ khác nhau. Từ đó, có thể hình dung rõ nét hơn về cảnh quan và cơ sở vật chất của trường học.
        p Với Tour 360 thực tế ảo cho trường học, khách hàng có thể lựa chọn giữa việc di chuyển theo dấu mũi tên, giống như trải nghiệm ngoài thực tế, di chuyển và tham quan từng khu vực một. Hoặc người xem có thể lựa chọn di chuyển đến khu vực mong muốn qua bản đồ được tích hợp ngay trên màn hình hiển thị.
        p Bằng công nghệ này, khách có thể đến mọi khu vực cơ sở vật chất, môi trường học tập và sinh hoạt của người học. Chỉ cần một cú nhấp chuột, phụ huynh/ học sinh có thể thấy chi tiết từng khu vực trong khuôn viên trường như: trung tâm tư vấn tuyển sinh, trung tâm sáng tạo – khởi nghiệp, công viên, trung tâm tích hợp, phòng học lý thuyết, trung tâm thực hành công nghệ, ký túc xá, căn tin….

  // Tour
  section.s-tour
    .container
      img.d-block.w-100(src="./images/s-tour-img.jpg", alt="")
      .s-tour__label Không gian bên trong trường Đại học Phenikaa.
      .s-tour__title Cùng trải nghiệm dự án VR 360 tour trường Phenikaa

      .ratio.ratio-16x9.mx-auto(style="max-width: 1100px;")
        iframe(width='560' height='315' src='https://www.youtube.com/embed/lrwrfHzKU4Q' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .frame-overlay.js-frame-overlay
          img(src="./images/play-btn.png", alt="")

  // Form
  form.s-form
    .container
      .s-form__desc
        p.text-uppercase Nếu bạn cũng đang đi tìm một giải pháp tương tự, hãy liên hệ ngay với chúng tôi để được hỗ trợ nhanh chóng nhất:
        p(style="font-size: 1.25em") VR PLUS – Giải pháp thực tế ảo, thực tế ảo tăng cường hàng đầu tại Việt Nam.
          br
          | Email: #[a(href="mailto:hello@vrplus.vn") hello@vrplus.vn]
          br
          | Hotline: #[a(href="tel:(+84) 963.186.388") (+84) 963.186.388]
          br
          | Website: #[a(href="www.vrplus.vn") www.vrplus.vn]
        p(style="font-size: 1.25em") Email của bạn sẽ không được hiển thị công khai. Các trường bắt buộc được đánh dấu *

      .row.align-items-center
        .col-lg-8
          .mb-3
            label.form-label Bình luận
            textarea.form-control(rows="4")
          .mb-3
            label.form-label Tên *
            input.form-control(type="text" required)
          .mb-3
            label.form-label Email *
            input.form-control(type="email" required)
          .mb-3
            label.form-label Trang web
            input.form-control(type="text")

        .col-sm-8.col-lg-4.text-center.mx-auto
          img(src="./images/service-banner-img.png", alt="")