extends layout/page

block content
  .layout
    .layout__title Đại tiện ích
    .layout__body
      .layout__grid.post
        .layout__aside
          .post__content
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non harum quisquam temporibus inventore, dolorem adipisci blanditiis? Sit possimus quibusdam in ipsa accusantium a, impedit cum tempore maxime fuga similique non!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A distinctio ipsa natus accusamus nulla consectetur, vitae fuga nesciunt cumque nostrum enim tenetur aliquid omnis pariatur, ratione voluptas eveniet. Ut, quis?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A distinctio ipsa natus accusamus nulla consectetur, vitae fuga nesciunt cumque nostrum enim tenetur aliquid omnis pariatur, ratione voluptas eveniet. Ut, quis?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A distinctio ipsa natus accusamus nulla consectetur, vitae fuga nesciunt cumque nostrum enim tenetur aliquid omnis pariatur, ratione voluptas eveniet. Ut, quis?
        .layout__main
          img.post__img(src="./images/post-1.png", alt="")
