extends layout/page

block content
  // banner
  +banner('./images/banner-about.jpg', 'Trang chủ', 'BỘ DAO BẾP ĐỦ MÓN CHO MỌI NHÀ', 'Bộ dao bếp cao cấp - Thép nhíp ô tô - Cán cẩm khâu đồng - CBC / HTX DAO PHÚC SEN')

  // content
  section.section
    .container
      section.pd-detail.mb-50
        .row.g-30.g-xl-60
          .col-lg-5
            +preview
          .col-lg-7
            section.pd-detail
              h1.pd-detail__name Rìu đi rừng R05ATB
              .pd-detail__info
                div Mã SP: #[span.text-primary R05ATB]
                div Thương hiệu: #[span.text-primary HTX DAO PHÚC SEN]
                div Loại: #[span.text-primary RÌU ĐI RỪNG]
                div Tình trạng: #[span.text-primary Còn hàng]
              .pd-detail__price 460,000₫
              .pd-detail__title
                span.me-10 Tiêu đề

                .title-picker
                  label.title-picker__item
                    input(type="radio", name="title-picker")
                    span Default title
                  label.title-picker__item
                    input(type="radio", name="title-picker")
                    span Other title

              .pd-detail__contact
              .d-flex.flex-wrap.align-items-center
                .pd-detail__quantity.me-3
                  +quantity
                .pd-detail__btns
                  a.pd-detail__btn(href="#!") Thêm vào giỏ
                  a.pd-detail__btn(href="#!") Mua ngay

      .pd-label Mô tả sản phẩm
      .section__content
        p Bộ dao gồm 4 loại dao khác nhau đáp ứng mọi nhu cầu chế biến cũng như nấu ăn hàng ngày:
          br
          | - G06TDD dao chặt xương cứng: như xương ống, chân giò, thủ lợn...
          br
          | - G05TDD dao chặt xương mềm: như gà , vịt, sườn, băm thịt....
          br
          | - G03TDD dao thái: chuyên thái mỏng thịt, cá , rau củ...
          br
          | - G09TDD dao chuyên lọc bản mỏng nhẹ mũi nhọn giúp cho việc lọc thịt, cá dễ dàng
        p.text-center
          img(src="./images/post-img-1.webp", alt="")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi aspernatur consequuntur consequatur eum alias necessitatibus, explicabo laborum rem magni, excepturi eos voluptas, ut dignissimos vero itaque at! Blanditiis, numquam accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolorem impedit architecto doloribus error nesciunt a odio iusto sit. Perferendis dolor deserunt maxime libero iusto laudantium mollitia eveniet ex corrupti.
        p.text-center
          img(src="./images/post-img-2.jpg", alt="")
        p.text-center
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi aspernatur consequuntur consequatur eum alias necessitatibus, explicabo laborum rem magni, excepturi eos voluptas, ut dignissimos vero itaque at! Blanditiis, numquam accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolorem impedit architecto doloribus error nesciunt a odio iusto sit. Perferendis dolor deserunt maxime libero iusto laudantium mollitia eveniet ex corrupti.
          img(src="./images/post-img-3.jpg", alt="")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi aspernatur consequuntur consequatur eum alias necessitatibus, explicabo laborum rem magni, excepturi eos voluptas, ut dignissimos vero itaque at! Blanditiis, numquam accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolorem impedit architecto doloribus error nesciunt a odio iusto sit. Perferendis dolor deserunt maxime libero iusto laudantium mollitia eveniet ex corrupti.
        p.text-center VIDEO CHI TIẾT SẢN PHẨM:
        .ratio.ratio-16x9
          iframe(width='560' height='315' src='https://www.youtube.com/embed/tYzvbbP0xM0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

  section.section.section--red.pt-0
    .container
      .section__header
        .section__title-wrap
          h2.section__title
            span SẢN PHẨM TƯƠNG TỰ
      .section__desc Các sản phẩm có tính năng tương tự
      .row.g-30
        - for(let i = 0; i < 4; i++)
          .col-6.col-lg-3
            +product('product--light')

  section.section.section--red.pt-0
    .container
      .section__header
        .section__title-wrap
          h2.section__title
            span SẢN PHẨM ĐÃ XEM
      .section__desc Những sản phẩm của chúng tôi mà bạn đã xem
      .row.g-30
        - for(let i = 0; i < 4; i++)
          .col-6.col-lg-3
            +product('product--light')
