extends layout/page

block content
  +banner('./images/banner-product.jpg', 'Sản phẩm')

  section.my-40.mt-lg-50.mb-lg-80
    .container
      nav.mb-40
        +breadcrumb('Trang chủ', 'Sản phẩm', 'Băng xoá')

      .row.g-40.g-xxl-60
        .col-lg-8.col-xl-9.order-lg-1
          +pd-bar

          +product-grid

          nav.d-flex.justify-content-center.mt-40.mt-xxl-60
            +pagination

        .col-lg-4.col-xl-3.floating-container
          .floating(data-top="100")
            nav.aside.wow.fadeInUp(data-wow-delay="0.3s")
              h3.aside__heading Danh mục sản phẩm
              .aside__body
                +menu-product

            a.as-banner.mt-30.wow.fadeInUp(href="#!", data-wow-delay="0.3s")
              img(src="./images/banner-aside.jpg", alt="")
