extends layout/page

block content
  +banner('Sản phẩm', 'Trang chủ', 'Sản phẩm')

  section.section
    .container
      // h1.section__title Sản phẩm
      // .section__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, sint eligendi itaque nobis cumque, repellat voluptates accusantium cupiditate blanditiis natus atque? Voluptatem cum quos nemo id maxime? Laboriosam, earum ab?
      .row.g-3.col-sm-20
        - for(let i = 0; i < 12; i++)
          .col-6.col-md-4.col-xl-3
            +product

      nav.d-flex.justify-content-center.mt-30.mt-xl-60
        +pagination
