extends layout/page

block content
  section.section
    .container
      // banner

      // Thương hiệu nổi bật

      // Danh mục sản phẩm
      .row.g-12
        .col-auto
          .sidebar
            section.aside
              h3.aside__title.aside__title--lg Danh mục

              ul.pd-menu
                each item, index in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang – Phụ kiện nữ','Thời trang – Phụ kiện nam','Vật tư nông nghiệp','Thiết bị điện tử','Gia dụng – Đời sống','Siêu thị – Tạp hoá','Thời trang – Phụ kiện','Sức khoẻ – Làm đẹp','Thể thao – Du lịch Mẹ và bé']
                  li.pd-menu__item
                    a.pd-menu__link(class=index==1?'active':'', href="#!")= item

            section.aside
              h3.aside__title Khoảng giá

              .row.g-2.align-items-center
                .col
                  input.form-control.fs-12.js-number-input(type="text", placeholder="Từ")
                .col-auto -
                .col
                  input.form-control.fs-12.js-number-input(type="text", placeholder="Đến")
                .col-12.d-grid
                  button.btn.btn-sm.btn-primary Áp dụng

            section.aside
              h3.aside__title Nơi bán
              each item in ['Hà Nội','Hồ Chí Minh','Huế','Đà Nẵng','Yên Bái','Vũng Tàu','Quảng Ninh']
                .mb-10.m-last-0
                  +checkbox
                    span=item

            section.aside
              h3.aside__title Đánh giá
              .d-flex.flex-column
                label.star-select
                  input.js-star-rating-filter(type="checkbox")
                  span.star-select__bg
                  span.stars.stars--5
                label.star-select
                  input.js-star-rating-filter(type="checkbox")
                  span.star-select__bg
                  span.stars.stars--4
                  span Từ 4 sao
                label.star-select
                  input.js-star-rating-filter(type="checkbox")
                  span.star-select__bg
                  span.stars.stars--3
                  span Từ 3 sao
                label.star-select
                  input.js-star-rating-filter(type="checkbox")
                  span.star-select__bg
                  span.stars.stars--2
                  span Từ 2 sao
                label.star-select
                  input.js-star-rating-filter(type="checkbox")
                  span.star-select__bg
                  span.stars.stars--1
                  span Từ 1 sao

        .col
          // nav tab

          // product grid
          +product-grid
