extends layout/page

block content
  section.pt-3.pb-40
    .container
      section.section-4.mt-3
        .row.g-4
          .col-lg-5.col-xl-6
            +preview

          .col-lg
            section.product-detail
              h1.product-detail__title Trà thảo mộc kê quan hoa
              .product-detail__price 160.000 ₫
              .product-detail__old-price 120.000đ
              .product-detail__location Nơi bán:
                span.ms-3
                  i.fal.fa-map-marker-alt.me-2
                  | Thành phố Hà Nội
              .product-detail__stars
                span.stars.stars--5
                span (23)&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;(23) đã bán

              .d-flex.align-items-center.mb-3
                span.me-3 Số lượng
                +quantity('quantity--lg quantity--square')
              .d-grid
                a.btn.btn-primary.text-white.py-12(href="#!") Mua hàng

          .col-lg
            .shop
              .row.g-2
                .col-auto
                  a.shop__frame(href="./shop.html")
                    img(src="./images/shop.jpg", alt="")
                .col
                  .shop__name Tên Shop
                  .shop__location
                    i.fal.fa-map-marker-alt.me-2
                    | Thành phố Hà Nội
                  a.shop__btn(href="./shop.html") Xem shop
              .shop__body
                table
                  tbody
                    tr
                      td Đánh giá
                      td 2.000
                    tr
                      td Sản phẩm
                      td 123
                    tr
                      td Tỉ lệ phản hồi
                      td 95%
                    tr
                      td Thời gian phản hồi
                      td Trong vài giờ
                    tr
                      td Tham gia
                      td 1 năm trước
                    tr
                      td Người theo dõi
                      td 12345

      section.section-4.mt-3
        ul.nav.pd-tabs
          li.nav-item
            a.nav-link.active(href='#pd-tab-1', data-bs-toggle='tab') Mô tả
          li.nav-item
            a.nav-link(href='#pd-tab-2', data-bs-toggle='tab') Chi tiết sản phẩm
        .tab-content
          #pd-tab-1.tab-pane.fade.show.active
            .section-4__body
              p Sản phẩm OCOP 3 sao
              p Sản lượng: 1000l/năm
              p Tinh dầu Quế Quế Phát được sản xuất hoàn toàn từ nguyên liệu tự nhiên với thành phần chính là Quế.
              p Hàm lượng: Thuỷ Ngân:< 0,05mmg/l;
              p Hàm lượng: CHì <2mmg/l; Acetic acid, cinnamyl ester: 8,3%
              p Công dụng:
              p - Khử mùi hôi
              p - Chống say tàu xe
              p - Làm thơm quần áo
              p - làm mặt nạ dưỡng da
              p - Thư giãn tinh thần, giảm stress, mệt mỏi
              p - Điều trị cảm cúm, cảm lạnh, ho, long đờm.
              p - Giảm đau nhức xương khớp, đau mỏi vai gáy
              p - Xông để khử mùi tanh, thanh lọc không khí, làm thơm dịu phòng
              p - Khả năng cung ứng:500l/năm
          #pd-tab-2.tab-pane.fade
            .section-4__body
              table
                tbody
                  tr
                    td.pb-2.pe-3 Nhãn hiệu tương thích:
                    td.pb-2.pe-3 Khác
                  tr
                    td.pb-2.pe-3 Xuất xứ:
                    td.pb-2.pe-3 CN (Xuất xứ)
                  tr
                    td.pb-2.pe-3 Loại:
                    td.pb-2.pe-3 Thời trang
                  tr
                    td.pb-2.pe-3 Các tính năng:
                    td.pb-2.pe-3 Winder
                  tr
                    td.pb-2.pe-3 Thiết kế:
                    td.pb-2.pe-3 Đơn giản
                  tr
                    td.pb-2.pe-3 Thiết kế:
                    td.pb-2.pe-3 Hoạt hình dễ thương
                  tr
                    td.pb-2.pe-3 Chất liệu:
                    td.pb-2.pe-3 TPU

      section.section-4.mt-3.pb-0
        h2.section-4__title Đánh giá sản phẩm

        .row.g-4
          .col-auto
            .rating
              .rating__point
                strong 4.9
                span /5
              .rating__stars.stars.stars--5
              .rating__comments 123 đánh giá
          .col
            .rating-count
              .rating-count__item
                span.stars.stars--5
                span.rating-count__bar
                  span(style="width: 59%;")
                span.rating-count__number 123
              .rating-count__item
                span.stars.stars--4
                span.rating-count__bar
                  span(style="width: 34%;")
                span.rating-count__number 56
              .rating-count__item
                span.stars.stars--3
                span.rating-count__bar
                  span(style="width: 5%;")
                span.rating-count__number 24
              .rating-count__item
                span.stars.stars--2
                span.rating-count__bar
                  span(style="width: 1%;")
                span.rating-count__number 16
              .rating-count__item
                span.stars.stars--1
                span.rating-count__bar
                  span(style="width: 1%;")
                span.rating-count__number 3

        - for(let i = 0; i < 4; i++)
          +feedback

        nav.d-flex.border-top.py-2.mt-20
          +pagination

      section.section-2.pb-0.mt-40
        h2.section-2__title.text-secondary.mb-20 Gợi ý cho bạn

        .row.g-2.g-sm-20
          - for(let i = 0; i < 8; i++)
            .col-6.col-lg-3
              +product
