extends layout/page

block content
  section.section-3.section-3--light-blue.pb-30.pb-xl-50
    .container
      .banner-grid.row.g-3
        .banner-grid__col.col
          .position-relative.h-100
            +banner-slider('banner-slider--absolute', 1)
        .banner-grid__col.col-auto
          .row.g-12
            .col-6.col-lg-12
              +card-slider-2
            .col-6.col-lg-12
              +card-slider-2

  section.py-3
    .container
      .row.g-30
        .col-lg-9.order-lg-1
          section.section-2
            h1.section-2__title Vật tư nông nghiệp
            nav.pd-nav
              .pd-nav__label Sắp xếp theo

              button.pd-nav__filter.btn.btn-primary.btn-sm.js-open-sidebar.text-white.d-lg-none(type="button")
                i.fal.fa-filter.me-2
                | Filter

              select.form-select
                option Phổ biến
                option Mới nhất
                option Bán chạy
                option Giá cao tới thấp
                option Giá thấp tới cao

              .pd-nav__paging.ms-auto
                span.text-primary 1
                span /20
              .pd-nav__prev
                i.fal.fa-angle-left
              .pd-nav__next
                i.fal.fa-angle-right

            .row.g-2.g-sm-3.g-xl-30
              - for(let i = 0; i < 9; i++)
                .col-6.col-md-4
                  +product

            nav.d-flex.mt-3
              +pagination

        .col-lg-3
          .sidebar.js-sidebar
            .sidebar__backdrop.js-close-sidebar
            .sidebar__content
              .sidebar__header
                button.sidebar__close.js-close-sidebar(type="button")
                  span Close
                  i.fal.fa-arrow-right.ms-2
              section.aside.d-none.d-lg-block
                nav.menu-nav.menu-nav--static
                  .menu-product-wrapper.w-100
                    .menu-nav__title.menu-nav__title--darker
                      | Danh mục

                    ul.menu.menu-product
                      each item, index in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang nữ','Thời trang nam','Vật tư nông nghiệp','Thiết bị điện tử','Gia dụng – Đời sống','Siêu thị – Tạp hoá','Thời trang trẻ em','Sức khoẻ – Làm đẹp','Thể thao – Du lịch']
                        li.menu-item.menu-item-group
                          a.menu-link(href="#!")
                            img(src=`./images/menu-icon-${index + 1}.png`, alt="")
                            = item
                          span.menu-toggle
                          ul.menu.menu-sub(data-title=item)
                            each item2 in ['Sản phẩm OCOP','Đặc sản vùng miền','Thời trang – Phụ kiện nữ','Thời trang – Phụ kiện nam','Vật tư nông nghiệp']
                              li.menu-item
                                a.menu-link(href="#!")= item2

              section.aside
                h3.aside__title Khoảng giá

                .row.g-2.align-items-center
                  .col
                    input.form-control.form-control-sm.js-number-input(type="text", placeholder="Từ")
                  .col-auto -
                  .col
                    input.form-control.form-control-sm.js-number-input(type="text", placeholder="Đến")
                  .col-auto
                    button.btn.btn-sm.btn-primary.text-white Áp dụng

              section.aside
                h3.aside__title Nơi bán
                each item in ['Hà Nội','Hồ Chí Minh','Huế','Đà Nẵng','Yên Bái','Vũng Tàu','Quảng Ninh']
                  .mb-10.m-last-0
                    +checkbox
                      span=item

              section.aside
                h3.aside__title Đánh giá
                .d-flex.flex-column
                  label.star-select
                    input.js-star-rating-filter(type="checkbox")
                    span.star-select__bg
                    span.stars.stars--5
                  label.star-select
                    input.js-star-rating-filter(type="checkbox")
                    span.star-select__bg
                    span.stars.stars--4
                    span Từ 4 sao
                  label.star-select
                    input.js-star-rating-filter(type="checkbox")
                    span.star-select__bg
                    span.stars.stars--3
                    span Từ 3 sao
                  label.star-select
                    input.js-star-rating-filter(type="checkbox")
                    span.star-select__bg
                    span.stars.stars--2
                    span Từ 2 sao
                  label.star-select
                    input.js-star-rating-filter(type="checkbox")
                    span.star-select__bg
                    span.stars.stars--1
                    span Từ 1 sao
