extends layout/page

block content
  +od-grid
    .section__header
      h1.section__title Đổi mật khẩu

    section.pf-section
      .pf-section__body
        .row.gx-60
          form.col-xl-6.border-xl-end(action="#!")
            .mb-3
              label.form-label.text-gray Mật khẩu hiện tại
              input.form-control(type="password", value="", placeholder="Mật khẩu hiện tại")
            .mb-3
              label.form-label.text-gray Mật khẩu mới
              input.form-control(type="password", value="", placeholder="Mật khẩu mới")
            .mb-3
              label.form-label.text-gray Xác nhận mật khẩu
              input.form-control(type="password", value="", placeholder="Xác nhận mật khẩu")
            .d-flex.gap-3
              button.btn.btn-primary.px-30(type="submit") Lưu
              button.btn.btn-outline.px-4(type="reset") Nhập lại

          .col-xl-6.pf-content
            ul
              li Có ít nhất 8 ký tự
              li Phải có đủ các loại ký tự: chữ in hoa (từ A đến Z), chữ in thường (từ a đến z), số (từ 0 đến 9)
              li Hai ký tự liên tiếp bất kỳ trong mật khẩu không trùng với hai ký tự liên tiếp bất kỳ trong tên sử dụng (username) hoặc tên đầy đủ của người sử dụng (full name)
