extends layout/page

block content
  .wow.fadeInUp(data-wow-delay="0.15s", data-wow-duration="2s")
    article.banner.wow.fadeInUp(data-wow-delay="0.15s", data-wow-duration="1s")
      img.banner__bg(src='./images/banner-project.jpg', alt="")
      .container
        .row.align-items-center
          .col-lg
            .banner__title.text-start Lĩnh vực
              br
              | hoạt động
            .banner__breadcrumb.justify-content-start
              +breadcrumb('Trang chủ', 'Lĩnh vực hoạt động')
          .col-lg-auto.mt-4.mt-lg-0
            .calendar.wow.fadeInRight(data-wow-delay="1.5s")
              .calendar__label LỊCH SỰ KIỆN
              - for(let i = 0; i < 3; i++)
                .calendar__item
                  .row.g-10.align-items-center
                    .calendar__title.col
                      a(href="#!") [WEBINAR] Kinh nghiệm thực tế trong quản lý và kinh doanh
                    .calendar__time.col-auto
                      div 12/06/2022
                      div 08:00 - 12:00

    nav.project-nav
      a.active(href="#!") CÔNG NGHỆ & CÔNG NGHIỆP
      a(href="#!") THƯƠNG MẠI & DỊCH VỤ
      a(href="#!") TƯ VẤN ĐẦU TƯ
      a(href="#!") THIỆN NGUYỆN XÃ HỘI
      a(href="#!") TƯ VẤN ĐẦU TƯ
      a(href="#!") THIỆN NGUYỆN XÃ HỘI
      a(href="#!") TƯ VẤN ĐẦU TƯ
      a(href="#!") THIỆN NGUYỆN XÃ HỘI

  .container.py-60.py-xl-80
    .mb-60.mb-xl-80
      +project-2

    .row.g-30.gy-xl-50
      - for(let i = 0; i < 6; i++)
        .col-lg-4.wow.fadeInUp(data-wow-delay=`${i % 3 * 0.1 + 0.1}s`)
          +project(`./images/brand-${i}.png`)

    nav.mt-40.mt-xl-50
      +pagination
