extends layout/page

block content
  nav
    .container
      +breadcrumb('Trang chủ', 'Ấn phẩm')

  section.section
    .container
      h2.section__title Ấn phẩm

      .row.g-3.g-lg-20.g-xl-4
        - for(let i = 0; i < 12; i++)
          .col-md-6
            +publication

      nav.mt-20.mt-lg-30
        +pagination
