extends layout/page

block content
  +banner('Tuyển dụng', './images/banner-recruit.jpg', 'Trang chủ', 'Tuyển dụng')

  .container.py-60.py-xl-80.wow.fadeInUp(data-wow-delay="0.15s")
    .row.g-30.gx-xl-40
      .col-lg-3
        form.recruit-search.mb-2.d-lg-none(action="")
          .input-group
            input.form-control(type="text", placeholder="Bạn đang tìm kiếm công việc gì?")
            button.input-group-text
              i.fal.fa-search

        form.filter
          button.filter__btn.button.mb-2.d-lg-none(type="button")
            i.fal.fa-filter.me-2
            | Filter
          .filter__box
            h3.filter__label Loại công việc
            .mt-1
              +checkbox
                span Toàn thời gian
            .mt-1
              +checkbox
                span Bán thời gian
            h3.filter__label Cấp bậc
            .mt-1
              +checkbox
                span Quản lý
            .mt-1
              +checkbox
                span Nhân viên chính thức
            .mt-1
              +checkbox
                span Cộng tác viên
            .mt-1
              +checkbox
                span Thực tập sinh
            h3.filter__label Ngành nghề
            .mt-1
              +checkbox
                span Bán hàng - Kinh doanh
            .mt-1
              +checkbox
                span Hành chính - Nhân sự
            .mt-1
              +checkbox
                span Marketing
            .mt-1
              +checkbox
                span Kế toán - Tài chính

      .col-lg-9
        form.recruit-search.d-none.d-lg-block.mb-40(action="")
          .input-group
            input.form-control(type="text", placeholder="Bạn đang tìm kiếm công việc gì?")
            button.input-group-text
              i.fal.fa-search

        .row.g-20
          - for(let i = 0; i < 6; i++)
            .col-lg-6
              +recruit

        nav.mt-40
          +pagination

    section.subscribe-form
      .row.g-30.gx-xl-40
        .col-lg-3.js-left-content
          img.w-100(src="./images/subscribe-img.jpg", alt="")
        .col-lg-7.js-right-content
          h2.subscribe-form__title Đăng ký nhận tin tuyển dụng từ BIG HOLDING
          .subscribe-form__desc Lorem ipsum dolor sit amet, con sec tetur adipiscing elit. Nullam nec ante ac mi pellen tesque pulvinar. Donec rhon cus tempus tellus a venenatis.
          .row.g-3
            .col-md-5
              .subscribe-form__contact
                .row.align-items-center.g-3
                  .col-auto
                    i.fas.fa-2x.fa-fw.fa-phone-square.text-primary
                  .col
                    a(href="tel:024.9999.8900") 024.9999.8900
            .col-md-7
              .subscribe-form__contact
                .row.align-items-center.g-3
                  .col-auto
                    i.fas.fa-2x.fa-fw.fa-envelope.text-primary
                  .col
                    a(href="mailto:tuyendung@bigholding.com.vn") tuyendung@bigholding.com.vn
          form.form.mt-4(action="#!")
            .row.gx-30.gy-3
              .col-md-6
                input.form-control(type="text", placeholder="Họ và tên*", required)
              .col-md-6
                input.form-control(type="text", placeholder="Địa chỉ email*", required)
              .col-12
                button.button(type="submit") ĐĂNG KÝ NHẬN TIN
