extends layout/page

block content
  article.banner
    img(src="./images/banner-1.jpg", alt="")

  nav.news-nav
    .container
      .news-nav__list
        a.news-nav__item(href="./news.html")
          .news-nav__icon
            img(src="./images/icon-news.png", alt="")
          .news-nav__label Tin IPN
        a.news-nav__item.active(href="./recruit.html")
          .news-nav__icon
            img(src="./images/icon-recruit.png", alt="")
          .news-nav__label Tin tuyển dụng

  section.section
    .container
      article.recruit-detail
        .row.mb-3
          .col
            h1.recruit-detail__title Nhân viên content
          .col-auto
            a.recruit-detail__btn(href="#!") Ứng tuyển ngay
        .recruit-detail__content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Quyền lợi được hưởng:
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p.fw-700 II. Yêu cầu khác
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum necessitatibus. Aut corrupti saepe ipsam error, blanditiis maxime doloribus odit totam quae laboriosam dignissimos accusamus minus officia neque aliquid.
