extends layout/page

block content
  +banner('Dịch vụ - Sản phẩm', 'Trang chủ', 'Dịch vụ - Sản phẩm')

  section.section
    .container
      h1.section__title.text-center
        span Dịch vụ hỗ trợ khai báo xuất xứ hàng hóa (C/O)


      .section__content
        .row
          .col-lg-6.mb-3
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed integer metus sit ultrices porttitor dictum proin sagittis. Malesuada eget faucibus lacinia enim venenatis convallis. Nec nisi quis faucibus vulputate est, dictumst molestie nibh. A, posuere leo etiam cras felis diam nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed integer metus sit ultrices porttitor dictum proin sagittis. Malesuada eget faucibus lacinia enim venenatis convallis. Nec nisi quis faucibus vulputate est, dictumst molestie nibh. A, posuere leo etiam cras felis diam nunc. Malesuada eget faucibus lacinia enim venenatis convallis. Nec nisi quis faucibus vulputate est, dictumst molestie nibh. A, posuere leo etiam cras felis diam nunc.
          .col-lg-6.mb-3
            p
              img.w-100(src="./images/service-3.jpg", alt="")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed integer metus sit ultrices porttitor dictum proin sagittis. Malesuada eget faucibus lacinia enim venenatis convallis. Nec nisi quis faucibus vulputate est, dictumst molestie nibh. A, posuere leo etiam cras felis diam nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed integer metus sit ultrices porttitor dictum proin sagittis. Malesuada eget faucibus lacinia enim venenatis convallis. Nec nisi quis faucibus vulputate est, dictumst molestie nibh. A, posuere leo etiam cras felis diam nunc. Malesuada eget faucibus lacinia enim venenatis convallis. Nec nisi quis faucibus vulputate est, dictumst molestie nibh. A, posuere leo etiam cras felis diam nunc.

  section.section
    .container
      h1.section__title.section__title--sm
        span DỊCH VỤ KHÁC

      .row.gx-40.gy-60
        .col-lg-4.col-md-6
          .service
            a.service__frame(href="./service-detail.html")
              img(src="./images/service-1.jpg", alt="")
            .service__body
              img.service__icon(src="./images/icon-puzzle.png", alt="")
              h3.service__title
                a(href="./service-detail.html") Dịch vụ đào tạo
              .service__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed integer metus sit ultrices porttitor dictum proin sagittis. Malesuada eget faucibus lacinia enim venenatis convallis. Nec nisi quis faucibus vulputate est, dictumst molestie nibh. A, posuere leo etiam cras felis diam nunc. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet officiis hic modi, atque ea beatae tempora. Laboriosam maiores tenetur deleniti vel doloremque libero nesciunt earum vitae quo pariatur, quae id!
              a.service__link(href="./service-detail.html")
                i.fal.fa-arrow-right

        .col-lg-4.col-md-6
          .service
            a.service__frame(href="./service-detail.html")
              img(src="./images/service-2.jpg", alt="")
            .service__body
              img.service__icon(src="./images/icon-advise.png", alt="")
              h3.service__title
                a(href="./service-detail.html") Dịch vụ tư vấn (tư vấn liên quan đến TMĐT)
              .service__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed integer metus sit ultrices porttitor dictum proin sagittis. Malesuada eget faucibus lacinia enim venenatis convallis. Nec nisi quis faucibus vulputate est, dictumst molestie nibh. A, posuere leo etiam cras felis diam nunc. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet officiis hic modi, atque ea beatae tempora. Laboriosam maiores tenetur deleniti vel doloremque libero nesciunt earum vitae quo pariatur, quae id!
              a.service__link(href="./service-detail.html")
                i.fal.fa-arrow-right

        .col-lg-4.col-md-6
          .service
            a.service__frame(href="./service-detail.html")
              img(src="./images/service-3.jpg", alt="")
            .service__body
              img.service__icon(src="./images/icon-trans.png", alt="")
              h3.service__title
                a(href="./service-detail.html") Dịch vụ hỗ trợ khai báo xuất xứ hàng hóa (C/O)
              .service__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed integer metus sit ultrices porttitor dictum proin sagittis. Malesuada eget faucibus lacinia enim venenatis convallis. Nec nisi quis faucibus vulputate est, dictumst molestie nibh. A, posuere leo etiam cras felis diam nunc. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet officiis hic modi, atque ea beatae tempora. Laboriosam maiores tenetur deleniti vel doloremque libero nesciunt earum vitae quo pariatur, quae id!
              a.service__link(href="./service-detail.html")
                i.fal.fa-arrow-right

  section.section.pb-0
    .container
      h1.section__title.section__title--sm
        span SẢN PHẨM KHÁC

      .row.gx-40.gy-60.pb-20
        .col-lg-6
          +product('./images/service-1.jpg', 'EKIP')
        .col-lg-6
          +product('./images/service-2.jpg', 'ECVN')
        .col-lg-6
          +product('./images/service-3.jpg', 'VIETNAM EXPORT')

  section.section.s-partner
    .container
      .position-relative
        +partner-slider
