extends layout/page

block content
  // banner
  section.service-banner
    img.service-banner__bg(src="./images/service-banner-bg.png", alt="")
    .service-banner__wrapper
      .container
        .service-banner__inner
          img.service-banner__text(src="./images/service-banner-text.png", alt="")
          img.service-banner__img(src="./images/service-banner-img.png", alt="")

    .container
      .service-banner__desc
        p.text-uppercase Đại lý #[span.text-info VR CLICK STUDIO] là một Creative Agency tiên phong trong lĩnh vực nghiên cứu và cung cấp các giải pháp thực tế ảo và thực tế ảo tăng cường (AR), video 360, sản xuất các nội dung 3D / 360, đồng thời tư vấn tích hợp những công nghệ này trên các nền tảng khác nhau, các giải pháp & chiến lược marketing tổng thể của bạn.

  // services
  section.s-service
    img.s-service__bg(src="./images/s-service-bg.jpg", alt="")
    .container
      .s-service__grid
        a.s-service__item(href="#!")
          .s-service__frame
            img(src="./images/service-1.jpg", alt="")
          .s-service__content
            .s-service__title Không gian 360
            .s-service__subtitle VIRTUAL TOUR 360
        a.s-service__item(href="#!")
          .s-service__frame
            img(src="./images/service-2.jpg", alt="")
          .s-service__content
            .s-service__title Diễn Hoạ 3d
        a.s-service__item(href="#!")
          .s-service__frame
            img(src="./images/service-3.jpg", alt="")
          .s-service__content
            .s-service__title Website vr
            .s-service__subtitle website 360
        a.s-service__item(href="#!")
          .s-service__frame
            img(src="./images/service-4.jpg", alt="")
          .s-service__content
            .s-service__title giả pháp
              br
              | sa bàn ảo
        a.s-service__item(href="#!")
          .s-service__frame
            img(src="./images/service-5.jpg", alt="")
          .s-service__content
            .s-service__title livestream 360
        a.s-service__item(href="#!")
          .s-service__frame
            img(src="./images/service-6.jpg", alt="")
          .s-service__content
            .s-service__title VR booth
              br
              | thực tế ảo
        a.s-service__item(href="#!")
          .s-service__frame
            img(src="./images/service-7.jpg", alt="")
          .s-service__content
            .s-service__title Tương tác 3d
        a.s-service__item(href="#!")
          .s-service__frame
            img(src="./images/service-8.jpg", alt="")
          .s-service__content
            .s-service__title Phòng chiếu ảo
        a.s-service__item(href="#!")
          .s-service__frame
            img(src="./images/service-9.jpg", alt="")
          .s-service__content
            .s-service__title Nội dung 3d - hình ảnh & quay chụp phim 360 (video 360)

  // intro
  +s-intro
