extends layout/page

block content
  // Banner
  section.solution-banner
    img.solution-banner__bg(src="./images/solution-banner-bg.png", alt="")
    .container
      .solution-banner__text
        img(src="./images/solution-banner-text.png", alt="")

  // Solutions
  section.n-solution
    .container
      .n-solution__grid
        a.n-solution__item(href="#!")
          .n-solution__frame
            img(src="./images/solution-1.jpg", alt="")
          .n-solution__content
            .n-solution__title Công nghệ thực tế ảo cho thời trang
            .n-solution__subtitle Blog/ giải pháp/ giái pháp thực tế ảo/ showroom 360
        a.n-solution__item(href="#!")
          .n-solution__frame
            img(src="./images/solution-2.jpg", alt="")
          .n-solution__content
            .n-solution__title Giải pháp số hoá 3d, đưa mọi vật vào thực tế ảo
            .n-solution__subtitle Blog/ giải pháp/giải pháp thực tế ảo
        a.n-solution__item(href="#!")
          .n-solution__frame
            img(src="./images/solution-3.jpg", alt="")
          .n-solution__content
            .n-solution__title giải pháp công nghệ thực tế ảo cho sự kiện
            .n-solution__subtitle Giải pháp/giải pháp thực tế ảo
        a.n-solution__item(href="#!")
          .n-solution__frame
            img(src="./images/solution-4.jpg", alt="")
          .n-solution__content
            .n-solution__title VR click studio THỰC HIỆN DỰ ÁN VR TOUR 360 CHO BẢO TÀNG VNPT VINAPHONE
            .n-solution__subtitle Blog/ giải pháp thực tế ảo/ vr tour
        a.n-solution__item(href="#!")
          .n-solution__frame
            img(src="./images/solution-5.jpg", alt="")
          .n-solution__content
            .n-solution__title Ứng dụng công nghệ thực tế ảo trong y tế
            .n-solution__subtitle Giải pháp/ giải pháp thực tế ảo/ vr tour

  // Công nghệ - Giải pháp
  section.s-solution.pb-30.pb-md-50.pb-xl-60
    .container
      ul.nav.solution-tabs
        li.nav-item
          a.nav-link.js-solution-tab.active(href='#solution-tab-1', data-bs-toggle='tab') Công nghệ
        li.nav-item
          a.nav-link.js-solution-tab(href='#solution-tab-2', data-bs-toggle='tab') Giải pháp

      .tab-content
        #solution-tab-1.tab-pane.fade.show.active
          .s-solution__grid
            .s-solution__aside
              +card-slider-2
            .s-solution__main
              +solution-slider-2
        #solution-tab-2.tab-pane.fade
          .s-solution__grid
            .s-solution__aside
              +card-slider
            .s-solution__main
              +solution-slider

  // Intro
  +s-intro
