extends layout/page

block content
  section.section
    .container
      .row.g-30
        .col-lg-9.order-lg-1
          article.post
            nav.mb-30
              +breadcrumb('Trang chủ', 'Giới thiệu', 'Sơ đồ tổ chức')

            section.section.py-0.mt-30
              h2.section__title Sơ đồ tổ chức

              .profile.mb-4.wow.fadeInUp(data-wow-delay="0.2s")
                .profile__frame
                  img(src="./images/profile-1.jpg", alt="")
                .profile__body
                  .profile__name Lê Triệu Dũng
                  .profile__pos CỤC TRƯỞNG
                  .profile__info
                    i.fal.fa-fw.fa-envelope.me-2
                    a(href="mailto:dungLT@moit.gov.vn")  dungLT@moit.gov.vn
                  .profile__info
                    i.fal.fa-fw.fa-phone.me-2
                    a(href="tel:(024) 73037898") (024) 73037898 (101)

              .profile.mb-4.wow.fadeInUp(data-wow-delay="0.3s")
                .profile__frame
                  img(src="./images/profile-2.jpg", alt="")
                .profile__body
                  .profile__name CHU THANG TRUNG
                  .profile__pos PHÓ CỤC TRƯỞNG
                  .profile__info
                    i.fal.fa-fw.fa-envelope.me-2
                    a(href="mailto:dungLT@moit.gov.vn") dungLT@moit.gov.vn
                  .profile__info
                    i.fal.fa-fw.fa-phone.me-2
                    a(href="tel:(024) 73037898") (024) 73037898 (103)

              .mt-30
                each item in ['Văn phòng cục','Phòng Điều tra bán phá giá và trợ cấp','Phòng Điều tra thiệt hại và tự vệ','Phòng Xử lý phòng vệ thương mại nước ngoài','Phòng Pháp chế','Trung tâm Thông tin và Cảnh báo']
                  .departure.wow.fadeInUp(data-wow-delay="0.2s")
                    .departure__header= item
                    .departure__body
                      .table-responsive
                        table.table
                          thead
                            tr
                              th Họ và tên
                              th Chức vụ
                              th Điện thoại
                              th Hộp thư
                          tbody
                            - for(let i = 0; i < 2; i++)
                              tr
                                td ĐẶNG XUÂN TÂM
                                td Chánh Văn phòng
                                td (024) 73037898 (119)
                                td TamDX@moit.gov.vn
                              tr
                                td NGUYỄN THỊ THU HÀ
                                td Phó chánh Văn phòng
                                td (024) 73037898 (120)
                                td HaNTHTH@moit.gov.vn

        .col-lg-3
          nav.as-menu
            h3.as-menu__title Tin tức
            ul.as-menu__list
              li.as-menu__item
                a.as-menu__link(href="./about.html") Giới thiệu chung
              li.as-menu__item
                a.as-menu__link(href="./about.html") Chức năng nhiệm vụ
              li.as-menu__item
                a.as-menu__link.active(href="./structure.html") Sơ đồ tổ chức

          a.d-block.mt-4(href="#!")
            img.w-100.rounded(src="./images/as-banner.jpg", alt="")

          section.section.py-0.mt-4
            h3.section__title.mb-3 Video
            +video-2
