extends layout/page

block content
  .subtitle
    .subtitle__title Subtitle
    .subtitle__desc Vị trí tâm mạch chiến lược của Thành phố phía Đông , nơi sở hữu siêu hạ tầng giao thông kết nối nghìn tỉ của cao tốc Hà Nội - Hải Phòng, nút giao Cổ Linh và các cây cầu, vành đai chiến lược trong tương lai
    .subtitle__footer.mt-3
      label.subtitle__switcher
        input(type="checkbox")
        span
          img.subtitle__sun(src="./images/icon-sun.png", alt="")
          img.subtitle__moon(src="./images/icon-moon.png", alt="")

      .subtitle__btns.mt-3
        a.subtitle__btn(href="#!") Tổng mặt bằng
        a.subtitle__btn.subtitle__btn--white(href="#!") Layout điển hình
