extends layout/page

block content
  section.section
    .container
      h2.section__title Video

      .row.g-3.g-lg-20.g-xl-30
        - for(let i = 0; i < 12; i++)
          .col-6.col-lg-4
            +video

      nav.mt-20.mt-lg-30.mt-xl-40
        +pagination
