extends layout/page

block content
  .layout
    .layout__title.js-video-title KHOA DU LỊCH
    .layout__body
      .videos
        .videos__body
          .ratio.ratio-16x9
            iframe.videos__frame(width='560' height='315' src='https://www.youtube.com/embed/ZUEBpjhEzfk' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
          .videos__list
            .videos__item
              .n-video.ratio.ratio-16x9(data-video-id="cjFFhgG1-RE", title="Khoa học cơ bản")
                img.n-video__img(src=`https://img.youtube.com/vi/cjFFhgG1-RE/sddefault.jpg`, alt="")
                .n-video__overlay
            .videos__item
              .n-video.ratio.ratio-16x9(data-video-id="FrYFkQtw-Z4", title="Ngoại ngữ")
                img.n-video__img(src=`https://img.youtube.com/vi/FrYFkQtw-Z4/sddefault.jpg`, alt="")
                .n-video__overlay
            .videos__item
              .n-video.ratio.ratio-16x9(data-video-id="W0yZiZ37_GE", title="Công nghệ thông tin")
                img.n-video__img(src=`https://img.youtube.com/vi/W0yZiZ37_GE/sddefault.jpg`, alt="")
                .n-video__overlay
            .videos__item
              .n-video.ratio.ratio-16x9(data-video-id="51cFprE-Mb0", title="Điều dưỡng")
                img.n-video__img(src=`https://img.youtube.com/vi/51cFprE-Mb0/sddefault.jpg`, alt="")
                .n-video__overlay
            .videos__item
              .n-video.ratio.ratio-16x9(data-video-id="pt3L21X0lR4", title="Điện - Điện tử")
                img.n-video__img(src=`https://img.youtube.com/vi/pt3L21X0lR4/sddefault.jpg`, alt="")
                .n-video__overlay

        .videos__aside
          .videos__btns
            - for(let i = 0; i < 2; i++)
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Khoa học cơ bản
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Ngoại ngữ
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Công nghệ thông tin
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Điều dưỡng
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Điện - Điện tử
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Công nghệ sinh học, Hóa học..
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Cơ khí - Cơ điện tử
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Khoa học và kỹ thuật vật liệu
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Kỹ thuật ô tô và năng lượng
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Dược
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Du lịch
              a.videos__btn(href="#!", data-list='[{"title":"Khoa học cơ bản","id":"Z1_tEu5W9Fk"},{"title":"Ngoại ngữ","id":"WMod_QVas_o"},{"title":"Công nghệ thông tin","id":"GL0l0ksWxpM"},{"title":"Điều dưỡng","id":"h-nGiMyFai8"},{"title":"Điện - Điện tử","id":"ajZ_XkSk1V8"},{"title":"Công nghệ sinh học, Hóa học..","id":"yRql5UCNevk"},{"title":"Cơ khí - Cơ điện tử","id":"4aZZCM5u_BM"},{"title":"Khoa học và kỹ thuật vật liệu","id":"4jZghHLr_so"},{"title":"Dược","id":"GL0l0ksWxpM"},{"title":"Du lịch","id":"h-nGiMyFai8"},{"title":"Kỹ thuật Y học","id":"m4krwZ_gEXU"}]') Kỹ thuật Y học
