extends layout/page

block content
  section.section.bg-light.overflow-hidden.banner-2
    svg.banner-2__circle-1(viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50" fill="currentColor")
    svg.banner-2__circle-2(viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50" fill="currentColor")
    svg.banner-2__circle-3(viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50" fill="currentColor")
    img.banner-2__img(src="./images/vr-360.png", alt="")
    .container
      .section__subtitle.text-start.mb-2
        span CÔNG NGHỆ VR 360
      h2.section__title.text-start.mb-0 CÔNG NGHỆ CỦA
        br
        | SỰ ĐỔI MỚI
      .banner-2__desc.mt-3.mt-lg-20 Công nghệ thực tế ảo (Công nghệ VR) là công nghệ được sử dụng để mô phỏng môi trường giả lập bằng phần mềm chuyên dụng. Nó được phát triển dựa trên không gian thực tế hoặc xây dựng trên không gian ảo. VR được ứng dụng trong nhiều lĩnh vực như: giáo dục, y tế, bất động sản, du lịch,... Cung cấp giải pháp cho chiến lược Marketing và truyền thông hiệu quả cho thương hiệu
      .mt-3.mt-lg-20
        a.banner-2__link(href="#!") Xem thêm

  section.section.overflow-hidden
    svg.position-absolute.top-50.start-0.text-danger(viewBox="0 0 100 100", style="z-index: -1; width: 12vw; transform: translate(-50%, -80%);")
      circle(cx="50" cy="50" r="50" fill="currentColor")
    svg.position-absolute.top-50.start-0.text-primary(viewBox="0 0 100 100", style="z-index: -1; width: 18vw; transform: translate(-85%, -25%);")
      circle(cx="50" cy="50" r="50" fill="currentColor")
    svg.position-absolute.bottom-0.end-0(viewBox="0 0 100 100", style="z-index: -1; width: 32vw; transform: translate(25%, 25%); color: #F2F3FF;")
      circle(cx="50" cy="50" r="50" fill="currentColor")
    .container
      .section__subtitle
        span GIẢI PHÁP VR 360
      h2.section__title SẢN PHẨM CỦA CHÚNG TÔI

      .row.g-4.g-xxl-60
        .col-lg-9.order-lg-1
          .row.g-3.g-xl-4
            - for(let i = 0; i < 9; i++)
              .col-6.col-md-4
                +product

          .mt-4.mt-xl-40.text-center
            a.n-btn.n-btn--light(href="#!") Load more

        .col-lg-3
          ul.as-menu
            each item, index in ["TẤT CẢ","BẤT ĐỘNG SẢN","DU LỊCH","SHOWROOM 360","GIÁO DỤC","TRIỂN LÃM ẢO","KCN - NHÀ MÁY","NHÀ HÀNG - KHÁCH SẠN","VĂN PHÒNG"]
              li
                a(class=index?'':'active', href="#!")= item

  section.section.overflow-hidden.bg-light
    svg.position-absolute.bottom-0.end-0.text-primary(viewBox="0 0 100 100", style="z-index: -1; width: 12vw; transform: translate(60%, -35%);")
      circle(cx="50" cy="50" r="50" fill="currentColor")
    svg.position-absolute.bottom-0.end-0.text-danger(viewBox="0 0 100 100", style="z-index: -1; width: 18vw; transform: translate(30%, 50%);")
      circle(cx="50" cy="50" r="50" fill="currentColor")
    .container
      .row.align-items-center.justify-content-between.g-30.mb-30.mb-lg-40.mb-xl-60
        .col-auto
          .section__subtitle.text-start
            span GIẢI PHÁP VR 360
          h2.section__title.text-start.mb-0 CÁC LĨNH VỰC
            br
            | ỨNG DỤNG VR 360
        .col-auto
          a.n-btn(href="#!", data-bs-toggle="modal", data-bs-target=".md-pricing") Yêu cầu báo giá

      +research-slider
